body {
  font-family:'lucida grande', 'helvetica neue', verdana, helvetica, sans-serif;
  background:#fff url(../images/legend.gif) no-repeat fixed right 130px;
  color:#100;
  line-height:1.3;
  margin:0;
}

/* HEADER */
#head img {
  padding:0 20px 0 30px;
  vertical-align:middle;
  margin-top:-5px;
  border:0;
}
#head h1 {
  font-family:'lucida grande', verdana, helvetica, sans-serif;
  font-size:2.3em;
  font-weight:bold;
  letter-spacing:0px;
  color:#100;
  background:#f3f1e8;
  line-height:1;
  margin:0;
  padding:15px 0;
}
#head h1 a, #head h1 a:link, #head h1 a:visited, #head h1 a:hover {
  color:#100;
  text-decoration:none;
}
#head ul {
  font-size:0.8em;
  font-weight:bold;
  background:#c7c1b5;
  letter-spacing:1px;
  margin:0;
  padding:0.25em 40px;
}
#head ul li {
  display:inline;
  list-style-type:none;
  padding:0 1.5em 0 0;
}
#head ul a, #head ul a:link, #head ul a:visited {
  color:#333;
  text-decoration:none;
}
#head ul a:hover {
  color:#000;
  text-decoration:underline
}

/* CONTENT */

#content {
  color:#222;
  font-size:1.25em;
  max-width:42em;
  margin:20px 40px 0 40px;
}
#content h1:first-child {
  margin-top:0;
}

/* HEADINGS */

h1, h2, h3, h4, h5, h6 {
  color:#000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  font-size:230%;
  font-family:georgia;
  font-weight:normal;
  letter-spacing:-3px;
  margin:0.3em 0;
}
h2 {
  color: #222;
  font-size: 160%;
  font-family:georgia;
  font-weight:normal;
  letter-spacing:-2px;
}
h3 {
  font-weight:bold;
  font-size:110%;
  color:#444;
  margin:1em 0 0.2em;
  letter-spacing:-1px;
}
h4 {
  font-weight:bold;
  font-size:100%;
  color:#100;
}

/* LINKS */

a {
  color:#1177DD;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}
a img {
  border:none;
}
h1 a { color:#222 }
h2 a, h3 a { color:#333 }


/* CODE */

code, pre, textarea {
  font-family:"Deja Vu Sans Mono", "Bitstream Vera Sans Mono", "Inconsolata", "Consolas", monospace;
}
pre {
  margin:0.5em 0;
  padding:0.5em;
}
pre {
  margin:1em 0;
  font-size:90%;
  background-color:#f3f1e8;
  border:1px solid #dedede;
  padding:0.25em 0.5em;
  line-height:1.2em;
  color:#000;
}
pre code {
  padding:0;
  font-size:100%;
  background-color:#f3f1e8;
  border:none;
}
code {
  font-size:90%;
  color:#444;
}

/* MISC */

hr {
  margin:2em 0;
  padding:0;
}
.maruku_toc {
  margin:1em 0;
}

/* HOME */

.pipe {
  clear:both;
  padding:40px 0;
}
.pipe p {
  color:#000;
  font-size:82px;
  font-family:georgia,serif;
  letter-spacing:-3px;
  line-height:1.2;
  text-align:left;
  margin:0.6em 0 0 55%;
}
.pipe pre {
  font-size:38px;
  background:transparent;
  float:left;
  width:55%;
  padding:0;
  margin:0;
  border-width:0;
}
.pipe pre code {
  color:#666;
  background:transparent;
}
.pipe.right p {
  text-align:right;
  margin:0.3em 70% 0 0;
  font-size:65px;
}
.pipe.right pre {
  float:right;
  width:62%;
  font-size:30px;
}

/* BLOG POSTS */

p.meta {
  font-size:0.8em;
  color:#555;
  margin-top:0;
}
div.post {
  margin:2em 0;
}
div.post h1 {
  text-decoration:underline;
  font-size:1.8em;
}
