---
title: Sinatra
id: home
---

<head>
  {% include head.html %}
</head>

<section class='index-navbar'>
  {% include navbar.html %}
</section>

<body id='sinatra-bg'>

  <pre id='sinatra-joke'><code id='sinatra-syntax'>
    <h1 id='index-header'>Sinatra</h1>

    <span id='require'>require </span><span class='code-quotes'>‘</span><span class='code-text'>sinatra</span><span class='code-quotes'>’</span>
    <span id='code-method-name'>get </span><span class='code-quotes'>‘</span><span class='code-text'>/frank-says</span><span class='code-quotes'>’ </span><span class='code-block'>do</span>
      <span class='code-quotes'>‘</span><span class='code-text'>Put this in your pipe & smoke it!</span><span class='code-quotes'>’</span>
    <span class='code-block'>end</span>
  </code></pre>

</body>
