<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{ page.title }}</title>
<link rel='stylesheet' href='/sinatra.github.com/css/legend.css' type='text/css' media="screen, projection">
<link rel='stylesheet' href='/sinatra.github.com/css/application.css' type='text/css' media="screen, projection">
<link rel='stylesheet' href='/sinatra.github.com/css/syntax.css' type='text/css' media="screen, projection">
<link rel='stylesheet' href='/sinatra.github.com/css/print.css' type='text/css' media="print">
<link rel='shortcut icon' href='/images/favicon.ico'>
<link rel='alternate' href='http://sinatra.github.com/feed.xml' type='application/atom+xml' title='Sinatra Blog'>
