<div id='head'>

  <ul id='navbar'>
    <li class='nav-list-item'><a href='http://github.com/sinatra/sinatra'>CODE</a></li>
    <li class='nav-list-item'><a href='{{ site.baseurl }}/documentation.html'>DOCS</a></li>
    <li class='nav-list-item'><a href='{{ site.baseurl }}/intro.html'>README</a></li>
    <li class='nav-list-item'><a href='{{ site.baseurl }}/blog.html'>BLOG</a></li>
    <li class='nav-list-item' id='nav-logo'>
      <a href='{{ site.baseurl }}/'><img src="{{ site.baseurl }}/images/logo.png" height='59' width='86' alt="Sinatra Logo"></a>
    </li>
    <li class='nav-list-item'><a href='http://github.com/sinatra/sinatra/contributors'>CREW</a></li>
    <li class='nav-list-item'><a href='{{ site.baseurl }}/contributing.html'>CONTRIBUTE</a></li>
    <li class='nav-list-item'><a href='{{ site.baseurl }}/about.html'>ABOUT</a></li>
    <li class='nav-list-item' id='toggle-nav-logo'>
      <a href='#'><img src="{{ site.baseurl }}/images/logo.png" height='59' width='86' alt="Sinatra Logo"></a>
    </li>
  </ul>

  <div id='hidden-navbar-wrapper'>
    <ul class='hide' id='hidden-navbar'>
      <li class='hidden-nav-list-item'><a href='{{ site.baseurl }}/'>HOME</a></li>
      <li class='hidden-nav-list-item'><a href='http://github.com/sinatra/sinatra'>CODE</a></li>
      <li class='hidden-nav-list-item'><a href='{{ site.baseurl }}/documentation.html'>DOCS</a></li>
      <li class='hidden-nav-list-item'><a href='{{ site.baseurl }}/intro.html'>README</a></li>
      <li class='hidden-nav-list-item'><a href='{{ site.baseurl }}/blog.html'>BLOG</a></li>
      <li class='hidden-nav-list-item'><a href='http://github.com/sinatra/sinatra/contributors'>CREW</a></li>
      <li class='hidden-nav-list-item'><a href='{{ site.baseurl }}/about.html'>ABOUT</a></li>
      <li class='hidden-nav-list-item'><a href='{{ site.baseurl }}/contributing.html'>CONTRIBUTE</a></li>
    </ul>
  </div>

</div>
