<div id='head'>
  <a href='/'><img src="/images/logo.png" height='59' width='86' alt="Sinatra Logo"></a>
  <ul>
    <li><a href='/intro.html'>README</a></li>
    <li><a href='/documentation.html'>Documentation</a></li>
    <li><a href='/blog.html'>Blog</a></li>
    <li><a href='/contributing.html'>Contribute</a></li>
    <li><a href='http://github.com/sinatra/sinatra/contributors'>Crew</a></li>
    <li><a href='http://github.com/sinatra/sinatra'>Code</a></li>
    <li><a href='/about.html'>About</a></li>
    <li><a href='http://sinatra-slack.herokuapp.com'>Slack</a></li>
  </ul>
</div>
