<div id='head'>
  <ul>
    <li><a href='http://github.com/sinatra/sinatra'>CODE</a></li>
    <li><a href='/documentation.html'>DOCS</a></li>
    <li><a href='/intro.html'>README</a></li>
    <li><a href='/blog.html'>BLOG</a></li>
    <li>
      <a href='/'><img src="/images/logo.png" height='59' width='86' alt="Sinatra Logo"></a>
    </li>
    <li><a href='http://github.com/sinatra/sinatra/contributors'>CREW</a></li>
    <li><a href='/about.html'>ABOUT</a></li>
    <li><a href='/contributing.html'>CONTRIBUTE</a></li>
    <li><a href='http://sinatra-slack.herokuapp.com'>SLACK</a></li>
  </ul>
</div>
