<table class="rdoc-list"><tr><td class="rdoc-term"><p>Prevented attack</p></td>
<td>
<p>XSS</p>
</td></tr><tr><td class="rdoc-term"><p>Supported browsers</p></td>
<td>
<p>all</p>
</td></tr><tr><td class="rdoc-term"><p>More infos</p></td>
<td>
<p><a
href="http://en.wikipedia.org/wiki/Cross-site_scripting">en.wikipedia.org/wiki/Cross-site_scripting</a></p>
</td></tr></table>

<p>Automatically escapes Rack::Request#params so they can be embedded in HTML
or JavaScript without any further issues. Calls <tt>html_safe</tt> on the
escaped strings if defined, to avoid double-escaping in Rails.</p>

<p>Options:</p>
<table class="rdoc-list"><tr><td class="rdoc-term"><p>escape</p></td>
<td>
<p>What escaping modes to use, should be Symbol or Array of Symbols.
Available: :html (default), :javascript, :url</p>
</td></tr></table>
