<dl class="rdoc-list note-list"><dt>Prevented attack
<dd>
<p>Protects against against protocol downgrade attacks and cookie hijacking.</p>
</dd><dt>Supported browsers
<dd>
<p>all</p>
</dd><dt>More infos
<dd>
<p><a href="https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security">en.wikipedia.org/wiki/HTTP_Strict_Transport_Security</a></p>
</dd></dl>

<p>browser will prevent any communications from being sent over HTTP to the specified domain and will instead send all communications over HTTPS. It also prevents HTTPS click through prompts on browsers.</p>

<p>Options:</p>
<dl class="rdoc-list note-list"><dt>max_age
<dd>
<p>How long future requests to the domain should go over HTTPS; specified in seconds</p>
</dd><dt>include_subdomains
<dd>
<p>If all present and future subdomains will be HTTPS</p>
</dd><dt>preload
<dd>
<p>Allow this domain to be included in browsers HSTS preload list. See <a href="https://hstspreload.appspot.com">hstspreload.appspot.com</a>/</p>
</dd></dl>
