<table class="rdoc-list"><tr><td class="rdoc-term"><p>Prevented attack</p></td>
<td>
<p>XSS and others</p>
</td></tr><tr><td class="rdoc-term"><p>Supported browsers</p></td>
<td>
<p>Firefox 23+, Safari 7+, Chrome 25+, Opera 15+</p>
</td></tr><tr><td class="rdoc-term"><p>Description</p></td>
<td>
<p>Content Security Policy, a mechanism web applications can use to mitigate a
broad class of content injection vulnerabilities, such as cross-site
scripting (XSS). Content Security Policy is a declarative policy that lets
the authors (or server administrators) of a web application inform the
client about the sources from which the application expects to load
resources.</p>
</td></tr><tr><td class="rdoc-term"><p>More info</p></td>
<td>
<p>W3C CSP Level 1 : <a
href="https://www.w3.org/TR/CSP1">www.w3.org/TR/CSP1</a>/ (deprecated) W3C
CSP Level 2 : <a href="https://www.w3.org/TR/CSP2">www.w3.org/TR/CSP2</a>/
(current) W3C CSP Level 3 : <a
href="https://www.w3.org/TR/CSP3">www.w3.org/TR/CSP3</a>/ (draft) <a
href="https://developer.mozilla.org/en-US/docs/Web/Security/CSP">developer.mozilla.org/en-US/docs/Web/Security/CSP</a>
<a
href="http://caniuse.com/#search=ContentSecurityPolicy">caniuse.com/#search=ContentSecurityPolicy</a>
<a
href="http://content-security-policy.com">content-security-policy.com</a>/
<a href="https://securityheaders.io">securityheaders.io</a> <a
href="https://scotthelme.co.uk/csp-cheat-sheet">scotthelme.co.uk/csp-cheat-sheet</a>/
<a
href="http://www.html5rocks.com/en/tutorials/security/content-security-policy">www.html5rocks.com/en/tutorials/security/content-security-policy</a>/</p>
</td></tr></table>

<p>Sets the &#39;<a
href="http://-Report-Only">Content-Security-Policy</a>&#39; header.</p>

<p>Options: ContentSecurityPolicy configuration is a complex topic with</p>

<pre>several levels of support that has evolved over time.
See the W3C documentation and the links in the more info
section for CSP usage examples and best practices. The
CSP3 directives in the &#39;NO_ARG_DIRECTIVES&#39; constant need to be
presented in the options hash with a boolean &#39;true&#39; in order
to be used in a policy.</pre>
