<dl class="rdoc-list note-list"><dt>Prevented attack
<dd>
<p>CSRF</p>
</dd><dt>Supported browsers
<dd>
<p>all</p>
</dd><dt>More infos
<dd>
<p><a href="http://en.wikipedia.org/wiki/Cross-site_request_forgery">en.wikipedia.org/wiki/Cross-site_request_forgery</a></p>
</dd></dl>

<p>This middleware only accepts requests other than <code>GET</code>, <code>HEAD</code>, <code>OPTIONS</code>, <code>TRACE</code> if their given access token matches the token included in the session.</p>

<p>It checks the <code>X-CSRF-Token</code> header and the <code>POST</code> form data.</p>

<p>It is not OOTB-compatible with the <a href="https://rubygems.org/gems/rack_csrf">rack-csrf</a> gem. For that, the following patch needs to be applied:</p>

<pre class="ruby"><span class="ruby-constant">Rack</span><span class="ruby-operator">::</span><span class="ruby-constant">Protection</span><span class="ruby-operator">::</span><span class="ruby-constant">AuthenticityToken</span>.<span class="ruby-identifier">default_options</span>(<span class="ruby-value">key:</span> <span class="ruby-string">&quot;csrf.token&quot;</span>, <span class="ruby-value">authenticity_param:</span> <span class="ruby-string">&quot;_csrf&quot;</span>)
</pre>

<h2 id="label-Options">Options<span><a href="#label-Options">&para;</a> <a href="#top">&uarr;</a></span></h2>
<dl class="rdoc-list label-list"><dt><code>:authenticity_param</code>
<dd>
<p>the name of the param that should contain the token on a request. Default value: <code>&quot;authenticity_token&quot;</code></p>
</dd><dt><code>:key</code>
<dd>
<p>the name of the param that should contain</p>

<pre>the token in the session. Default value:
&lt;tt&gt;:csrf&lt;/tt&gt;</pre>
</dd><dt><code>:allow_if</code>
<dd>
<p>a proc for custom allow/deny logic. Default value:</p>

<pre>&lt;tt&gt;nil&lt;/tt&gt;</pre>
</dd></dl>

<h2 id="label-Example-3A+Forms+application">Example: Forms application<span><a href="#label-Example-3A+Forms+application">&para;</a> <a href="#top">&uarr;</a></span></h2>

<p>To show what the AuthenticityToken does, this section includes a sample program which shows two forms. One with, and one without a CSRF token The one without CSRF token field will get a 403 Forbidden response.</p>

<p>Install the gem, then run the program:</p>

<pre class="ruby"><span class="ruby-identifier">gem</span> <span class="ruby-identifier">install</span> <span class="ruby-string">&#39;rack-protection&#39;</span>
<span class="ruby-identifier">puma</span> <span class="ruby-identifier">server</span>.<span class="ruby-identifier">ru</span>
</pre>

<p>Here is <code>server.ru</code>:</p>

<pre class="ruby"><span class="ruby-identifier">require</span> <span class="ruby-string">&#39;rack/protection&#39;</span>
<span class="ruby-identifier">require</span> <span class="ruby-string">&#39;rack/session&#39;</span>

<span class="ruby-identifier">app</span> = <span class="ruby-constant">Rack</span><span class="ruby-operator">::</span><span class="ruby-constant">Builder</span>.<span class="ruby-identifier">app</span> <span class="ruby-keyword">do</span>
  <span class="ruby-identifier">use</span> <span class="ruby-constant">Rack</span><span class="ruby-operator">::</span><span class="ruby-constant">Session</span><span class="ruby-operator">::</span><span class="ruby-constant">Cookie</span>, <span class="ruby-value">secret:</span> <span class="ruby-string">&#39;CHANGEMEaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa&#39;</span>
  <span class="ruby-identifier">use</span> <span class="ruby-constant">Rack</span><span class="ruby-operator">::</span><span class="ruby-constant">Protection</span><span class="ruby-operator">::</span><span class="ruby-constant">AuthenticityToken</span>

  <span class="ruby-identifier">run</span> <span class="ruby-operator">-&gt;</span> (<span class="ruby-identifier">env</span>) <span class="ruby-keyword">do</span>
    [<span class="ruby-value">200</span>, {}, [
      <span class="ruby-identifier">&lt;&lt;~EOS</span>
<span class="ruby-value">        &lt;!DOCTYPE html&gt;
        &lt;html lang=&quot;en&quot;&gt;
        &lt;head&gt;
          &lt;meta charset=&quot;UTF-8&quot; /&gt;
          &lt;title&gt;rack-protection minimal example&lt;/title&gt;
        &lt;/head&gt;
        &lt;body&gt;
          &lt;h1&gt;Without Authenticity Token&lt;/h1&gt;
          &lt;p&gt;This takes you to &lt;tt&gt;Forbidden&lt;/tt&gt;&lt;/p&gt;
          &lt;form action=&quot;&quot; method=&quot;post&quot;&gt;
            &lt;input type=&quot;text&quot; name=&quot;foo&quot; /&gt;
            &lt;input type=&quot;submit&quot; /&gt;
          &lt;/form&gt;

          &lt;h1&gt;With Authenticity Token&lt;/h1&gt;
          &lt;p&gt;This successfully takes you to back to this form.&lt;/p&gt;
          &lt;form action=&quot;&quot; method=&quot;post&quot;&gt;
            &lt;input type=&quot;hidden&quot; name=&quot;authenticity_token&quot; value=&quot;#{Rack::Protection::AuthenticityToken.token(env[&#39;rack.session&#39;])}&quot; /&gt;
            &lt;input type=&quot;text&quot; name=&quot;foo&quot; /&gt;
            &lt;input type=&quot;submit&quot; /&gt;
          &lt;/form&gt;
        &lt;/body&gt;
        &lt;/html&gt;
</span><span class="ruby-identifier">      EOS</span>
    ]]
  <span class="ruby-keyword">end</span>
<span class="ruby-keyword">end</span>

<span class="ruby-identifier">run</span> <span class="ruby-identifier">app</span>
</pre>

<h2 id="label-Example-3A+Customize+which+POST+parameter+holds+the+token">Example: Customize which POST parameter holds the token<span><a href="#label-Example-3A+Customize+which+POST+parameter+holds+the+token">&para;</a> <a href="#top">&uarr;</a></span></h2>

<p>To customize the authenticity parameter for form data, use the <code>:authenticity_param</code> option:</p>

<pre class="ruby"><span class="ruby-identifier">use</span> <span class="ruby-constant">Rack</span><span class="ruby-operator">::</span><span class="ruby-constant">Protection</span><span class="ruby-operator">::</span><span class="ruby-constant">AuthenticityToken</span>, <span class="ruby-value">authenticity_param:</span> <span class="ruby-string">&#39;your_token_param_name&#39;</span>
</pre>
