<dl class="rdoc-list note-list"><dt>Prevented attack
<dd>
<p>Cookie Tossing</p>
</dd><dt>Supported browsers
<dd>
<p>all</p>
</dd><dt>More infos
<dd>
<p><a href="https://github.com/blog/1466-yummy-cookies-across-domains">github.com/blog/1466-yummy-cookies-across-domains</a></p>
</dd></dl>

<p>Does not accept HTTP requests if the HTTP_COOKIE header contains more than one session cookie. This does not protect against a cookie overflow attack.</p>

<p>Options:</p>
<dl class="rdoc-list note-list"><dt>session_key
<dd>
<p>The name of the session cookie (default: ‘rack.session’)</p>
</dd></dl>
