<dl class="rdoc-list note-list"><dt>Prevented attack
<dd>
<p>Clickjacking</p>
</dd><dt>Supported browsers
<dd>
<p>Internet Explorer 8, Firefox 3.6.9, Opera 10.50, Safari 4.0, Chrome 4.1.249.1042 and later</p>
</dd><dt>More infos
<dd>
<p><a href="https://developer.mozilla.org/en/The_X-FRAME-OPTIONS_response_header">developer.mozilla.org/en/The_X-FRAME-OPTIONS_response_header</a></p>
</dd></dl>

<p>Sets X-Frame-Options header to tell the browser avoid embedding the page in a frame.</p>

<p>Options:</p>
<dl class="rdoc-list note-list"><dt>frame_options
<dd>
<p>Defines who should be allowed to embed the page in a frame. Use :deny to forbid any embedding, :sameorigin to allow embedding from the same origin (default).</p>
</dd></dl>
