<table class="rdoc-list"><tr><td class="rdoc-term"><p>Prevented attack</p></td>
<td>
<p>Non-permanent XSS</p>
</td></tr><tr><td class="rdoc-term"><p>Supported browsers</p></td>
<td>
<p>Internet Explorer 8+ and Chrome</p>
</td></tr><tr><td class="rdoc-term"><p>More infos</p></td>
<td>
<p><a
href="http://blogs.msdn.com/b/ie/archive/2008/07/01/ie8-security-part-iv-the-xss-filter.aspx">blogs.msdn.com/b/ie/archive/2008/07/01/ie8-security-part-iv-the-xss-filter.aspx</a></p>
</td></tr></table>

<p>Sets X-XSS-Protection header to tell the browser to block attacks.</p>

<p>Options:</p>
<table class="rdoc-list"><tr><td class="rdoc-term"><p>xss_mode</p></td>
<td>
<p>How the browser should prevent the attack (default: :block)</p>
</td></tr></table>
