<table class="rdoc-list"><tr><td class="rdoc-term"><p>Prevented attack</p></td>
<td>
<p>CSRF</p>
</td></tr><tr><td class="rdoc-term"><p>Supported browsers</p></td>
<td>
<p>all</p>
</td></tr><tr><td class="rdoc-term"><p>More infos</p></td>
<td>
<p><a
href="http://en.wikipedia.org/wiki/Cross-site_request_forgery">en.wikipedia.org/wiki/Cross-site_request_forgery</a></p>
</td></tr></table>

<p>Only accepts unsafe HTTP requests if a given access token matches the token
included in the session <b>or</b> the request comes from the same origin.</p>

<p>Compatible with rack-csrf.</p>
