<table class="rdoc-list"><tr><td class="rdoc-term"><p>Prevented attack</p></td>
<td>
<p>Cookie Tossing</p>
</td></tr><tr><td class="rdoc-term"><p>Supported browsers</p></td>
<td>
<p>all</p>
</td></tr><tr><td class="rdoc-term"><p>More infos</p></td>
<td>
<p><a
href="https://github.com/blog/1466-yummy-cookies-across-domains">github.com/blog/1466-yummy-cookies-across-domains</a></p>
</td></tr></table>

<p>Does not accept HTTP requests if the HTTP_COOKIE header contains more than
one session cookie. This does not protect against a cookie overflow attack.</p>

<p>Options:</p>
<table class="rdoc-list"><tr><td class="rdoc-term"><p>session_key</p></td>
<td>
<p>The name of the session cookie (default: &#39;rack.session&#39;)</p>
</td></tr></table>
