<table class="rdoc-list"><tr><td class="rdoc-term"><p>Prevented attack</p></td>
<td>
<p>Clickjacking</p>
</td></tr><tr><td class="rdoc-term"><p>Supported browsers</p></td>
<td>
<p>Internet Explorer 8, Firefox 3.6.9, Opera 10.50, Safari 4.0, Chrome
4.1.249.1042 and later</p>
</td></tr><tr><td class="rdoc-term"><p>More infos</p></td>
<td>
<p><a
href="https://developer.mozilla.org/en/The_X-FRAME-OPTIONS_response_header">developer.mozilla.org/en/The_X-FRAME-OPTIONS_response_header</a></p>
</td></tr></table>

<p>Sets X-Frame-Options header to tell the browser avoid embedding the page in
a frame.</p>

<p>Options:</p>
<table class="rdoc-list"><tr><td class="rdoc-term"><p>frame_options</p></td>
<td>
<p>Defines who should be allowed to embed the page in a frame. Use :deny to
forbid any embedding, :sameorigin to allow embedding from the same origin
(default).</p>
</td></tr></table>
