<table class="rdoc-list"><tr><td class="rdoc-term"><p>Prevented attack</p></td>
<td>
<p>Directory traversal</p>
</td></tr><tr><td class="rdoc-term"><p>Supported browsers</p></td>
<td>
<p>all</p>
</td></tr><tr><td class="rdoc-term"><p>More infos</p></td>
<td>
<p><a
href="http://en.wikipedia.org/wiki/Directory_traversal">en.wikipedia.org/wiki/Directory_traversal</a></p>
</td></tr></table>

<p>Unescapes &#39;/&#39; and &#39;.&#39;, expands <tt>path_info</tt>. Thus
<tt>GET /foo/%2e%2e%2fbar</tt> becomes <tt>GET /bar</tt>.</p>
