<dl class="rdoc-list note-list"><dt>Prevented attack
<dd>
<p>Non-permanent XSS</p>
</dd><dt>Supported browsers
<dd>
<p>Internet Explorer 8+ and Chrome</p>
</dd><dt>More infos
<dd>
<p><a href="https://blogs.msdn.com/b/ie/archive/2008/07/01/ie8-security-part-iv-the-xss-filter.aspx">blogs.msdn.com/b/ie/archive/2008/07/01/ie8-security-part-iv-the-xss-filter.aspx</a></p>
</dd></dl>

<p>Sets X-XSS-Protection header to tell the browser to block attacks.</p>

<p>Options:</p>
<dl class="rdoc-list note-list"><dt>xss_mode
<dd>
<p>How the browser should prevent the attack (default: :block)</p>
</dd></dl>
