<table class="rdoc-list"><tr><td class="rdoc-term"><p>Prevented attack</p></td>
<td>
<p>Protects against against protocol downgrade attacks and cookie hijacking.</p>
</td></tr><tr><td class="rdoc-term"><p>Supported browsers</p></td>
<td>
<p>all</p>
</td></tr><tr><td class="rdoc-term"><p>More infos</p></td>
<td>
<p><a
href="https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security">en.wikipedia.org/wiki/HTTP_Strict_Transport_Security</a></p>
</td></tr></table>

<p>browser will prevent any communications from being sent over HTTP to the
specified domain and will instead send all communications over HTTPS. It
also prevents HTTPS click through prompts on browsers.</p>

<p>Options:</p>
<table class="rdoc-list"><tr><td class="rdoc-term"><p>max_age</p></td>
<td>
<p>How long future requests to the domain should go over HTTPS; specified in
seconds</p>
</td></tr><tr><td class="rdoc-term"><p>include_subdomains</p></td>
<td>
<p>If all present and future subdomains will be HTTPS</p>
</td></tr><tr><td class="rdoc-term"><p>preload</p></td>
<td>
<p>Allow this domain to be included in browsers HSTS preload list. See <a
href="https://hstspreload.appspot.com">hstspreload.appspot.com</a>/</p>
</td></tr></table>
