



<h1>Usage</h1>

<p>Use all protections you probably want to use:</p>

<pre><code class="language-ruby"># config.ru
require 'rack/protection'
use Rack::Protection
run MyApp
</code></pre>

<p>Skip a single protection middleware:</p>

<pre><code class="language-ruby"># config.ru
require 'rack/protection'
use Rack::Protection, :except =&gt; :path_traversal
run MyApp
</code></pre>

<p>Use a single protection middleware:</p>

<pre><code class="language-ruby"># config.ru
require 'rack/protection'
use Rack::Protection::AuthenticityToken
run MyApp
</code></pre>

<h1>Prevented Attacks</h1>

<h2>Cross Site Request Forgery</h2>

<p>Prevented by:</p>

<ul>
  <li>
<a href="/protection/authenticity_token"><code>Rack::Protection::AuthenticityToken</code></a> (not included by <code>use Rack::Protection</code>)</li>
  <li>
<a href="/protection/form_token"><code>Rack::Protection::FormToken</code></a> (not included by <code>use Rack::Protection</code>)</li>
  <li><a href="/protection/json_csrf"><code>Rack::Protection::JsonCsrf</code></a></li>
  <li>
<a href="/protection/remote_referrer"><code>Rack::Protection::RemoteReferrer</code></a> (not included by <code>use Rack::Protection</code>)</li>
  <li><a href="/protection/remote_token"><code>Rack::Protection::RemoteToken</code></a></li>
  <li><a href="/protection/http_origin"><code>Rack::Protection::HttpOrigin</code></a></li>
</ul>

<h2>Cross Site Scripting</h2>

<p>Prevented by:</p>

<ul>
  <li>
<a href="/protection/escaped_params"><code>Rack::Protection::EscapedParams</code></a> (not included by <code>use Rack::Protection</code>)</li>
  <li>
<a href="/protection/xss_header"><code>Rack::Protection::XSSHeader</code></a> (Internet Explorer and Chrome only)</li>
  <li><a href="/protection/content_security_policy"><code>Rack::Protection::ContentSecurityPolicy</code></a></li>
</ul>

<h2>Clickjacking</h2>

<p>Prevented by:</p>

<ul>
  <li><a href="/protection/frame_options"><code>Rack::Protection::FrameOptions</code></a></li>
</ul>

<h2>Directory Traversal</h2>

<p>Prevented by:</p>

<ul>
  <li><a href="/protection/path_traversal"><code>Rack::Protection::PathTraversal</code></a></li>
</ul>

<h2>Session Hijacking</h2>

<p>Prevented by:</p>

<ul>
  <li><a href="/protection/session_hijacking"><code>Rack::Protection::SessionHijacking</code></a></li>
</ul>

<h2>Cookie Tossing</h2>

<p>Prevented by:
* <a href="/protection/cookie_tossing"><code>Rack::Protection::CookieTossing</code></a> (not included by <code>use Rack::Protection</code>)</p>

<h2>IP Spoofing</h2>

<p>Prevented by:</p>

<ul>
  <li><a href="/protection/ip_spoofing"><code>Rack::Protection::IPSpoofing</code></a></li>
</ul>

<h2>Helps to protect against protocol downgrade attacks and cookie hijacking</h2>

<p>Prevented by:</p>

<ul>
  <li>
<a href="/protection/strict_transport"><code>Rack::Protection::StrictTransport</code></a> (not included by <code>use Rack::Protection</code>)</li>
</ul>

<h1>Installation</h1>

<pre><code>gem install rack-protection
</code></pre>

<h1>Instrumentation</h1>

<p>Instrumentation is enabled by passing in an instrumenter as an option.
~~~~
use Rack::Protection, instrumenter: ActiveSupport::Notifications
~~~~</p>

<p>The instrumenter is passed a namespace (String) and environment (Hash). The namespace is ‘rack.protection’ and the attack type can be obtained from the environment key ‘rack.protection.attack’.</p>

