<table class="rdoc-list"><tr><td class="rdoc-term"><p>Prevented attack</p></td>
<td>
<p>CSRF</p>
</td></tr><tr><td class="rdoc-term"><p>Supported browsers</p></td>
<td>
<p>all</p>
</td></tr><tr><td class="rdoc-term"><p>More infos</p></td>
<td>
<p><a
href="http://en.wikipedia.org/wiki/Cross-site_request_forgery">en.wikipedia.org/wiki/Cross-site_request_forgery</a></p>
</td></tr></table>

<p>Only accepts submitted forms if a given access token matches the token
included in the session. Does not expect such a token from Ajax request.</p>

<p>This middleware is not used when using the Rack::Protection collection,
since it might be a security issue, depending on your application</p>

<p>Compatible with rack-csrf.</p>
