<div class='toc'>
	<ol class='level-1'>
		<li><a href='#%C3%9Atvonalak%20(routes)'>Útvonalak (routes)</a></li>
		<li><a href='#Statikus%20%C3%A1llom%C3%A1nyok'>Statikus állományok</a></li>
		<li><a href='#N%C3%A9zetek%20%C3%A9s%20Sablonok'>Nézetek és Sablonok</a></li>
		<ol class='level-2'>
			<li><a href='#Haml%20sablonok'>Haml sablonok</a></li>
			<li><a href='#Erb%20sablonok'>Erb sablonok</a></li>
			<li><a href='#Builder%20sablonok'>Builder sablonok</a></li>
			<li><a href='#Sass%20sablonok'>Sass sablonok</a></li>
			<li><a href='#Be%C3%A1gyazott%20sablonok'>Beágyazott sablonok</a></li>
			<li><a href='#V%C3%A1ltoz%C3%B3k%20el%C3%A9r%C3%A9se%20a%20sablonokban'>Változók elérése a sablonokban</a></li>
			<li><a href='#F%C3%A1jlon%20bel%C3%BCli%20sablonok'>Fájlon belüli sablonok</a></li>
			<li><a href='#Kulcsszavas%20sablonok'>Kulcsszavas sablonok</a></li>
		</ol>
		<li><a href='#Helperek'>Helperek</a></li>
		<li><a href='#Sz%C5%B1r%C5%91k%20(filters)'>Szűrők (filters)</a></li>
		<li><a href='#Meg%C3%A1ll%C3%ADt%C3%A1s'>Megállítás</a></li>
		<li><a href='#Passzol%C3%A1s'>Passzolás</a></li>
		<li><a href='#Be%C3%A1ll%C3%ADt%C3%A1sok'>Beállítások</a></li>
		<li><a href='#Hibakezel%C3%A9s'>Hibakezelés</a></li>
		<ol class='level-2'>
			<li><a href='#Nem%20tal%C3%A1lhat%C3%B3'>Nem található</a></li>
			<li><a href='#Hiba'>Hiba</a></li>
		</ol>
		<li><a href='#Mime%20t%C3%ADpusok'>Mime típusok</a></li>
		<li><a href='#Rack%20Middleware'>Rack Middleware</a></li>
		<li><a href='#Tesztel%C3%A9s'>Tesztelés</a></li>
		<li><a href='#Sinatra::Base%20-%20Middleware-ek,%20k%C3%B6nyvt%C3%A1rak%20%C3%A9s%20modul%C3%A1ris%20alkalmaz%C3%A1sok'>Sinatra::Base - Middleware-ek, könyvtárak és moduláris alkalmazások</a></li>
		<li><a href='#Parancssori%20lehet%C5%91s%C3%A9gek'>Parancssori lehetőségek</a></li>
		<li><a href='#T%C3%B6bb%20sz%C3%A1lon%20futtat%C3%A1s'>Több szálon futtatás</a></li>
		<li><a href='#Fejleszt%C5%91i%20v%C3%A1ltozat'>Fejlesztői változat</a></li>
		<li><a href='#Tov%C3%A1bbi%20inform%C3%A1ci%C3%B3k'>További információk</a></li>
	</ol>
</div>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body>
<p><em>Fontos megjegyzés: Ez a dokumentum csak egy fordítása az angol nyelvű
változatnak, és lehet, hogy nem naprakész.</em></p>

<p>A Sinatra egy <a href="https://en.wikipedia.org/wiki/Domain-specific_language">DSL</a>
webalkalmazások Ruby nyelven történő fejlesztéséhez, minimális
energiabefektetéssel:</p>

<pre><code class="language-ruby">  # myapp.rb
  require 'sinatra'
  get '/' do
    'Helló Világ!'
  end
</code></pre>

<p>Telepítsd a gem-et és indítsd el az alkalmazást a következőképpen:</p>

<pre><code class="language-ruby">  sudo gem install sinatra
  ruby myapp.rb
</code></pre>

<p>Az alkalmazás elérhető lesz itt: <a href="http://localhost:4567">http://localhost:4567</a></p>

<a name='%C3%9Atvonalak%20(routes)'></a>
<h2>Útvonalak (routes)</h2>

<p>A Sinatrában az útvonalat egy HTTP metódus és egy URL-re illeszkedő minta
párosa alkotja. Minden egyes útvonalhoz tartozik egy blokk:</p>

<pre><code class="language-ruby">  get '/' do
    .. megjelenítünk valamit ..
  end

  post '/' do
    .. létrehozunk valamit ..
  end

  put '/' do
    .. frissítünk valamit ..
  end

  delete '/' do
    .. törlünk valamit ..
  end
</code></pre>

<p>Az útvonalak illeszkedését a rendszer a definiálásuk sorrendjében
ellenőrzi. Sorrendben mindig az első illeszkedő útvonalhoz tartozó metódus kerül
meghívásra.</p>

<p>Az útvonalminták tartalmazhatnak paramétereket is, melyeket a <code>params</code>
hash-ből érhetünk el:</p>

<pre><code class="language-ruby">  get '/hello/:name' do
    # illeszkedik a "GET /hello/foo" és a "GET /hello/bar" útvonalakra
    # ekkor params['name'] értéke 'foo' vagy 'bar' lesz
    "Helló #{params['name']}!"
  end
</code></pre>

<p>A kulcsszavas argumentumokat (named parameters) blokk paraméterek útján
is el tudod érni:</p>

<pre><code class="language-ruby">  get '/hello/:name' do |n|
    "Helló #{n}!"
  end
</code></pre>

<p>Az útvonalmintákban szerepelhetnek joker paraméterek is, melyeket a
<code>params['splat']</code> tömbön keresztül tudunk elérni.</p>

<pre><code class="language-ruby">  get '/say/*/to/*' do
    # illeszkedik a /say/hello/to/world mintára
    params['splat'] # =&gt; ["hello", "world"]
  end

  get '/download/*.*' do
    # illeszkedik a /download/path/to/file.xml mintára
    params['splat'] # =&gt; ["path/to/file", "xml"]
  end
</code></pre>

<p>Reguláris kifejezéseket is felvehetünk az útvonalba:</p>

<pre><code class="language-ruby">  get /\/hello\/([\w]+)/ do
    "Helló, #{params['captures'].first}!"
  end
</code></pre>

<p>Vagy blokk paramétereket:</p>

<pre><code class="language-ruby">  get %r{/hello/([\w]+)} do |c|
    "Helló, #{c}!"
  end
</code></pre>

<p>Az útvonalak azonban számos egyéb illeszkedési feltétel szerint is
tervezhetők, így például az user agent karakterláncot alapul véve:</p>

<pre><code class="language-ruby">  get '/foo', :agent =&gt; /Songbird (\d\.\d)[\d\/]*?/ do
    "A Songbird #{params['agent'][0]} verzióját használod"
  end

  get '/foo' do
    # illeszkedik az egyéb user agentekre
  end
</code></pre>

<a name='Statikus%20%C3%A1llom%C3%A1nyok'></a>
<h2>Statikus állományok</h2>

<p>A statikus fájlok kiszolgálása a <code>./public</code> könyvtárból
történik, de természetesen más könyvtárat is megadhatsz erre a célra,
mégpedig a :public_folder kapcsoló beállításával:</p>

<p>set :public_folder, File.dirname(<strong>FILE</strong>) + ‘/static’</p>

<p>Fontos megjegyezni, hogy a nyilvános könyvtár neve nem szerepel az URL-ben.
A ./public/css/style.css fájl az
<code>http://example.com/css/style.css</code> URL-en lesz elérhető.</p>

<a name='N%C3%A9zetek%20%C3%A9s%20Sablonok'></a>
<h2>Nézetek és Sablonok</h2>

<p>A sablonfájlokat rendszerint a  <code>./views</code> könyvtárba helyezzük, de
itt is lehetőség nyílik egyéb könyvtár használatára:</p>

<p>set :views, File.dirname(<strong>FILE</strong>) + ‘/templates’</p>

<p>Nagyon fontos észben tartani, hogy a sablononkra mindig szimbólumokkal
hivatkozunk, még akkor is, ha egyéb (ebben az esetben a
:’subdir/template’) könyvtárban tároljuk őket. A renderelő
metódusok minden, nekik közvetlenül átadott karakterláncot megjelenítenek.</p>

<a name='Haml%20sablonok'></a>
<h3>Haml sablonok</h3>

<p>HAML sablonok rendereléséhez szükségünk lesz a haml gem-re vagy könyvtárra:</p>

<pre><code class="language-ruby">  # Importáljuk be a haml-t az alkalmazásba
  require 'haml'

  get '/' do
    haml :index
  end
</code></pre>

<p>Ez szépen lerendereli a <code>./views/index.haml</code> sablont.</p>

<p>A <a href="http://haml.hamptoncatlin.com/docs/rdoc/classes/Haml.html">Haml kapcsolói</a>
globálisan is beállíthatók a Sinatra konfigurációi között, lásd az
<a href="http://www.sinatrarb.com/configuration.html">Options and Configurations</a> lapot.
A globális beállításokat lehetőségünk van felülírni metódus szinten is.</p>

<pre><code class="language-ruby">  set :haml, {:format =&gt; :html5 } # az alapértelmezett Haml formátum az :xhtml

  get '/' do
    haml :index, :haml_options =&gt; {:format =&gt; :html4 } # immár felülírva
  end
</code></pre>

<a name='Erb%20sablonok'></a>
<h3>Erb sablonok</h3>

<p># Importáljuk be az erb-t az alkalmazásba</p>

<pre><code class="language-ruby">  require 'erb'

  get '/' do
    erb :index
  end
</code></pre>

<p>Ez a <code>./views/index.erb</code> sablont fogja lerenderelni.</p>

<a name='Builder%20sablonok'></a>
<h3>Builder sablonok</h3>

<p>Szükségünk lesz a builder gem-re vagy könyvtárra a builder sablonok
rendereléséhez:</p>

<p># Importáljuk be a builder-t az alkalmazásba</p>

<pre><code class="language-ruby">  require 'builder'

  get '/' do
    builder :index
  end
</code></pre>

<p>Ez pedig a <code>./views/index.builder</code> állományt fogja renderelni.</p>

<a name='Sass%20sablonok'></a>
<h3>Sass sablonok</h3>

<p>Sass sablonok használatához szükség lesz a haml gem-re vagy könyvtárra:</p>

<p># Be kell importálni a haml, vagy a sass könyvtárat</p>

<pre><code class="language-ruby">  require 'sass'

  get '/stylesheet.css' do
    sass :stylesheet
  end
</code></pre>

<p>Így a <code>./views/stylesheet.sass</code> fájl máris renderelhető.</p>

<p>A <a href="http://haml.hamptoncatlin.com/docs/rdoc/classes/Sass.html">Sass kapcsolói</a>
globálisan is beállíthatók a Sinatra konfigurációi között, lásd az
<a href="http://www.sinatrarb.com/configuration.html">Options and Configurations</a> lapot.
A globális beállításokat lehetőségünk van felülírni metódus szinten is.</p>

<pre><code class="language-ruby">  set :sass, {:style =&gt; :compact } # az alapértelmezett Sass stílus a :nested

  get '/stylesheet.css' do
    sass :stylesheet, :sass_options =&gt; {:style =&gt; :expanded } # felülírva
  end
</code></pre>

<a name='Be%C3%A1gyazott%20sablonok'></a>
<h3>Beágyazott sablonok</h3>

<pre><code class="language-ruby">  get '/' do
    haml '%div.title Helló Világ'
  end
</code></pre>

<p>Lerendereli a beágyazott sablon karakerláncát.</p>

<a name='V%C3%A1ltoz%C3%B3k%20el%C3%A9r%C3%A9se%20a%20sablonokban'></a>
<h3>Változók elérése a sablonokban</h3>

<p>A sablonok ugyanabban a kontextusban kerülnek kiértékelésre, mint az
útvonal metódusok (route handlers). Az útvonal metódusokban megadott
változók közvetlenül elérhetőek lesznek a sablonokban:</p>

<pre><code class="language-ruby">  get '/:id' do
    @foo = Foo.find(params['id'])
    haml '%h1= @foo.name'
  end
</code></pre>

<p>De megadhatod egy lokális változókat tartalmazó explicit hash-ben is:</p>

<pre><code class="language-ruby">  get '/:id' do
    foo = Foo.find(params['id'])
    haml '%h1= foo.name', :locals =&gt; { :foo =&gt; foo }
  end
</code></pre>

<p>Ezt leginkább akkor érdemes megtenni, ha partial-eket akarunk renderelni
valamely más sablonból.</p>

<a name='F%C3%A1jlon%20bel%C3%BCli%20sablonok'></a>
<h3>Fájlon belüli sablonok</h3>

<p>Sablonokat úgy is megadhatunk, hogy egyszerűen az alkalmazás fájl
végére begépeljük őket:</p>

<pre><code class="language-ruby">  require 'rubygems'
  require 'sinatra'

  get '/' do
    haml :index
  end

  __END__

  @@ layout
  %html
    = yield

  @@ index
  %div.title Helló Világ!!!!!
</code></pre>

<p>Megjegyzés: azok a fájlon belüli sablonok, amelyek az alkalmazás fájl végére
kerülnek és függnek a sinatra könyvtártól, automatikusan betöltődnek.
Ha ugyanezt más alkalmazásfájlban is szeretnéd megtenni, hívd meg
a <tt>use_in_file_templates!</tt> metódust az adott fájlban.</p>

<a name='Kulcsszavas%20sablonok'></a>
<h3>Kulcsszavas sablonok</h3>

<p>Sablonokat végül a felsőszintű <tt>template</tt> metódussal is
definiálhatunk:</p>

<pre><code class="language-ruby">  template :layout do
    "%html\n  =yield\n"
  end

  template :index do
    '%div.title Helló Világ!'
  end

  get '/' do
    haml :index
  end
</code></pre>

<p>Ha létezik “layout” nevű sablon, akkor az minden esetben meghívódik, amikor
csak egy sablon renderelésre kerül. A layoutokat ki lehet kapcsolni a
<code>:layout =&gt; false</code> meghívásával.</p>

<pre><code class="language-ruby">  get '/' do
    haml :index, :layout =&gt; !request.xhr?
  end
</code></pre>

<a name='Helperek'></a>
<h2>Helperek</h2>

<p>Használd a felső szintű <tt>helpers</tt> metódust azokhoz a helper
függvényekhez, amiket az útvonal metódusokban és a sablonokban akarsz
használni:</p>

<pre><code class="language-ruby">  helpers do
    def bar(name)
      "#{name}bar"
    end
  end

  get '/:name' do
    bar(params['name'])
  end
</code></pre>

<a name='Sz%C5%B1r%C5%91k%20(filters)'></a>
<h2>Szűrők (filters)</h2>

<p>Az előszűrők (before filter) az adott hívás kontextusában minden egyes
kérés alkalmával kiértékelődnek, így módosíthatják a kérést és a
választ egyaránt. A szűrőkbe felvett példányváltozók elérhetőek lesznek
az útvonalakban és a sablonokban is:</p>

<pre><code class="language-ruby">  before do
    @note = 'Csá!'
    request.path_info = '/foo/bar/baz'
  end

  get '/foo/*' do
    @note #=&gt; 'Szeva!'
    params['splat'] #=&gt; 'bar/baz'
  end
</code></pre>

<p>Az utószűrők az egyes kérések után, az adott kérés kontextusában kerülnek
kiértékelésre, így ezek is képesek módosítani a kérést és a választ egyaránt.
Az előszűrőkben és úvonalakban létrehozott példányváltozók elérhetőek lesznek
az utószűrők számára:</p>

<pre><code class="language-ruby">  after do
    puts response.status
  end
</code></pre>

<a name='Meg%C3%A1ll%C3%ADt%C3%A1s'></a>
<h2>Megállítás</h2>

<p>Egy kérés szűrőben vagy útvonalban történő azonnal blokkolásához
használd a következő parancsot:</p>

<p>halt</p>

<p>A megállításkor egy blokktörzset is megadhatsz …</p>

<p>halt ‘ez fog megjelenni a törzsben’</p>

<p>Vagy állítsd be a HTTP státuszt és a törzset is egyszerre …</p>

<p>halt 401, ‘menj innen!’</p>

<a name='Passzol%C3%A1s'></a>
<h2>Passzolás</h2>

<p>Az útvonalak továbbadhatják a végrehajtást egy másik útvonalnak
a <code>pass</code> függvényhívással:</p>

<pre><code class="language-ruby">  get '/guess/:who' do
    pass unless params['who'] == 'Frici'
    "Elkaptál!"
  end

  get '/guess/*' do
    "Elhibáztál!"
  end
</code></pre>

<p>Az útvonal blokkja azonnal kilép és átadja a vezérlést a következő
illeszkedő útvonalnak. Ha nem talál megfelelő útvonalat, a Sinatra
egy 404-es hibával tér vissza.</p>

<a name='Be%C3%A1ll%C3%ADt%C3%A1sok'></a>
<h2>Beállítások</h2>

<p>Csak indításkor, de minden környezetre érvényesen fusson le:</p>

<pre><code class="language-ruby">  configure do
    ...
  end
</code></pre>

<p>Csak akkor fusson le, ha a környezet (a APP_ENV környezeti változóban)
<code>:production</code>-ra van állítva:</p>

<pre><code class="language-ruby">  configure :production do
    ...
  end
</code></pre>

<p>Csak akkor fusson le, ha a környezet <tt>:production</tt> vagy <tt>:test</tt>:</p>

<pre><code class="language-ruby">  configure :production, :test do
    ...
  end
</code></pre>

<a name='Hibakezel%C3%A9s'></a>
<h2>Hibakezelés</h2>

<p>A hibakezelők ugyanabban a kontextusban futnak le, mint az útvonalak és
előszűrők, ezért számukra is elérhetőek mindazok a könyvtárak, amelyek
az utóbbiak rendelkezésére is állnak; így például a <code>haml</code>,
az <code>erb</code>, a <code>halt</code> stb.</p>

<a name='Nem%20tal%C3%A1lhat%C3%B3'></a>
<h3>Nem található</h3>

<p>Amikor a <code>Sinatra::NotFound</code> kivétel fellép, vagy a válasz HTTP
státuszkódja 404-es, mindig a <code>not_found</code> metódus hívódik meg.</p>

<pre><code class="language-ruby">  not_found do
    'Sehol sem találom, amit keresel'
  end
</code></pre>

<a name='Hiba'></a>
<h3>Hiba</h3>

<p>Az <code>error</code> metódus hívódik meg olyankor, amikor egy útvonal, blokk vagy
előszűrő kivételt vált ki. A kivétel objektum lehívható a
<code>sinatra.error</code> Rack változótól:</p>

<pre><code class="language-ruby">  error do
    'Elnézést, de valami szörnyű hiba lépett fel - ' + env['sinatra.error'].message
  end
</code></pre>

<p>Egyéni hibakezelés:</p>

<pre><code class="language-ruby">  error MyCustomError do
    'Szóval az van, hogy...' + env['sinatra.error'].message
  end
</code></pre>

<p>És amikor fellép:</p>

<pre><code class="language-ruby">  get '/' do
    raise MyCustomError, 'valami nem stimmel!'
  end
</code></pre>

<p>Ez fog megjelenni:</p>

<p>Szóval az van, hogy… valami nem stimmel!</p>

<p>A Sinatra speciális <code>not_found</code> és <code>error</code> hibakezelőket
használ, amikor a futtatási környezet fejlesztői módba van kapcsolva.</p>

<a name='Mime%20t%C3%ADpusok'></a>
<h2>Mime típusok</h2>

<p>A <code>send_file</code> metódus használatakor, vagy statikus fájlok
kiszolgálásakor előfordulhat, hogy a Sinatra nem ismeri fel a fájlok
mime típusát. Ilyenkor használd a +mime_type+ kapcsolót a fájlkiterjesztés
bevezetéséhez:</p>

<pre><code class="language-ruby">  mime_type :foo, 'text/foo'
</code></pre>

<a name='Rack%20Middleware'></a>
<h2>Rack Middleware</h2>

<p>A Sinatra egy Ruby keretrendszerek számára kifejlesztett egyszerű és szabványos
interfészre, a <a href="http://rack.github.io/">Rack</a> -re épül. A Rack fejlesztői
szempontból egyik legérdekesebb jellemzője, hogy támogatja az úgynevezett
“middleware” elnevezésű komponenseket, amelyek beékelődnek a szerver és az
alkalmazás közé, így képesek megfigyelni és/vagy módosítani a HTTP
kéréseket és válaszokat. Segítségükkel különféle, egységesen működő
funkciókat építhetünk be rendszerünkbe.</p>

<p>A Sinatra keretrendszerben gyerekjáték a Rack middleware-ek behúzása a
<code>use</code> metódus segítségével:</p>

<pre><code class="language-ruby">  require 'sinatra'
  require 'my_custom_middleware'

  use Rack::Lint
  use MyCustomMiddleware

  get '/hello' do
    'Helló Világ'
  end
</code></pre>

<p>A <code>use</code> metódus szemantikája megegyezik a
<a href="http://www.rubydoc.info/github/rack/rack/master/Rack/Builder">Rack::Builder</a> DSL-ben
használt +use+ metóduséval (az említett DSL-t leginkább rackup állományokban
használják). Hogy egy példát említsünk, a <code>use</code> metódus elfogad
változókat és blokkokat egyaránt, akár kombinálva is ezeket:</p>

<pre><code class="language-ruby">  use Rack::Auth::Basic do |username, password|
    username == 'admin' &amp;&amp; password == 'titkos'
  end
</code></pre>

<p>A Rack terjesztéssel egy csomó alap middleware komponens is érkezik,
amelyekkel a naplózás, URL útvonalak megadása, autentikáció és
munkamenet-kezelés könnyen megvalósítható. A Sinatra ezek közül elég
sokat automatikusan felhasznál a beállításoktól függően, így ezek
explicit betöltésével (+use+) nem kell bajlódnod.</p>

<a name='Tesztel%C3%A9s'></a>
<h2>Tesztelés</h2>

<p>Sinatra teszteket bármely Rack alapú tesztelő könyvtárral vagy
keretrendszerrel készíthetsz. Mi a <a href="http://gitrdoc.com/brynary/rack-test">Rack::Test</a>
könyvtárat ajánljuk:</p>

<pre><code class="language-ruby">  require 'my_sinatra_app'
  require 'rack/test'

  class MyAppTest &lt; Minitest::Test
    include Rack::Test::Methods

    def app
      Sinatra::Application
    end

    def test_my_default
      get '/'
      assert_equal 'Helló Világ!', last_response.body
    end

    def test_with_params
      get '/meet', :name =&gt; 'Frici'
      assert_equal 'Helló Frici!', last_response.body
    end

    def test_with_user_agent
      get '/', {}, 'HTTP_USER_AGENT' =&gt; 'Songbird'
      assert_equal "Songbird-öt használsz!", last_response.body
    end
  end
</code></pre>

<p>Megjegyzés: A beépített Sinatra::Test és Sinatra::TestHarness osztályok
a 0.9.2-es kiadástól kezdve elavultnak számítanak.</p>

<a name='Sinatra::Base%20-%20Middleware-ek,%20k%C3%B6nyvt%C3%A1rak%20%C3%A9s%20modul%C3%A1ris%20alkalmaz%C3%A1sok'></a>
<h2>Sinatra::Base - Middleware-ek, könyvtárak és moduláris alkalmazások</h2>

<p>Az alkalmazást felső szinten építeni megfelelhet mondjuk egy kisebb
app esetén, ám kifejezetten károsnak bizonyulhat olyan komolyabb,
újra felhasználható komponensek készítésekor, mint például egy Rack
middleware, Rails metal, egyszerűbb kiszolgáló komponenssel bíró
könyvtárak vagy éppen Sinatra kiterjesztések. A felső szintű DSL
bepiszkítja az Objektum névteret, ráadásul kisalkalmazásokra szabott
beállításokat feltételez (így például egyetlen alkalmazásfájl,
<code>./public</code>
és <code>./views</code> könyvtár meglétét, naplózást, kivételkezelő oldalt stb.).
Itt jön a képbe a Sinatra::Base osztály:</p>

<pre><code class="language-ruby">  require 'sinatra/base'

  class MyApp &lt; Sinatra::Base
    set :sessions, true
    set :foo, 'bar'

    get '/' do
      'Helló Világ!'
    end
  end
</code></pre>

<p>A MyApp osztály immár önálló Rack komponensként, mondjuk Rack middleware-ként
vagy alkalmazásként, esetleg Rails metal-ként is tud működni. Közvetlenül
használhatod (<code>use</code>) vagy futtathatod (<code>run</code>) az osztályodat egy rackup
konfigurációs állományban (<code>config.ru</code>), vagy egy szerverkomponenst
tartalmazó könyvtár vezérlésekor:</p>

<pre><code class="language-ruby">   MyApp.run! :host =&gt; 'localhost', :port =&gt; 9090
</code></pre>

<p>A Sinatra::Base gyermekosztályaiban elérhető metódusok egyúttal a felső
szintű DSL-en keresztül is hozzáférhetők. A legtöbb felső szintű
alkalmazás átalakítható Sinatra::Base alapú komponensekké két lépésben:</p>



<p>A <code>Sinatra::Base</code> osztály igazából egy üres lap: a legtöbb funkció
alapból ki van kapcsolva, beleértve a beépített szervert is. A
beállításokkal és az egyes kapcsolók hatásával az
<a href="http://www.sinatrarb.com/configuration.html">Options and Configuration</a> lap
foglalkozik.</p>

<p>Széljegyzet: A Sinatra felső szintű DSL-je egy egyszerű delegációs
rendszerre épül. A Sinatra::Application osztály - a Sinatra::Base egy
speciális osztályaként - fogadja az összes :get, :put, :post,
:delete, :before, :error, :not_found, :configure és :set üzenetet,
ami csak a felső szintre beérkezik. Érdemes utánanézned a kódban,
miképp <a href="http://github.com/sinatra/sinatra/blob/master/lib/sinatra/main.rb#L25">kerül be</a>
a <a href="http://github.com/sinatra/sinatra/blob/master/lib/sinatra/base.rb#L1064">Sinatra::Delegator mixin</a>
a fő névtérbe.</p>

<a name='Parancssori%20lehet%C5%91s%C3%A9gek'></a>
<h2>Parancssori lehetőségek</h2>

<p>Sinatra alkalmazásokat közvetlenül futtathatunk:</p>

<pre><code>  ruby myapp.rb [-h] [-x] [-e ENVIRONMENT] [-p PORT] [-s HANDLER]
</code></pre>

<p>Az alábbi kapcsolókat ismeri fel a rendszer:</p>

<p>-h # segítség
  -p # a port beállítása (alapértelmezés szerint ez a 4567-es)
  -e # a környezet beállítása (alapértelmezés szerint ez a development)
  -s # a rack szerver/handler beállítása (alapértelmezetten ez a thin)
  -x # a mutex lock bekapcsolása (alapértelmezetten ki van kapcsolva)</p>

<a name='T%C3%B6bb%20sz%C3%A1lon%20futtat%C3%A1s'></a>
<h2>Több szálon futtatás</h2>

<p><em>Parafrázis <a href="http://stackoverflow.com/a/6282999/1725341">Konstantin StackOverflow válasza</a> alapján</em></p>

<p>A Sinatra nem szabja meg az konkurenciakezelés módját, hanem az alatta működő
Rack kezelőre (szerverre) hagyja ezt a feladatot, ami például a Thin, a Puma,
vagy a WEBrick. A Sinatra önmagában szálbiztos, tehát semmilyen probléma sem
adódik, ha a Rack kezelő többszálú konkurenciamodellt használ. Ezek szerint
szerverindításkor meg kell adni a Rack szervernek megfelelő indítási módot.
A következő példa egy többszálú Thin szerver indítását mutatja be.</p>

<pre><code class="language-ruby"># app.rb

require 'sinatra/base'

class App &lt; Sinatra::Base
  get '/' do
    "Hello, World"
  end
end

App.run!

</code></pre>

<p>A szerverindítás parancsa a következő lenne:</p>

<pre><code class="language-shell">thin --threaded start
</code></pre>

<a name='Fejleszt%C5%91i%20v%C3%A1ltozat'></a>
<h2>Fejlesztői változat</h2>

<p>Ha a Sinatra legfrissebb, fejlesztői változatát szeretnéd használni,
készíts egy helyi másolatot és indítsd az alkalmazásodat úgy,
hogy a <code>sinatra/lib</code> könyvtár elérhető legyen a
<code>LOAD_PATH</code>-on:</p>

<pre><code>  cd myapp
  git clone git://github.com/sinatra/sinatra.git
  ruby -Isinatra/lib myapp.rb
</code></pre>

<p>De hozzá is adhatod a <tt>sinatra/lib</tt> könyvtárat a <tt>LOAD_PATH</tt>-hoz
az alkalmazásodban:</p>

<pre><code class="language-ruby">  $LOAD_PATH.unshift File.dirname(__FILE__) + '/sinatra/lib'
  require 'rubygems'
  require 'sinatra'

  get '/about' do
    "A következő változatot futtatom " + Sinatra::VERSION
  end
</code></pre>

<p>A Sinatra frissítését később így végezheted el:</p>

<pre><code>  cd myproject/sinatra
  git pull
</code></pre>

<a name='Tov%C3%A1bbi%20inform%C3%A1ci%C3%B3k'></a>
<h2>További információk</h2>

<ul>
  <li>
<a href="http://www.sinatrarb.com/">A projekt weboldala</a> - Kiegészítő dokumentáció,
hírek, hasznos linkek</li>
  <li>
<a href="http://www.sinatrarb.com/contributing.html">Közreműködés</a> - Hibát találtál?
Segítségre van szükséged? Foltot küldenél be?</li>
  <li>
<a href="http://sinatra.lighthouseapp.com">Lighthouse</a> - Hibakövetés és kiadások</li>
  <li><a href="https://twitter.com/sinatra">Twitter</a></li>
  <li><a href="http://groups.google.com/group/sinatrarb">Levelezőlista</a></li>
  <li>
<a href="irc://chat.freenode.net/#sinatra">IRC: #sinatra</a> a http://freenode.net címen</li>
</ul>
</body></html>
