<div class='toc'>
	<ol class='level-1'>
		<li><a href='#Rotas'>Rotas</a></li>
		<ol class='level-2'>
			<li><a href='#Condies'>Condies</a></li>
			<li><a href='#Retorno%20de%20valores'>Retorno de valores</a></li>
			<li><a href='#Custom%20Route%20Matchers'>Custom Route Matchers</a></li>
		</ol>
		<li><a href='#Arquivos%20estticos'>Arquivos estticos</a></li>
		<li><a href='#Views%20/%20Templates'>Views / Templates</a></li>
		<ol class='level-2'>
			<li><a href='#Haml%20Templates'>Haml Templates</a></li>
			<li><a href='#Erb%20Templates'>Erb Templates</a></li>
			<li><a href='#Erubis'>Erubis</a></li>
			<li><a href='#Builder%20Templates'>Builder Templates</a></li>
			<li><a href='#Sass%20Templates'>Sass Templates</a></li>
			<li><a href='#Less%20Templates'>Less Templates</a></li>
			<li><a href='#Inline%20Templates'>Inline Templates</a></li>
			<li><a href='#Acessando%20Variveis%20nos%20Templates'>Acessando Variveis nos Templates</a></li>
			<li><a href='#Templates%20Inline'>Templates Inline</a></li>
			<li><a href='#Templates%20nomeados'>Templates nomeados</a></li>
		</ol>
		<li><a href='#Helpers'>Helpers</a></li>
		<li><a href='#Filtros'>Filtros</a></li>
		<li><a href='#Halting'>Halting</a></li>
		<li><a href='#Passing'>Passing</a></li>
		<li><a href='#Configurao'>Configurao</a></li>
		<li><a href='#Tratamento%20de%20Erros'>Tratamento de Erros</a></li>
		<ol class='level-2'>
			<li><a href='#No%20Encontrado'>No Encontrado</a></li>
			<li><a href='#Erro'>Erro</a></li>
		</ol>
		<li><a href='#Mime%20Types'>Mime Types</a></li>
		<li><a href='#Middleware%20Rack'>Middleware Rack</a></li>
		<li><a href='#Testando'>Testando</a></li>
		<li><a href='#Sinatra::Base%20-%20Middleware,%20Bibliotecas%20e%20aplicativos%20modulares'>Sinatra::Base - Middleware, Bibliotecas e aplicativos modulares</a></li>
		<li><a href='#Linha%20de%20Comando'>Linha de Comando</a></li>
		<li><a href='#A%20ltima%20verso'>A ltima verso</a></li>
		<li><a href='#Mais'>Mais</a></li>
	</ol>
</div>


<p><em>Ateno: Este documento  apenas uma traduo da verso em ingls e
pode estar desatualizado.</em></p>

<p>Sinatra  uma
<a href="http://pt.wikipedia.org/wiki/Linguagem_de_domnio_especfico">DSL</a> para
criar aplicaes web em Ruby com o mnimo de esforo e rapidez:</p>

<pre><code class="ruby"># minhaapp.rb
require &#39;sinatra&#39;

get &#39;/&#39; do
  &#39;Ol Mundo!&#39;
end
</code></pre>

<p>Instale a gem e execute como:</p>

<pre><code class="shell">gem install sinatra
ruby minhaapp.rb
</code></pre>

<p>Acesse em: <a href="http://localhost:4567">localhost:4567</a></p>

<p>Recomendamos a execuo de <code>gem install thin</code>. Caso esteja disponvel, o
Sinatra ir usar.</p>

<a name='Rotas'></a>
<h2>Rotas</h2>

<p>No Sinatra, uma rota  um mtodo HTTP emparelhado com um padro de URL.
Cada rota possui um bloco de execuo:</p>

<pre><code class="ruby">get &#39;/&#39; do
  .. mostrando alguma coisa ..
end

post &#39;/&#39; do
  .. criando alguma coisa ..
end

put &#39;/&#39; do
  .. atualizando alguma coisa ..
end

patch &#39;/&#39; do
  .. modificando alguma coisa ..
end

delete &#39;/&#39; do
  .. removendo alguma coisa ..
end

options &#39;/&#39; do
  .. estabelecendo alguma coisa ..
end
</code></pre>

<p>As rotas so interpretadas na ordem em que so definidos. A primeira
rota encontrada responde ao pedido.</p>

<p>Padres de rota podem conter parmetros nomeados, acessvel atravs do
hash <code>params</code>:</p>

<pre><code class="ruby">get &#39;/ola/:nome&#39; do
  # corresponde a &quot;GET /ola/foo&quot; e &quot;GET /ola/bar&quot;
  # params[:nome]  &#39;foo&#39; ou &#39;bar&#39;
  &quot;Ol #{params[:nome]}!&quot;
end
</code></pre>

<p>Voc tambm pode acessar parmetros nomeados atravs dos parmetros de
um bloco:</p>

<pre><code class="ruby">get &#39;/ola/:nome&#39; do |n|
  &quot;Ol #{n}!&quot;
end
</code></pre>

<p>Padres de rota tambm podem conter parmetros splat (wildcard),
acessvel atravs do array <code>params[: splat]</code>:</p>

<pre><code class="ruby">get &#39;/diga/*/para/*&#39; do
  # corresponde a /diga/ola/para/mundo
  params[:splat] # =&gt; [&quot;ola&quot;, &quot;mundo&quot;]
end

get &#39;/download/*.*&#39; do
  # corresponde a /download/pasta/do/arquivo.xml
  params[:splat] # =&gt; [&quot;pasta/do/arquivo&quot;, &quot;xml&quot;]
end
</code></pre>

<p>Ou com parmetros de um bloco:</p>

<pre><code class="ruby">get &#39;/download/*.*&#39; do |pasta, ext|
  [pasta, ext] # =&gt; [&quot;pasta/do/arquivo&quot;, &quot;xml&quot;]
end
</code></pre>

<p>Rotas podem corresponder com expresses regulares:</p>

<pre><code class="ruby">get %r{/ola/([\w]+)} do
  &quot;Ol, #{params[:captures].first}!&quot;
end
</code></pre>

<p>Ou com parmetros de um bloco:</p>

<pre><code class="ruby">get %r{/ola/([\w]+)} do |c|
  &quot;Ol, #{c}!&quot;
end
</code></pre>

<p>Padres de rota podem contar com parmetros opcionais:</p>

<pre><code class="ruby">get &#39;/posts.?:formato?&#39; do
  # corresponde a &quot;GET /posts&quot; e qualquer extenso &quot;GET /posts.json&quot;, &quot;GET /posts.xml&quot;, etc.
end
</code></pre>

<p>A propsito, a menos que voc desative a proteo contra ataques (veja
abaixo), o caminho solicitado pode ser alterado antes de concluir a
comparao com as suas rotas.</p>

<a name='Condies'></a>
<h3>Condies</h3>

<p>Rotas podem incluir uma variedade de condies, tal como o <code>user agent</code>:</p>

<pre><code class="ruby">get &#39;/foo&#39;, :agent =&gt; /Songbird (\d\.\d)[\d\/]*?/ do
  &quot;Voc est usando o Songbird verso #{params[:agent][0]}&quot;
end

get &#39;/foo&#39; do
  # Correspondente a navegadores que no sejam Songbird
end
</code></pre>

<p>Outras condies disponveis so <code>host_name</code> e <code>provides</code>:</p>

<pre><code class="ruby">get &#39;/&#39;, :host_name =&gt; /^admin\./ do
  &quot;rea administrativa. Acesso negado!&quot;
end

get &#39;/&#39;, :provides =&gt; &#39;html&#39; do
  haml :index
end

get &#39;/&#39;, :provides =&gt; [&#39;rss&#39;, &#39;atom&#39;, &#39;xml&#39;] do
  builder :feed
end
</code></pre>

<p>Voc pode facilmente definir suas prprias condies:</p>

<pre><code class="ruby">set(:probabilidade) { |valor| condition { rand &lt;= valor } }

get &#39;/ganha_um_carro&#39;, :probabilidade =&gt; 0.1 do
  &quot;Voc ganhou!&quot;
end

get &#39;/ganha_um_carro&#39; do
  &quot;Sinto muito, voc perdeu.&quot;
end
</code></pre>

<p>Use splat, para uma condio que levam vrios valores:</p>

<pre><code class="ruby">set(:auth) do |*roles|   # &lt;- observe o splat aqui
  condition do
    unless logged_in? &amp;&amp; roles.any? {|role| current_user.in_role? role }
      redirect &quot;/login/&quot;, 303
    end
  end
end

get &quot;/minha/conta/&quot;, :auth =&gt; [:usuario, :administrador] do
  &quot;Detalhes da sua conta&quot;
end

get &quot;/apenas/administrador/&quot;, :auth =&gt; :administrador do
  &quot;Apenas administradores so permitidos aqui!&quot;
end
</code></pre>

<a name='Retorno%20de%20valores'></a>
<h3>Retorno de valores</h3>

<p>O valor de retorno do bloco de uma rota determina pelo menos o corpo da
resposta passado para o cliente HTTP, ou pelo menos o prximo middleware
na pilha Rack. Frequentemente, isto  uma <code>string</code>, tal como nos
exemplos acima. Mas, outros valores tambm so aceitos.</p>

<p>Voc pode retornar uma resposta vlida ou um objeto para o Rack, sendo
eles de qualquer tipo de objeto que queira. Alm disto,  possvel
retornar um cdigo de status HTTP.</p>

<ul>
<li><p>Um array com trs elementros: <code>[status (Fixnum), cabecalho (Hash),
corpo da resposta (responde  #each)]</code></p></li>
<li><p>Um array com dois elementros: <code>[status (Fixnum), corpo da resposta
(responde  #each)]</code></p></li>
<li><p>Um objeto que responda  <code>#each</code> sem passar nada, mas, sim, <code>strings</code>
para um dado bloco</p></li>
<li><p>Um objeto <code>Fixnum</code> representando o cdigo de status</p></li>
</ul>

<p>Dessa forma, podemos implementar facilmente um exemplo de streaming:</p>

<pre><code class="ruby">class Stream
  def each
    100.times { |i| yield &quot;#{i}\n&quot; }
  end
end

get(&#39;/&#39;) { Stream.new }
</code></pre>

<p>Voc tambm pode usar o mtodo auxiliar <code>stream</code> (descrito abaixo) para
incorporar a lgica de streaming na rota.</p>

<a name='Custom%20Route%20Matchers'></a>
<h3>Custom Route Matchers</h3>

<p>Como apresentado acima, a estrutura do Sinatra conta com suporte
embutido para uso de padres de String e expresses regulares como
validadores de rota. No entanto, ele no pra por a. Voc pode
facilmente definir os seus prprios validadores:</p>

<pre><code class="ruby">class AllButPattern
  Match = Struct.new(:captures)

  def initialize(except)
    @except   = except
    @captures = Match.new([])
  end

  def match(str)
    @captures unless @except === str
  end
end

def all_but(pattern)
  AllButPattern.new(pattern)
end

get all_but(&quot;/index&quot;) do
  # ...
end
</code></pre>

<p>Note que o exemplo acima pode ser robusto e complicado em excesso. Pode
tambm ser implementado como:</p>

<pre><code class="ruby">get // do
  pass if request.path_info == &quot;/index&quot;
  # ...
end
</code></pre>

<p>Ou, usando algo mais denso  frente:</p>

<pre><code class="ruby">get %r{^(?!/index$)} do
  # ...
end
</code></pre>

<a name='Arquivos%20estticos'></a>
<h2>Arquivos estticos</h2>

<p>Arquivos estticos so disponibilizados a partir do diretrio
<code>./public</code>. Voc pode especificar um local diferente pela opo
<code>:public_folder</code></p>

<pre><code class="ruby">set :public_folder, File.dirname(__FILE__) + &#39;/estatico&#39;
</code></pre>

<p>Note que o nome do diretrio pblico no  incluido na URL. Um arquivo
<code>./public/css/style.css</code>  disponibilizado como
<code>http://example.com/css/style.css</code>.</p>

<a name='Views%20/%20Templates'></a>
<h2>Views / Templates</h2>

<p>Templates presumem-se estar localizados sob o diretrio <code>./views</code>. Para
utilizar um diretrio view diferente:</p>

<pre><code class="ruby">set :views, File.dirname(__FILE__) + &#39;/modelo&#39;
</code></pre>

<p>Uma coisa importante a ser lembrada  que voc sempre tem as referncias
dos templates como smbolos, mesmo se eles estiverem em um sub-diretrio
(nesse caso utilize <code>:&#39;subdir/template&#39;</code>). Mtodos de renderizao iro
processar qualquer string passada diretamente para elas.</p>

<a name='Haml%20Templates'></a>
<h3>Haml Templates</h3>

<p>A gem/biblioteca haml  necessria para renderizar templates HAML:</p>

<pre><code class="ruby"># Voc precisa do &#39;require haml&#39; em sua aplicao.
require &#39;haml&#39;

get &#39;/&#39; do
  haml :index
end
</code></pre>

<p>Renderiza <code>./views/index.haml</code>.</p>

<p><a href="http://haml.info/docs/yardoc/file.HAML_REFERENCE.html#options">Opes
Haml</a>
podem ser setadas globalmente atravs das configuraes do sinatra, veja
<a href="http://www.sinatrarb.com/configuration.html">Opes e Configuraes</a>, e
substitua em uma requisio individual.</p>

<pre><code class="ruby">set :haml, {:format =&gt; :html5 } # o formato padro do Haml  :xhtml

get &#39;/&#39; do
  haml :index, :haml_options =&gt; {:format =&gt; :html4 } # substituido
end
</code></pre>

<a name='Erb%20Templates'></a>
<h3>Erb Templates</h3>

<pre><code class="ruby"># Voc precisa do &#39;require erb&#39; em sua aplicao
require &#39;erb&#39;

get &#39;/&#39; do
  erb :index
end
</code></pre>

<p>Renderiza <code>./views/index.erb</code></p>

<a name='Erubis'></a>
<h3>Erubis</h3>

<p>A gem/biblioteca erubis  necessria para renderizar templates erubis:</p>

<pre><code class="ruby"># Voc precisa do &#39;require erubis&#39; em sua aplicao.
require &#39;erubis&#39;

get &#39;/&#39; do
  erubis :index
end
</code></pre>

<p>Renderiza <code>./views/index.erubis</code></p>

<a name='Builder%20Templates'></a>
<h3>Builder Templates</h3>

<p>A gem/biblioteca builder  necessria para renderizar templates builder:</p>

<pre><code class="ruby"># Voc precisa do &#39;require builder&#39; em sua aplicao.
require &#39;builder&#39;

get &#39;/&#39; do
  content_type &#39;application/xml&#39;, :charset =&gt; &#39;utf-8&#39;
  builder :index
end
</code></pre>

<p>Renderiza <code>./views/index.builder</code>.</p>

<a name='Sass%20Templates'></a>
<h3>Sass Templates</h3>

<p>A gem/biblioteca sass  necessria para renderizar templates sass:</p>

<pre><code class="ruby"># Voc precisa do &#39;require haml&#39; ou &#39;require sass&#39; em sua aplicao.
require &#39;sass&#39;

get &#39;/stylesheet.css&#39; do
  content_type &#39;text/css&#39;, :charset =&gt; &#39;utf-8&#39;
  sass :stylesheet
end
</code></pre>

<p>Renderiza <code>./views/stylesheet.sass</code>.</p>

<p><a href="http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#options">Opes
Sass</a>
podem ser setadas globalmente atravs das configuraes do sinatra, veja
<a href="http://www.sinatrarb.com/configuration.html">Opes e Configuraes</a>, e
substitua em uma requisio individual.</p>

<pre><code class="ruby">set :sass, {:style =&gt; :compact } # o estilo padro do Sass  :nested

get &#39;/stylesheet.css&#39; do
  content_type &#39;text/css&#39;, :charset =&gt; &#39;utf-8&#39;
  sass :stylesheet, :style =&gt; :expanded # substituido
end
</code></pre>

<a name='Less%20Templates'></a>
<h3>Less Templates</h3>

<p>A gem/biblioteca less  necessria para renderizar templates Less:</p>

<pre><code class="ruby"># Voc precisa do &#39;require less&#39; em sua aplicao.
require &#39;less&#39;

get &#39;/stylesheet.css&#39; do
  content_type &#39;text/css&#39;, :charset =&gt; &#39;utf-8&#39;
  less :stylesheet
end
</code></pre>

<p>Renderiza <code>./views/stylesheet.less</code>.</p>

<a name='Inline%20Templates'></a>
<h3>Inline Templates</h3>

<pre><code class="ruby">get &#39;/&#39; do
  haml &#39;%div.title Ol Mundo&#39;
end
</code></pre>

<p>Renderiza a string, em uma linha, no template.</p>

<a name='Acessando%20Variveis%20nos%20Templates'></a>
<h3>Acessando Variveis nos Templates</h3>

<p>Templates so avaliados dentro do mesmo contexto como manipuladores de
rota. Variveis de instncia setadas em rotas manipuladas so
diretamente acessadas por templates:</p>

<pre><code class="ruby">get &#39;/:id&#39; do
  @foo = Foo.find(params[:id])
  haml &#39;%h1= @foo.nome&#39;
end
</code></pre>

<p>Ou, especifique um hash explcito para variveis locais:</p>

<pre><code class="ruby">get &#39;/:id&#39; do
  foo = Foo.find(params[:id])
  haml &#39;%h1= foo.nome&#39;, :locals =&gt; { :foo =&gt; foo }
end
</code></pre>

<p>Isso  tipicamente utilizando quando renderizamos templates como
partials dentro de outros templates.</p>

<a name='Templates%20Inline'></a>
<h3>Templates Inline</h3>

<p>Templates podem ser definidos no final do arquivo fonte(.rb):</p>

<pre><code class="ruby">require &#39;rubygems&#39;
require &#39;sinatra&#39;

get &#39;/&#39; do
  haml :index
end

__END__

@@ layout
%html
  = yield

@@ index
%div.title Ol Mundo!!!!!
</code></pre>

<p>NOTA: Templates inline definidos no arquivo fonte so automaticamente
carregados pelo sinatra. Digite `enable :inline_templates` se voc
tem templates inline no outro arquivo fonte.</p>

<a name='Templates%20nomeados'></a>
<h3>Templates nomeados</h3>

<p>Templates tambm podem ser definidos utilizando o mtodo top-level
<code>template</code>:</p>

<pre><code class="ruby">template :layout do
  &quot;%html\n  =yield\n&quot;
end

template :index do
  &#39;%div.title Ol Mundo!&#39;
end

get &#39;/&#39; do
  haml :index
end
</code></pre>

<p>Se existir um template com nome layout, ele ser utilizado toda vez
que um template for renderizado. Voc pode desabilitar layouts passando
<code>:layout =&gt; false</code>.</p>

<pre><code class="ruby">get &#39;/&#39; do
  haml :index, :layout =&gt; !request.xhr?
end
</code></pre>

<a name='Helpers'></a>
<h2>Helpers</h2>

<p>Use o mtodo de alto nvel <code>helpers</code> para definir mtodos auxiliares
para utilizar em manipuladores de rotas e modelos:</p>

<pre><code class="ruby">helpers do
  def bar(nome)
    &quot;#{nome}bar&quot;
  end
end

get &#39;/:nome&#39; do
  bar(params[:nome])
end
</code></pre>

<a name='Filtros'></a>
<h2>Filtros</h2>

<p>Filtros Before so avaliados antes de cada requisio dentro do contexto
da requisio e pode modificar a requisio e a reposta. Variveis de
instncia setadas nos filtros so acessadas atravs de rotas e
templates:</p>

<pre><code class="ruby">before do
  @nota = &#39;Oi!&#39;
  request.path_info = &#39;/foo/bar/baz&#39;
end

get &#39;/foo/*&#39; do
  @nota #=&gt; &#39;Oi!&#39;
  params[:splat] #=&gt; &#39;bar/baz&#39;
end
</code></pre>

<p>Filtros After so avaliados aps cada requisio dentro do contexto da
requisio e tambm podem modificar o pedido e a resposta. Variveis de
instncia definidas nos filtros before e rotas so acessadas atravs dos
filtros after:</p>

<pre><code class="ruby">after do
  puts response.status
end
</code></pre>

<p>Filtros opcionalmente tem um padro, fazendo com que sejam avaliados
somente se o caminho do pedido coincidir com esse padro:</p>

<pre><code class="ruby">before &#39;/protected/*&#39; do
  authenticate!
end

after &#39;/create/:slug&#39; do |slug|
  session[:last_slug] = slug
end
</code></pre>

<a name='Halting'></a>
<h2>Halting</h2>

<p>Para parar imediatamente uma requisio com um filtro ou rota utilize:</p>

<pre><code class="ruby">halt
</code></pre>

<p>Voc tambm pode especificar o status quando parar</p>

<pre><code class="ruby">halt 410
</code></pre>

<p>Ou com corpo de texto</p>

<pre><code class="ruby">halt &#39;isso ser o corpo do texto&#39;
</code></pre>

<p>Ou tambm</p>

<pre><code class="ruby">halt 401, &#39;vamos embora!&#39;
</code></pre>

<p>Com cabealhos</p>

<pre><code class="ruby">halt 402, {&#39;Content-Type&#39; =&gt; &#39;text/plain&#39;}, &#39;revanche&#39;
</code></pre>

<a name='Passing'></a>
<h2>Passing</h2>

<p>Uma rota pode processar aposta para a prxima rota correspondente usando
<code>pass</code>:</p>

<pre><code class="ruby">get &#39;/adivinhar/:quem&#39; do
  pass unless params[:quem] == &#39;Frank&#39;
  &#39;Voc me pegou!&#39;
end

get &#39;/adivinhar/*&#39; do
  &#39;Voc falhou!&#39;
end
</code></pre>

<p>O bloqueio da rota  imediatamente encerrado e o controle continua com a
prxima rota de parmetro. Se o parmetro da rota no for encontrado, um
404  retornado.</p>

<a name='Configurao'></a>
<h2>Configurao</h2>

<p>Rodando uma vez, na inicializao, em qualquer ambiente:</p>

<pre><code class="ruby">configure do
  ...
end
</code></pre>

<p>Rodando somente quando o ambiente (<code>RACK_ENV</code> environment varivel) 
setado para <code>:production</code>:</p>

<pre><code class="ruby">configure :production do
  ...
end
</code></pre>

<p>Rodando quando o ambiente  setado para <code>:production</code> ou <code>:test</code>:</p>

<pre><code class="ruby">configure :production, :test do
  ...
end
</code></pre>

<a name='Tratamento%20de%20Erros'></a>
<h2>Tratamento de Erros</h2>

<p>Tratamento de erros rodam dentro do mesmo contexto como rotas e filtros
before, o que significa que voc pega todos os presentes que tem para
oferecer, como <code>haml</code>, <code>erb</code>, <code>halt</code>, etc.</p>

<a name='No%20Encontrado'></a>
<h3>No Encontrado</h3>

<p>Quando um <code>Sinatra::NotFound</code> exception  levantado, ou o cdigo de
status da reposta  404, o <code>not_found</code> manipulador  invocado:</p>

<pre><code class="ruby">not_found do
  &#39;Isto est longe de ser encontrado&#39;
end
</code></pre>

<a name='Erro'></a>
<h3>Erro</h3>

<p>O manipulador <code>error</code>  invocado toda a vez que uma exceo  lanada a
partir de um bloco de rota ou um filtro. O objeto da exceo pode ser
obtido a partir da varivel Rack <code>sinatra.error</code>:</p>

<pre><code class="ruby">error do
  &#39;Desculpe, houve um erro desagradvel - &#39; + env[&#39;sinatra.error&#39;].name
end
</code></pre>

<p>Erros customizados:</p>

<pre><code class="ruby">error MeuErroCustomizado do
  &#39;Ento que aconteceu foi...&#39; + env[&#39;sinatra.error&#39;].message
end
</code></pre>

<p>Ento, se isso acontecer:</p>

<pre><code class="ruby">get &#39;/&#39; do
  raise MeuErroCustomizado, &#39;alguma coisa ruim&#39;
end
</code></pre>

<p>Voc receber isso:</p>

<pre><code>Ento que aconteceu foi... alguma coisa ruim
</code></pre>

<p>Alternativamente, voc pode instalar manipulador de erro para um cdigo
de status:</p>

<pre><code class="ruby">error 403 do
  &#39;Accesso negado&#39;
end

get &#39;/secreto&#39; do
  403
end
</code></pre>

<p>Ou um range:</p>

<pre><code class="ruby">error 400..510 do
  &#39;Boom&#39;
end
</code></pre>

<p>O Sinatra instala os manipuladores especiais <code>not_found</code> e <code>error</code>
quando roda sobre o ambiente de desenvolvimento.</p>

<a name='Mime%20Types'></a>
<h2>Mime Types</h2>

<p>Quando utilizamos <code>send_file</code> ou arquivos estticos voc pode ter mime
types Sinatra no entendidos. Use <code>mime_type</code> para registrar eles por
extenso de arquivos:</p>

<pre><code class="ruby">mime_type :foo, &#39;text/foo&#39;
</code></pre>

<p>Voc tambm pode utilizar isto com o helper <code>content_type</code>:</p>

<pre><code class="ruby">content_type :foo
</code></pre>

<a name='Middleware%20Rack'></a>
<h2>Middleware Rack</h2>

<p>O Sinatra roda no <a href="http://rack.rubyforge.org/">Rack</a>, uma interface
padro mnima para frameworks web em Ruby. Um das capacidades mais
interessantes do Rack para desenvolver aplicativos  suporte a
middleware  componentes que ficam entre o servidor e sua aplicao
monitorando e/ou manipulando o request/response do HTTP para prover
vrios tipos de funcionalidades comuns.</p>

<p>O Sinatra faz construtores pipelines do middleware Rack facilmente em um
nvel superior utilizando o mtodo <code>use</code>:</p>

<pre><code class="ruby">require &#39;sinatra&#39;
require &#39;meu_middleware_customizado&#39;

use Rack::Lint
use MeuMiddlewareCustomizado

get &#39;/ola&#39; do
  &#39;Ol mundo&#39;
end
</code></pre>

<p>A semntica de <code>use</code>  idntica aquela definida para a DSL
<a href="http://rack.rubyforge.org/doc/classes/Rack/Builder.html">Rack::Builder</a>
(mais frequentemente utilizada para arquivos rackup). Por exemplo, o
mtodo <code>use</code> aceita mltiplos argumentos/variveis bem como blocos:</p>

<pre><code class="ruby">use Rack::Auth::Basic do |usuario, senha|
  usuario == &#39;admin&#39; &amp;&amp; senha == &#39;secreto&#39;
end
</code></pre>

<p>O Rack  distribuido com uma variedade de middleware padres para logs,
debugs, rotas de URL, autenticao, e manipuladores de sesso. Sinatra
utilizada muitos desses componentes automaticamente baseando sobre
configurao, ento, tipicamente voc no tem <code>use</code> explicitamente.</p>

<a name='Testando'></a>
<h2>Testando</h2>

<p>Testes no Sinatra podem ser escritos utilizando qualquer biblioteca ou
framework de teste baseados no Rack.
<a href="http://gitrdoc.com/brynary/rack-test">Rack::Test</a>  recomendado:</p>

<pre><code class="ruby">require &#39;minha_aplicacao_sinatra&#39;
require &#39;rack/test&#39;

class MinhaAplicacaoTeste &lt; Test::Unit::TestCase
  include Rack::Test::Methods

  def app
    Sinatra::Application
  end

  def meu_test_default
    get &#39;/&#39;
    assert_equal &#39;Ola Mundo!&#39;, last_response.body
  end

  def teste_com_parametros
    get &#39;/atender&#39;, :name =&gt; &#39;Frank&#39;
    assert_equal &#39;Ol Frank!&#39;, last_response.bodymeet
  end

  def test_com_ambiente_rack
    get &#39;/&#39;, {}, &#39;HTTP_USER_AGENT&#39; =&gt; &#39;Songbird&#39;
    assert_equal &quot;Voc est utilizando o Songbird!&quot;, last_response.body
  end
end
</code></pre>

<p>NOTA: Os mdulos de classe embutidos <code>Sinatra::Test</code> e
<code>Sinatra::TestHarness</code> so depreciados na verso 0.9.2.</p>

<a name='Sinatra::Base%20-%20Middleware,%20Bibliotecas%20e%20aplicativos%20modulares'></a>
<h2>Sinatra::Base - Middleware, Bibliotecas e aplicativos modulares</h2>

<p>Definir sua aplicao em um nvel superior de trabalho funciona bem para
micro aplicativos, mas tem considerveis incovenientes na construo de
componentes reutilizveis como um middleware Rack, metal Rails,
bibliotecas simples como um componente de servidor, ou mesmo extenses
Sinatra. A DSL de nvel superior polui o espao do objeto e assume um
estilo de configurao de micro aplicativos (exemplo: uma simples
arquivo de aplicao, diretrios <code>./public</code> e <code>./views</code>, logs, pgina de
detalhes de exceo, etc.).  onde o <code>Sinatra::Base</code> entra em jogo:</p>

<pre><code class="ruby">require &#39;sinatra/base&#39;

class MinhaApp &lt; Sinatra::Base
  set :sessions, true
  set :foo, &#39;bar&#39;

  get &#39;/&#39; do
    &#39;Ola mundo!&#39;
  end
end
</code></pre>

<p>A classe <code>MinhaApp</code>  um componente Rack independente que pode agir como
um middleware Rack, uma aplicao Rack, ou metal Rails. Voc pode
utilizar ou executar esta classe com um arquivo rackup <code>config.ru</code>;
ou, controlar um componente de servidor fornecendo como biblioteca:</p>

<pre><code class="ruby">MinhaApp.run! :host =&gt; &#39;localhost&#39;, :port =&gt; 9090
</code></pre>

<p>Os mtodos disponveis para subclasses <code>Sinatra::Base</code> so exatamente como
aqueles disponveis via a DSL de nvel superior. Aplicaes de nvel
mais alto podem ser convertidas para componentes <code>Sinatra::Base</code> com duas
modificaes:</p>

<ul>
<li><p>Seu arquivo deve requerer <code>sinatra/base</code> ao invs de <code>sinatra</code>;
outra coisa, todos os mtodos DSL do Sinatra so importados para o
espao principal.</p></li>
<li><p>Coloque as rotas da sua aplicao, manipuladores de erro, filtros e
opes na subclasse de um <code>Sinatra::Base</code>.</p></li>
</ul>

<p><code>Sinatra::Base</code>  um quadro branco. Muitas opes so desabilitadas por
padro, incluindo o servidor embutido. Veja <a href="http://sinatra.github.com/configuration.html">Opes e
Configuraes</a> para
detalhes de opes disponveis e seus comportamentos.</p>

<p>SIDEBAR: A DSL de alto nvel do Sinatra  implementada utilizando um simples
sistema de delegao. A classe <code>Sinatra::Application</code>  uma subclasse especial
da <code>Sinatra::Base</code>  recebe todos os <code>:get</code>, <code>:put</code>, <code>:post</code>, <code>:delete</code>,
<code>:before</code>, <code>:error</code>, <code>:not_found</code>, <code>:configure</code>, e <code>:set messages</code> enviados
para o alto nvel. D uma olhada no cdigo voc mesmo: aqui est o
<a href="http://github.com/sinatra/sinatra/blob/ceac46f0bc129a6e994a06100aa854f606fe5992/lib/sinatra/base.rb#L1128">Sinatra::Delegator
mixin</a>
sendo <a href="http://github.com/sinatra/sinatra/blob/ceac46f0bc129a6e994a06100aa854f606fe5992/lib/sinatra/main.rb#L28">incluido dentro de um espao
principal</a></p>

<a name='Linha%20de%20Comando'></a>
<h2>Linha de Comando</h2>

<p>Aplicaes Sinatra podem ser executadas diretamente:</p>

<pre><code class="shell">ruby minhaapp.rb [-h] [-x] [-e AMBIENTE] [-p PORTA] [-o HOST] [-s SERVIDOR]
</code></pre>

<p>As opes so:</p>

<pre><code>-h # ajuda
-p # define a porta (padro  4567)
-o # define o host (padro  0.0.0.0)
-e # define o ambiente (padro  development)
-s # especifica o servidor/manipulador rack (padro  thin)
-x # ativa o bloqueio (padro  desligado)
</code></pre>

<a name='A%20ltima%20verso'></a>
<h2>A ltima verso</h2>

<p>Se voc gostaria de utilizar o cdigo da ltima verso do Sinatra, crie
um clone local e execute sua aplicao com o diretrio <code>sinatra/lib</code> no
<code>LOAD_PATH</code>:</p>

<pre><code class="shell">cd minhaapp
git clone git://github.com/sinatra/sinatra.git
ruby -I sinatra/lib minhaapp.rb
</code></pre>

<p>Alternativamente, voc pode adicionar o diretrio do <code>sinatra/lib</code> no
<code>LOAD_PATH</code> do seu aplicativo:</p>

<pre><code class="ruby">$LOAD_PATH.unshift File.dirname(__FILE__) + &#39;/sinatra/lib&#39;
require &#39;rubygems&#39;
require &#39;sinatra&#39;

get &#39;/sobre&#39; do
  &quot;Estou rodando a verso&quot; + Sinatra::VERSION
end
</code></pre>

<p>Para atualizar o cdigo do Sinatra no futuro:</p>

<pre><code class="shell">cd meuprojeto/sinatra
git pull
</code></pre>

<a name='Mais'></a>
<h2>Mais</h2>

<ul>
<li><p><a href="http://www.sinatrarb.com/">Website do Projeto</a> - Documentao
adicional, novidades e links para outros recursos.</p></li>
<li><p><a href="http://www.sinatrarb.com/contributing">Contribuir</a> - Encontrar um
bug? Precisa de ajuda? Tem um patch?</p></li>
<li><p><a href="http://github.com/sinatra/sinatra/issues">Acompanhar Questes</a></p></li>
<li><p><a href="http://twitter.com/sinatra">Twitter</a></p></li>
<li><p><a href="http://groups.google.com/group/sinatrarb/topics">Lista de Email</a></p></li>
<li><p>[IRC: #sinatra](irc://chat.freenode.net/#sinatra) em
<a href="http://freenode.net">freenode.net</a></p></li>
</ul>
