<div class='toc'>
	<ol class='level-1'>
		<li><a href='#Rotas'>Rotas</a></li>
		<li><a href='#Arquivos%20est&aacute;ticos'>Arquivos est&aacute;ticos</a></li>
		<li><a href='#Views%20/%20Templates'>Views / Templates</a></li>
		<ol class='level-2'>
			<li><a href='#Haml%20Templates'>Haml Templates</a></li>
			<li><a href='#Erb%20Templates'>Erb Templates</a></li>
			<li><a href='#Erubis'>Erubis</a></li>
			<li><a href='#Builder%20Templates'>Builder Templates</a></li>
			<li><a href='#Sass%20Templates'>Sass Templates</a></li>
			<li><a href='#Less%20Templates'>Less Templates</a></li>
			<li><a href='#Templates%20Inline'>Templates Inline</a></li>
			<li><a href='#Acedendo%20a%20Vari&aacute;veis%20nos%20Templates'>Acedendo a Vari&aacute;veis nos Templates</a></li>
			<li><a href='#Templates%20Inline'>Templates Inline</a></li>
			<li><a href='#Templates%20nomeados'>Templates nomeados</a></li>
		</ol>
		<li><a href='#Helpers'>Helpers</a></li>
		<li><a href='#Filtros'>Filtros</a></li>
		<li><a href='#Halting'>Halting</a></li>
		<li><a href='#Passing'>Passing</a></li>
		<li><a href='#Configura&ccedil;&atilde;o'>Configura&ccedil;&atilde;o</a></li>
		<li><a href='#Lidar%20com%20Erros'>Lidar com Erros</a></li>
		<ol class='level-2'>
			<li><a href='#N&atilde;o%20Encontrado'>N&atilde;o Encontrado</a></li>
			<li><a href='#Erro'>Erro</a></li>
		</ol>
		<li><a href='#Mime%20Types'>Mime Types</a></li>
		<li><a href='#Middleware%20Rack'>Middleware Rack</a></li>
		<li><a href='#Testando'>Testando</a></li>
		<li><a href='#Sinatra::Base%20-%20Middleware,%20Bibliotecas%20e%20aplicativos%20modulares'>Sinatra::Base - Middleware, Bibliotecas e aplicativos modulares</a></li>
		<li><a href='#Linha%20de%20Comandos'>Linha de Comandos</a></li>
		<li><a href='#A%20&uacute;ltima%20vers&atilde;o'>A &uacute;ltima vers&atilde;o</a></li>
		<li><a href='#Mais'>Mais</a></li>
	</ol>
</div>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body>

<p><em>Aten&ccedil;&atilde;o: Este documento &eacute; apenas uma tradu&ccedil;&atilde;o da vers&atilde;o em ingl&ecirc;s e
pode estar desatualizado.</em></p>

<p>Sinatra &eacute; uma
<a href="http://pt.wikipedia.org/wiki/Linguagem_de_dom%C3%ADnio_espec%C3%ADfico">DSL</a> para
criar rapidamente aplica&ccedil;&otilde;es web em Ruby com o m&iacute;nimo de esfor&ccedil;o:</p>

<pre><code class="ruby"># minhaapp.rb
require 'rubygems'
require 'sinatra'
get '/' do
  'Ol&aacute; Mundo!'
end
</code></pre>

<p>Instale a gem e execute com:</p>

<pre><code class="shell">sudo gem install sinatra
ruby minhaapp.rb
</code></pre>

<p>Aceda em: <a href="http://localhost:4567">localhost:4567</a></p>

<a name='Rotas'></a>
<h2>Rotas</h2>

<p>No Sinatra, uma rota &eacute; um metodo HTTP associado a uma URL correspondente
padr&atilde;o. Cada rota &eacute; associada a um bloco:</p>

<pre><code class="ruby">get '/' do
  .. mostrar algo ..
end

post '/' do
  .. criar algo ..
end

put '/' do
  .. atualizar algo ..
end

delete '/' do
  .. apagar algo ..
end
</code></pre>

<p>Rotas s&atilde;o encontradas na ordem em que s&atilde;o definidas. A primeira rota que
&eacute; encontrada invoca o pedido.</p>

<p>Padr&otilde;es de rota podem incluir par&acirc;metros nomeados, acess&iacute;veis atrav&eacute;s da
hash <code>params</code>:</p>

<pre><code class="ruby">get '/ola/:nome' do
  # corresponde a "GET /ola/foo" e "GET /ola/bar"
  # params[:nome] &eacute; 'foo' ou 'bar'
  "Ol&aacute; #{params[:nome]}!"
end
</code></pre>

<p>Pode tamb&eacute;m aceder a par&acirc;metros nomeados atrav&eacute;s do bloco de par&acirc;metros:</p>

<pre><code class="ruby">get '/ola/:nome' do |n|
  "Ol&aacute; #{n}!"
end
</code></pre>

<p>Padr&otilde;es de rota podem tamb&eacute;m incluir par&acirc;metros splat (asteriscos),
acess&iacute;veis atrav&eacute;s do array <code>params[:splat]</code>.</p>

<pre><code class="ruby">get '/diga/*/ao/*' do
  # corresponde a /diga/ola/ao/mundo
  params[:splat] # =&gt; ["ola", "mundo"]
end

get '/download/*.*' do
  # corresponde a /download/pasta/do/arquivo.xml
  params[:splat] # =&gt; ["pasta/do/arquivo", "xml"]
end
</code></pre>

<p>Rotas correspondem-se com express&otilde;es regulares:</p>

<pre><code class="ruby">get %r{/ola/([\w]+)} do
  "Ol&aacute;, #{params[:captures].first}!"
end
</code></pre>

<p>Ou com um bloco de par&acirc;metro:</p>

<pre><code class="ruby">get %r{/ola/([\w]+)} do |c|
  "Ol&aacute;, #{c}!"
end
</code></pre>

<p>Rotas podem incluir uma variedade de condi&ccedil;&otilde;es correspondentes, por
exemplo, o agente usu&aacute;rio:</p>

<pre><code class="ruby">get '/foo', :agent =&gt; /Songbird (\d\.\d)[\d\/]*?/ do
  "Voc&ecirc; est&aacute; a utilizar a vers&atilde;o #{params[:agent][0]} do Songbird."
end

get '/foo' do
  # Corresponde a um navegador n&atilde;o Songbird
end
</code></pre>

<a name='Arquivos%20est&aacute;ticos'></a>
<h2>Arquivos est&aacute;ticos</h2>

<p>Arquivos est&aacute;ticos s&atilde;o disponibilizados a partir do direct&oacute;rio
<code>./public</code>. Voc&ecirc; pode especificar um local diferente atrav&eacute;s da op&ccedil;&atilde;o
<code>:public_folder</code></p>

<pre><code class="ruby">set :public_folder, File.dirname(__FILE__) + '/estatico'
</code></pre>

<p>Note que o nome do direct&oacute;rio p&uacute;blico n&atilde;o &eacute; incluido no URL. Um arquivo
<code>./public/css/style.css</code> &eacute; disponibilizado como
<code>http://example.com/css/style.css</code>.</p>

<a name='Views%20/%20Templates'></a>
<h2>Views / Templates</h2>

<p>Templates presumem-se estar localizados sob o direct&oacute;rio <code>./views</code>. Para
utilizar um direct&oacute;rio de views diferente:</p>

<pre><code class="ruby">set :views, File.dirname(__FILE__) + '/modelo'
</code></pre>

<p>Uma coisa importante a ser lembrada &eacute; que voc&ecirc; sempre tem as refer&ecirc;ncias
dos templates como s&iacute;mbolos, mesmo se eles estiverem num sub-direct&oacute;rio
(nesse caso utilize <code>:'subdir/template'</code>). M&eacute;todos de renderiza&ccedil;&atilde;o ir&atilde;o
processar qualquer string passada directamente para elas.</p>

<a name='Haml%20Templates'></a>
<h3>Haml Templates</h3>

<p>A gem/biblioteca haml &eacute; necess&aacute;ria para renderizar templates HAML:</p>

<pre><code class="ruby"># &Eacute; necess&aacute;rio requerir 'haml' na aplica&ccedil;&atilde;o.
require 'haml'

get '/' do
  haml :index
end
</code></pre>

<p>Renderiza <code>./views/index.haml</code>.</p>

<p><a href="http://haml.info/docs/yardoc/file.HAML_REFERENCE.html#options">Op&ccedil;&otilde;es
Haml</a>
podem ser definidas globalmente atrav&eacute;s das configura&ccedil;&otilde;es do sinatra,
veja <a href="http://www.sinatrarb.com/configuration.html">Op&ccedil;&otilde;es e
Configura&ccedil;&otilde;es</a>, e substitua
em uma requisi&ccedil;&atilde;o individual.</p>

<pre><code class="ruby">set :haml, {:format =&gt; :html5 } # o formato padr&atilde;o do Haml &eacute; :xhtml

get '/' do
  haml :index, :haml_options =&gt; {:format =&gt; :html4 } # substituido
end
</code></pre>

<a name='Erb%20Templates'></a>
<h3>Erb Templates</h3>

<pre><code class="ruby"># &Eacute; necess&aacute;rio requerir 'erb' na aplica&ccedil;&atilde;o.
require 'erb'

get '/' do
  erb :index
end
</code></pre>

<p>Renderiza <code>./views/index.erb</code></p>

<a name='Erubis'></a>
<h3>Erubis</h3>

<p>A gem/biblioteca erubis &eacute; necess&aacute;ria para renderizar templates erubis:</p>

<pre><code class="ruby"># &Eacute; necess&aacute;rio requerir 'erubis' na aplica&ccedil;&atilde;o.
require 'erubis'

get '/' do
  erubis :index
end
</code></pre>

<p>Renderiza <code>./views/index.erubis</code></p>

<a name='Builder%20Templates'></a>
<h3>Builder Templates</h3>

<p>A gem/biblioteca builder &eacute; necess&aacute;ria para renderizar templates builder:</p>

<pre><code class="ruby"># &Eacute; necess&aacute;rio requerir 'builder' na aplica&ccedil;&atilde;o.
require 'builder'

get '/' do
  content_type 'application/xml', :charset =&gt; 'utf-8'
  builder :index
end
</code></pre>

<p>Renderiza <code>./views/index.builder</code>.</p>

<a name='Sass%20Templates'></a>
<h3>Sass Templates</h3>

<p>A gem/biblioteca sass &eacute; necess&aacute;ria para renderizar templates sass:</p>

<pre><code class="ruby"># &Eacute; necess&aacute;rio requerir 'haml' ou 'sass' na aplica&ccedil;&atilde;o.
require 'sass'

get '/stylesheet.css' do
  content_type 'text/css', :charset =&gt; 'utf-8'
  sass :stylesheet
end
</code></pre>

<p>Renderiza <code>./views/stylesheet.sass</code>.</p>

<p><a href="http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#options">Op&ccedil;&otilde;es
Sass</a>
podem ser definidas globalmente atrav&eacute;s das configura&ccedil;&otilde;es do sinatra,
veja <a href="http://www.sinatrarb.com/configuration.html">Op&ccedil;&otilde;es e
Configura&ccedil;&otilde;es</a>, e substitua
em uma requisi&ccedil;&atilde;o individual.</p>

<pre><code class="ruby">set :sass, {:style =&gt; :compact } # o estilo padr&atilde;o do Sass &eacute; :nested

get '/stylesheet.css' do
  content_type 'text/css', :charset =&gt; 'utf-8'
  sass :stylesheet, :style =&gt; :expanded # substituido
end
</code></pre>

<a name='Less%20Templates'></a>
<h3>Less Templates</h3>

<p>A gem/biblioteca less &eacute; necess&aacute;ria para renderizar templates Less:</p>

<pre><code class="ruby"># &Eacute; necess&aacute;rio requerir 'less' na aplica&ccedil;&atilde;o.
require 'less'

get '/stylesheet.css' do
  content_type 'text/css', :charset =&gt; 'utf-8'
  less :stylesheet
end
</code></pre>

<p>Renderiza <code>./views/stylesheet.less</code>.</p>

<a name='Templates%20Inline'></a>
<h3>Templates Inline</h3>

<pre><code class="ruby">get '/' do
  haml '%div.title Ol&aacute; Mundo'
end
</code></pre>

<p>Renderiza a string, em uma linha, no template.</p>

<a name='Acedendo%20a%20Vari&aacute;veis%20nos%20Templates'></a>
<h3>Acedendo a Vari&aacute;veis nos Templates</h3>

<p>Templates s&atilde;o avaliados dentro do mesmo contexto que os manipuladores de
rota. Vari&aacute;veis de inst&acirc;ncia definidas em rotas manipuladas s&atilde;o
directamente acedidas por templates:</p>

<pre><code class="ruby">get '/:id' do
  @foo = Foo.find(params[:id])
  haml '%h1= @foo.nome'
end
</code></pre>

<p>Ou, especifique um hash expl&iacute;cito para vari&aacute;veis locais:</p>

<pre><code class="ruby">get '/:id' do
  foo = Foo.find(params[:id])
  haml '%h1= foo.nome', :locals =&gt; { :foo =&gt; foo }
end
</code></pre>

<p>Isso &eacute; tipicamente utilizado quando renderizamos templates parciais
(partials) dentro de outros templates.</p>

<a name='Templates%20Inline'></a>
<h3>Templates Inline</h3>

<p>Templates podem ser definidos no final do arquivo fonte(.rb):</p>

<pre><code class="ruby">require 'rubygems'
require 'sinatra'

get '/' do
  haml :index
end

__END__

@@ layout
%html
  = yield

@@ index
%div.title Ol&aacute; Mundo!!!!!
</code></pre>

<p>NOTA: Templates inline definidos no arquivo fonte s&atilde;o automaticamente
carregados pelo sinatra. Digite `enable :inline_templates` se tem
templates inline no outro arquivo fonte.</p>

<a name='Templates%20nomeados'></a>
<h3>Templates nomeados</h3>

<p>Templates tamb&eacute;m podem ser definidos utilizando o m&eacute;todo top-level
<code>template</code>:</p>

<pre><code class="ruby">template :layout do
  "%html\n  =yield\n"
end

template :index do
  '%div.title Ol&aacute; Mundo!'
end

get '/' do
  haml :index
end
</code></pre>

<p>Se existir um template com nome &ldquo;layout&rdquo;, ele ser&aacute; utilizado sempre que
um template for renderizado. Pode desactivar layouts usando
<code>:layout =&gt; false</code>.</p>

<pre><code class="ruby">get '/' do
  haml :index, :layout =&gt; !request.xhr?
end
</code></pre>

<a name='Helpers'></a>
<h2>Helpers</h2>

<p>Use o m&eacute;todo de alto n&iacute;vel <code>helpers</code> para definir m&eacute;todos auxiliares
para utilizar em manipuladores de rotas e modelos:</p>

<pre><code class="ruby">helpers do
  def bar(nome)
    "#{nome}bar"
  end
end

get '/:nome' do
  bar(params[:nome])
end
</code></pre>

<a name='Filtros'></a>
<h2>Filtros</h2>

<p>Filtros Before s&atilde;o avaliados antes de cada requisi&ccedil;&atilde;o dentro do contexto
da requisi&ccedil;&atilde;o e podem modificar a requisi&ccedil;&atilde;o e a reposta. Vari&aacute;veis de
inst&acirc;ncia definidas nos filtros s&atilde;o acedidas atrav&eacute;s de rotas e
templates:</p>

<pre><code class="ruby">before do
  @nota = 'Ol&aacute;!'
  request.path_info = '/foo/bar/baz'
end

get '/foo/*' do
  @nota #=&gt; 'Ol&aacute;!'
  params[:splat] #=&gt; 'bar/baz'
end
</code></pre>

<p>Filtros After s&atilde;o avaliados ap&oacute;s cada requisi&ccedil;&atilde;o dentro do contexto da
requisi&ccedil;&atilde;o e tamb&eacute;m podem modificar o pedido e a resposta. Vari&aacute;veis de
inst&acirc;ncia definidas nos filtros before e rotas s&atilde;o acedidas atrav&eacute;s dos
filtros after:</p>

<pre><code class="ruby">after do
  puts response.status
end
</code></pre>

<p>Filtros opcionalmente t&ecirc;m um padr&atilde;o, fazendo com que sejam avaliados
somente se o caminho do pedido coincidir com esse padr&atilde;o:</p>

<pre><code class="ruby">before '/protected/*' do
  autenticar!
end

after '/create/:slug' do |slug|
  session[:last_slug] = slug
end
</code></pre>

<a name='Halting'></a>
<h2>Halting</h2>

<p>Para parar imediatamente uma requisi&ccedil;&atilde;o dentro de um filtro ou rota
utilize:</p>

<pre><code class="ruby">halt
</code></pre>

<p>Pode tamb&eacute;m especificar o status ao parar&hellip;</p>

<pre><code class="ruby">halt 410
</code></pre>

<p>Ou com um corpo de texto&hellip;</p>

<pre><code class="ruby">halt 'isto ser&aacute; o corpo de texto'
</code></pre>

<p>Ou tamb&eacute;m&hellip;</p>

<pre><code class="ruby">halt 401, 'vamos embora!'
</code></pre>

<p>Com cabe&ccedil;alhos&hellip;</p>

<pre><code class="ruby">halt 402, {'Content-Type' =&gt; 'text/plain'}, 'revanche'
</code></pre>

<a name='Passing'></a>
<h2>Passing</h2>

<p>Dentro de uma rota, pode passar para a pr&oacute;xima rota correspondente
usando <code>pass</code>:</p>

<pre><code class="ruby">get '/adivinhar/:quem' do
  pass unless params[:quem] == 'Frank'
  'Apanhaste-me!'
end

get '/adivinhar/*' do
  'Falhaste!'
end
</code></pre>

<p>O bloqueio da rota &eacute; imediatamente encerrado e o controle continua com a
pr&oacute;xima rota de par&acirc;metro. Se o par&acirc;metro da rota n&atilde;o for encontrado, um
404 &eacute; retornado.</p>

<a name='Configura&ccedil;&atilde;o'></a>
<h2>Configura&ccedil;&atilde;o</h2>

<p>Correndo uma vez, na inicializa&ccedil;&atilde;o, em qualquer ambiente:</p>

<pre><code class="ruby">configure do
  ...
end
</code></pre>

<p>Correndo somente quando o ambiente (<code>RACK_ENV</code> environment vari&aacute;vel) &eacute;
definido para <code>:production</code>:</p>

<pre><code class="ruby">configure :production do
  ...
end
</code></pre>

<p>Correndo quando o ambiente &eacute; definido para <code>:production</code> ou <code>:test</code>:</p>

<pre><code class="ruby">configure :production, :test do
  ...
end
</code></pre>

<a name='Lidar%20com%20Erros'></a>
<h2>Lidar com Erros</h2>

<p>Lida-se com erros no mesmo contexto das rotas e filtros before, o que
signifca que <code>haml</code>, <code>erb</code>, etc, est&atilde;o dispon&iacute;veis.</p>

<a name='N&atilde;o%20Encontrado'></a>
<h3>N&atilde;o Encontrado</h3>

<p>Quando um <code>Sinatra::NotFound</code> exception &eacute; levantado, ou o c&oacute;digo de
status da reposta &eacute; 404, o manipulador <code>not_found</code> &eacute; invocado:</p>

<pre><code class="ruby">not_found do
  'Isto est&aacute; longe de ser encontrado'
end
</code></pre>

<a name='Erro'></a>
<h3>Erro</h3>

<p>O manipulador <code>error</code> &eacute; invocado sempre que uma exce&ccedil;&atilde;o &eacute; lan&ccedil;ada a
partir de um bloco de rota ou um filtro. O objecto da exce&ccedil;&atilde;o pode ser
obtido a partir da vari&aacute;vel Rack <code>sinatra.error</code>:</p>

<pre><code class="ruby">error do
  'Pe&ccedil;o desculpa, houve um erro desagrad&aacute;vel - ' + env['sinatra.error'].name
end
</code></pre>

<p>Erros personalizados:</p>

<pre><code class="ruby">error MeuErroPersonalizado do
  'O que aconteceu foi...' + env['sinatra.error'].message
end
</code></pre>

<p>Ent&atilde;o, se isso acontecer:</p>

<pre><code class="ruby">get '/' do
  raise MeuErroPersonalizado, 'alguma coisa desagrad&aacute;vel'
end
</code></pre>

<p>O resultado ser&aacute;:</p>

<pre><code>O que aconteceu foi...alguma coisa desagrad&aacute;vel
</code></pre>

<p>Alternativamente, pode definir um manipulador de erro para um c&oacute;digo de
status:</p>

<pre><code class="ruby">error 403 do
  'Accesso negado'
end

get '/secreto' do
  403
end
</code></pre>

<p>Ou um range (alcance):</p>

<pre><code class="ruby">error 400..510 do
  'Boom'
end
</code></pre>

<p>O Sinatra define os manipuladores especiais <code>not_found</code> e <code>error</code> quando
corre no ambiente de desenvolvimento.</p>

<a name='Mime%20Types'></a>
<h2>Mime Types</h2>

<p>Quando utilizamos <code>send_file</code> ou arquivos est&aacute;ticos pode ter mime types
Sinatra n&atilde;o entendidos. Use <code>mime_type</code> para os registar por extens&atilde;o de
arquivos:</p>

<pre><code class="ruby">mime_type :foo, 'text/foo'
</code></pre>

<p>Pode tamb&eacute;m utilizar isto com o helper <code>content_type</code>:</p>

<pre><code class="ruby">content_type :foo
</code></pre>

<a name='Middleware%20Rack'></a>
<h2>Middleware Rack</h2>

<p>O Sinatra corre no <a href="http://rack.rubyforge.org/">Rack</a>, uma interface
padr&atilde;o m&iacute;nima para frameworks web em Ruby. Uma das capacidades mais
interessantes do Rack, para desenvolver aplica&ccedil;&otilde;es, &eacute; o suporte de
&ldquo;middleware&rdquo; &ndash; componentes que residem entre o servidor e a aplica&ccedil;&atilde;o,
monitorizando e/ou manipulando o pedido/resposta (request/response) HTTP
para providenciar varios tipos de funcionalidades comuns.</p>

<p>O Sinatra torna a constru&ccedil;&atilde;o de pipelines do middleware Rack f&aacute;cil a um
n&iacute;vel superior utilizando o m&eacute;todo <code>use</code>:</p>

<pre><code class="ruby">require 'sinatra'
require 'meu_middleware_personalizado'

use Rack::Lint
use MeuMiddlewarePersonalizado

get '/ola' do
  'Ol&aacute; mundo'
end
</code></pre>

<p>A sem&acirc;ntica de <code>use</code> &eacute; id&ecirc;ntica aquela definida para a DSL
<a href="http://rack.rubyforge.org/doc/classes/Rack/Builder.html">Rack::Builder</a>
(mais frequentemente utilizada para arquivos rackup). Por exemplo, o
m&eacute;todo <code>use</code> aceita m&uacute;ltiplos argumentos/vari&aacute;veis, bem como blocos:</p>

<pre><code class="ruby">use Rack::Auth::Basic do |utilizador, senha|
  utilizador == 'admin' &amp;&amp; senha == 'secreto'
end
</code></pre>

<p>O Rack &eacute; distribuido com uma variedade de middleware padr&otilde;es para logs,
debugs, rotas de URL, autentica&ccedil;&atilde;o, e manipuladores de sess&atilde;o.Sinatra
utiliza muitos desses componentes automaticamente dependendo da
configura&ccedil;&atilde;o, por isso, tipicamente nao &eacute; necess&aacute;rio utilizar <code>use</code>
explicitamente.</p>

<a name='Testando'></a>
<h2>Testando</h2>

<p>Testes no Sinatra podem ser escritos utilizando qualquer biblioteca ou
framework de teste baseados no Rack.
<a href="http://gitrdoc.com/brynary/rack-test">Rack::Test</a> &eacute; recomendado:</p>

<pre><code class="ruby">require 'minha_aplicacao_sinatra'
require 'rack/test'

class MinhaAplicacaoTeste &lt; Test::Unit::TestCase
  include Rack::Test::Methods

  def app
    Sinatra::Application
  end

  def meu_test_default
    get '/'
    assert_equal 'Ola Mundo!', last_response.body
  end

  def teste_com_parametros
    get '/atender', :name =&gt; 'Frank'
    assert_equal 'Ol&aacute; Frank!', last_response.bodymeet
  end

  def test_com_ambiente_rack
    get '/', {}, 'HTTP_USER_AGENT' =&gt; 'Songbird'
    assert_equal "Voc&ecirc; est&aacute; utilizando o Songbird!", last_response.body
  end
end
</code></pre>

<p>NOTA: Os m&oacute;dulos de classe embutidos <code>Sinatra::Test</code> e
<code>Sinatra::TestHarness</code> s&atilde;o depreciados na vers&atilde;o 0.9.2.</p>

<a name='Sinatra::Base%20-%20Middleware,%20Bibliotecas%20e%20aplicativos%20modulares'></a>
<h2>Sinatra::Base - Middleware, Bibliotecas e aplicativos modulares</h2>

<p>Definir sua aplica&ccedil;&atilde;o a um n&iacute;vel superior de trabalho funciona bem para
micro aplicativos, mas tem consider&aacute;veis incovenientes na constru&ccedil;&atilde;o de
componentes reutiliz&aacute;veis como um middleware Rack, metal Rails,
bibliotecas simples como um componente de servidor, ou mesmo extens&otilde;es
Sinatra. A DSL de n&iacute;vel superior polui o espa&ccedil;o do objeto e assume um
estilo de configura&ccedil;&atilde;o de micro aplicativos (exemplo: um simples arquivo
de aplica&ccedil;&atilde;o, direct&oacute;rios <code>./public</code> e <code>./views</code>, logs, p&aacute;gina de detalhes
de excep&ccedil;&atilde;o, etc.). &Eacute; onde o Sinatra::Base entra em jogo:</p>

<pre><code class="ruby">require 'sinatra/base'

class MinhaApp &lt; Sinatra::Base
  set :sessions, true
  set :foo, 'bar'

  get '/' do
    'Ol&aacute; mundo!'
  end
end
</code></pre>

<p>A classe MinhaApp &eacute; um componente Rack independente que pode utilizar
como um middleware Rack, uma aplica&ccedil;&atilde;o Rack, ou metal Rails. Pode
utilizar ou executar esta classe com um arquivo rackup <code>config.ru</code>;
ou, controlar um componente de servidor fornecendo como biblioteca:</p>

<pre><code class="ruby">MinhaApp.run! :host =&gt; 'localhost', :port =&gt; 9090
</code></pre>

<p>Os m&eacute;todos dispon&iacute;veis para subclasses <code>Sinatra::Base</code> s&atilde;o exatamente como
aqueles dispon&iacute;veis via a DSL de n&iacute;vel superior. Aplica&ccedil;&otilde;es de n&iacute;vel
mais alto podem ser convertidas para componentes <code>Sinatra::Base</code> com duas
modifica&ccedil;&otilde;es:</p>

<p><code>Sinatra::Base</code> &eacute; um quadro branco. Muitas op&ccedil;&otilde;es s&atilde;o desactivadas por
padr&atilde;o, incluindo o servidor embutido. Veja <a href="http://sinatra.github.com/configuration.html">Op&ccedil;&otilde;es e
Configura&ccedil;&otilde;es</a> para
detalhes de op&ccedil;&otilde;es dispon&iacute;veis e seus comportamentos.</p>

<p>SIDEBAR: A DSL de alto n&iacute;vel do Sinatra &eacute; implementada utilizando um simples
sistema de delega&ccedil;&atilde;o. A classe <code>Sinatra::Application</code> &ndash; uma subclasse especial
da <code>Sinatra::Base</code> &ndash; recebe todos os <code>:get</code>, <code>:put</code>, <code>:post</code>, <code>:delete</code>,
<code>:before</code>, <code>:error</code>, <code>:not_found</code>, <code>:configure</code>, e <code>:set</code> messages enviados
para o alto n&iacute;vel. D&ecirc; voc&ecirc; mesmo uma vista de olhos ao c&oacute;digo: aqui est&aacute; o
<a href="http://github.com/sinatra/sinatra/blob/ceac46f0bc129a6e994a06100aa854f606fe5992/lib/sinatra/base.rb#L1128">Sinatra::Delegator
mixin</a>
sendo <a href="http://github.com/sinatra/sinatra/blob/ceac46f0bc129a6e994a06100aa854f606fe5992/lib/sinatra/main.rb#L28">incluido dentro de um espa&ccedil;o
principal</a></p>

<a name='Linha%20de%20Comandos'></a>
<h2>Linha de Comandos</h2>

<p>As aplica&ccedil;&otilde;es Sinatra podem ser executadas directamente:</p>

<pre><code class="shell">ruby minhaapp.rb [-h] [-x] [-e AMBIENTE] [-p PORTA] [-o HOST] [-s SERVIDOR]
</code></pre>

<p>As op&ccedil;&otilde;es s&atilde;o:</p>

<pre><code>-h # ajuda
-p # define a porta (padr&atilde;o &eacute; 4567)
-o # define o host (padr&atilde;o &eacute; 0.0.0.0)
-e # define o ambiente (padr&atilde;o &eacute; development)
-s # especifica o servidor/manipulador rack (padr&atilde;o &eacute; thin)
-x # activa o bloqueio (padr&atilde;o &eacute; desligado)
</code></pre>

<a name='A%20&uacute;ltima%20vers&atilde;o'></a>
<h2>A &uacute;ltima vers&atilde;o</h2>

<p>Se gostaria de utilizar o c&oacute;digo da &uacute;ltima vers&atilde;o do Sinatra, crie um
clone local e execute sua aplica&ccedil;&atilde;o com o direct&oacute;rio <code>sinatra/lib</code> no
<code>LOAD_PATH</code>:</p>

<pre><code class="shell">cd minhaapp
git clone git://github.com/sinatra/sinatra.git
ruby -I sinatra/lib minhaapp.rb
</code></pre>

<p>Alternativamente, pode adicionar o direct&oacute;rio do <code>sinatra/lib</code> no
<code>LOAD_PATH</code> do seu aplicativo:</p>

<pre><code class="ruby">$LOAD_PATH.unshift File.dirname(__FILE__) + '/sinatra/lib'
require 'rubygems'
require 'sinatra'

get '/sobre' do
  "Estou correndo a vers&atilde;o" + Sinatra::VERSION
end
</code></pre>

<p>Para actualizar o c&oacute;digo do Sinatra no futuro:</p>

<pre><code class="shell">cd meuprojeto/sinatra
git pull
</code></pre>

<a name='Mais'></a>
<h2>Mais</h2>

<ul>
<li><p><a href="http://www.sinatrarb.com/">Website do Projeto</a> - Documenta&ccedil;&atilde;o
adicional, novidades e links para outros recursos.</p></li>
<li><p><a href="http://www.sinatrarb.com/contributing">Contribuir</a> - Encontrou um
bug? Precisa de ajuda? Tem um patch?</p></li>
<li><p><a href="http://github.com/sinatra/sinatra/issues">Acompanhar Quest&otilde;es</a></p></li>
<li><p><a href="http://twitter.com/sinatra">Twitter</a></p></li>
<li><p><a href="http://groups.google.com/group/sinatrarb/topics">Lista de Email</a></p></li>
<li><p><a href="irc://chat.freenode.net/#sinatra">IRC: #sinatra</a> em
<a href="http://freenode.net">freenode.net</a></p></li>
</ul>
</body></html>
