<div class='toc'>
	<ol class='level-1'>
		<li><a href='#tvonalak%20(routes)'>tvonalak (routes)</a></li>
		<li><a href='#Statikus%20llomnyok'>Statikus llomnyok</a></li>
		<li><a href='#Nzetek%20s%20Sablonok'>Nzetek s Sablonok</a></li>
		<ol class='level-2'>
			<li><a href='#Haml%20sablonok'>Haml sablonok</a></li>
			<li><a href='#Erb%20sablonok'>Erb sablonok</a></li>
			<li><a href='#Builder%20sablonok'>Builder sablonok</a></li>
			<li><a href='#Sass%20sablonok'>Sass sablonok</a></li>
			<li><a href='#Begyazott%20sablonok'>Begyazott sablonok</a></li>
			<li><a href='#Vltozk%20elrse%20a%20sablonokban'>Vltozk elrse a sablonokban</a></li>
			<li><a href='#Fjlon%20belli%20sablonok'>Fjlon belli sablonok</a></li>
			<li><a href='#Kulcsszavas%20sablonok'>Kulcsszavas sablonok</a></li>
		</ol>
		<li><a href='#Helperek'>Helperek</a></li>
		<li><a href='#Szrk%20(filters)'>Szrk (filters)</a></li>
		<li><a href='#Megllts'>Megllts</a></li>
		<li><a href='#Passzols'>Passzols</a></li>
		<li><a href='#Belltsok'>Belltsok</a></li>
		<li><a href='#Hibakezels'>Hibakezels</a></li>
		<ol class='level-2'>
			<li><a href='#Nem%20tallhat'>Nem tallhat</a></li>
			<li><a href='#Hiba'>Hiba</a></li>
		</ol>
		<li><a href='#Mime%20tpusok'>Mime tpusok</a></li>
		<li><a href='#Rack%20Middleware'>Rack Middleware</a></li>
		<li><a href='#Tesztels'>Tesztels</a></li>
		<li><a href='#Sinatra::Base%20-%20Middleware-ek,%20knyvtrak%20s%20modulris%20alkalmazsok'>Sinatra::Base - Middleware-ek, knyvtrak s modulris alkalmazsok</a></li>
		<li><a href='#Parancssori%20lehetsgek'>Parancssori lehetsgek</a></li>
		<li><a href='#Fejleszti%20vltozat'>Fejleszti vltozat</a></li>
		<li><a href='#Tovbbi%20informcik'>Tovbbi informcik</a></li>
	</ol>
</div>


<p><em>Fontos megjegyzs: Ez a dokumentum csak egy fordtsa az angol nyelv
vltozat, s lehet, hogy nem napraksz.</em></p>

<p>A Sinatra egy <a href="http://en.wikipedia.org/wiki/Domain-specific_language">DSL</a>
webalkalmazsok Ruby nyelven trtn fejlesztshez, minimlis
energiabefektetssel:</p>
<pre class="highlight ruby">  <span class="c1"># myapp.rb</span>
  <span class="nb">require</span> <span class="s1">'sinatra'</span>
  <span class="n">get</span> <span class="s1">'/'</span> <span class="k">do</span>
    <span class="s1">'Hell Vilg!'</span>
  <span class="k">end</span>
</pre>
<p>Teleptsd a gem-et s indtsd el az alkalmazst a kvetkezkppen:</p>
<pre class="highlight ruby">  <span class="n">sudo</span> <span class="n">gem</span> <span class="n">install</span> <span class="n">sinatra</span>
  <span class="n">ruby</span> <span class="n">myapp</span><span class="nf">.rb</span>
</pre>
<p>Az alkalmazs elrhet lesz itt: <code>http://localhost:4567</code></p>

<a name='tvonalak%20(routes)'></a>
<h2>tvonalak (routes)</h2>

<p>A Sinatrban az tvonalat egy HTTP metdus s egy URL-re illeszked minta
prosa alkotja. Minden egyes tvonalhoz tartozik egy blokk:</p>
<pre class="highlight ruby">  <span class="n">get</span> <span class="s1">'/'</span> <span class="k">do</span>
    <span class="nf">..</span> <span class="n">megjelentnk</span> <span class="n">valamit</span> <span class="nf">..</span>
  <span class="k">end</span>

  <span class="n">post</span> <span class="s1">'/'</span> <span class="k">do</span>
    <span class="nf">..</span> <span class="n">ltrehozunk</span> <span class="n">valamit</span> <span class="nf">..</span>
  <span class="k">end</span>

  <span class="n">put</span> <span class="s1">'/'</span> <span class="k">do</span>
    <span class="nf">..</span> <span class="n">frisstnk</span> <span class="n">valamit</span> <span class="nf">..</span>
  <span class="k">end</span>

  <span class="n">delete</span> <span class="s1">'/'</span> <span class="k">do</span>
    <span class="nf">..</span> <span class="n">trlnk</span> <span class="n">valamit</span> <span class="nf">..</span>
  <span class="k">end</span>
</pre>
<p>Az tvonalak illeszkedst a rendszer a definilsuk sorrendjben
ellenrzi. Sorrendben mindig az els illeszked tvonalhoz tartoz metdus kerl
meghvsra.</p>

<p>Az tvonalmintk tartalmazhatnak paramtereket is, melyeket a <code>params</code>
hash-bl rhetnk el:</p>
<pre class="highlight ruby">  <span class="n">get</span> <span class="s1">'/hello/:name'</span> <span class="k">do</span>
    <span class="c1"># illeszkedik a &quot;GET /hello/foo&quot; s a &quot;GET /hello/bar&quot; tvonalakra</span>
    <span class="c1"># ekkor params[:name] rtke 'foo' vagy 'bar' lesz</span>
    <span class="s2">&quot;Hell </span><span class="si">#{</span><span class="n">params</span><span class="o">[</span><span class="ss">:name</span><span class="o">]</span><span class="si">}</span><span class="s2">!&quot;</span>
  <span class="k">end</span>
</pre>
<p>A kulcsszavas argumentumokat (named parameters) blokk paramterek tjn
is el tudod rni:</p>
<pre class="highlight ruby">  <span class="n">get</span> <span class="s1">'/hello/:name'</span> <span class="k">do</span> <span class="o">|</span><span class="n">n</span><span class="o">|</span>
    <span class="s2">&quot;Hell </span><span class="si">#{</span><span class="n">n</span><span class="si">}</span><span class="s2">!&quot;</span>
  <span class="k">end</span>
</pre>
<p>Az tvonalmintkban szerepelhetnek joker paramterek is, melyeket a 
<code>params[:splat]</code> tmbn keresztl tudunk elrni.</p>
<pre class="highlight ruby">  <span class="n">get</span> <span class="s1">'/say/*/to/*'</span> <span class="k">do</span>
    <span class="c1"># illeszkedik a /say/hello/to/world mintra</span>
    <span class="n">params</span><span class="o">[</span><span class="ss">:splat</span><span class="o">]</span> <span class="c1"># =&gt; [&quot;hello&quot;, &quot;world&quot;]</span>
  <span class="k">end</span>

  <span class="n">get</span> <span class="s1">'/download/*.*'</span> <span class="k">do</span>
    <span class="c1"># illeszkedik a /download/path/to/file.xml mintra</span>
    <span class="n">params</span><span class="o">[</span><span class="ss">:splat</span><span class="o">]</span> <span class="c1"># =&gt; [&quot;path/to/file&quot;, &quot;xml&quot;]</span>
  <span class="k">end</span>
</pre>
<p>Regulris kifejezseket is felvehetnk az tvonalba:</p>
<pre class="highlight ruby">  <span class="n">get</span> <span class="sr">%r{/hello/([</span><span class="se">\w</span><span class="sr">]+)}</span> <span class="k">do</span>
    <span class="s2">&quot;Hell, </span><span class="si">#{</span><span class="n">params</span><span class="o">[</span><span class="ss">:captures</span><span class="o">]</span><span class="nf">.first</span><span class="si">}</span><span class="s2">!&quot;</span>
  <span class="k">end</span>
</pre>
<p>Vagy blokk paramtereket:</p>
<pre class="highlight ruby">  <span class="n">get</span> <span class="sr">%r{/hello/([</span><span class="se">\w</span><span class="sr">]+)}</span> <span class="k">do</span> <span class="o">|</span><span class="n">c</span><span class="o">|</span>
    <span class="s2">&quot;Hell, </span><span class="si">#{</span><span class="n">c</span><span class="si">}</span><span class="s2">!&quot;</span>
  <span class="k">end</span>
</pre>
<p>Az tvonalak azonban szmos egyb illeszkedsi felttel szerint is
tervezhetk, gy pldul az user agent karakterlncot alapul vve:</p>
<pre class="highlight ruby">  <span class="n">get</span> <span class="s1">'/foo'</span><span class="p">,</span> <span class="ss">:agent</span> <span class="o">=&gt;</span> <span class="sr">/Songbird (\d\.\d)[\d\/]*?/</span> <span class="k">do</span>
    <span class="s2">&quot;A Songbird </span><span class="si">#{</span><span class="n">params</span><span class="o">[</span><span class="ss">:agent</span><span class="o">][</span><span class="mi">0</span><span class="o">]</span><span class="si">}</span><span class="s2"> verzijt hasznlod&quot;</span>
  <span class="k">end</span>

  <span class="n">get</span> <span class="s1">'/foo'</span> <span class="k">do</span>
    <span class="c1"># illeszkedik az egyb user agentekre</span>
  <span class="k">end</span>
</pre>
<a name='Statikus%20llomnyok'></a>
<h2>Statikus llomnyok</h2>

<p>A statikus fjlok kiszolglsa a <code>./public</code> knyvtrbl
trtnik, de termszetesen ms knyvtrat is megadhatsz erre a clra,
mgpedig a :public_folder kapcsol belltsval:</p>

<p>set :public<em>folder, File.dirname(</em><em>FILE</em>_) + &#39;/static&#39;</p>

<p>Fontos mgejegyezni, hogy a nyilvnos knyvtr neve nem szerepel az URL-ben.
A ./public/css/style.css fjl az
<code>http://example.com/css/style.css</code> URL-en lesz elrhet.</p>

<a name='Nzetek%20s%20Sablonok'></a>
<h2>Nzetek s Sablonok</h2>

<p>A sablonfjlokat rendszerint a  <code>./views</code> knyvtrba helyezzk, de
itt is lehetsg nylik egyb knyvtr hasznlatra:</p>

<p>set :views, File.dirname(<strong>FILE</strong>) + &#39;/templates&#39;</p>

<p>Nagyon fontos szben tartani, hogy a sablononkra mindig szimblumokkal
hivatkozunk, mg akkor is, ha egyb (ebben az esetben a 
:&#39;subdir/template&#39;) knyvtrban troljuk ket. A renderel
metdusok minden, nekik kzvetlenl tadott karakterlncot megjelentenek.</p>

<a name='Haml%20sablonok'></a>
<h3>Haml sablonok</h3>

<p>HAML sablonok renderelshez szksgnk lesz a haml gem-re vagy knyvtrra:</p>
<pre class="highlight ruby">  <span class="c1"># Importljuk be a haml-t az alkalmazsba</span>
  <span class="nb">require</span> <span class="s1">'haml'</span>

  <span class="n">get</span> <span class="s1">'/'</span> <span class="k">do</span>
    <span class="n">haml</span> <span class="ss">:index</span>
  <span class="k">end</span>
</pre>
<p>Ez szpen lerendereli a <code>./views/index.haml</code> sablont.</p>

<p>A <a href="http://haml.hamptoncatlin.com/docs/rdoc/classes/Haml.html">Haml kapcsoli</a>
globlisan is bellthatk a Sinatra konfigurcii kztt, lsd az
<a href="http://www.sinatrarb.com/configuration.html">Options and Configurations</a> lapot.
A globlis belltsokat lehetsgnk van fellrni metdus szinten is.</p>
<pre class="highlight ruby">  <span class="n">set</span> <span class="ss">:haml</span><span class="p">,</span> <span class="p">{</span><span class="ss">:format</span> <span class="o">=&gt;</span> <span class="ss">:html5</span> <span class="p">}</span> <span class="c1"># az alaprtelmezett Haml formtum az :xhtml</span>

  <span class="n">get</span> <span class="s1">'/'</span> <span class="k">do</span>
    <span class="n">haml</span> <span class="ss">:index</span><span class="p">,</span> <span class="ss">:haml_options</span> <span class="o">=&gt;</span> <span class="p">{</span><span class="ss">:format</span> <span class="o">=&gt;</span> <span class="ss">:html4</span> <span class="p">}</span> <span class="c1"># immr fellrva</span>
  <span class="k">end</span>
</pre>
<a name='Erb%20sablonok'></a>
<h3>Erb sablonok</h3>

<p># Importljuk be az erb-t az alkalmazsba</p>
<pre class="highlight ruby">  <span class="nb">require</span> <span class="s1">'erb'</span>

  <span class="n">get</span> <span class="s1">'/'</span> <span class="k">do</span>
    <span class="n">erb</span> <span class="ss">:index</span>
  <span class="k">end</span>
</pre>
<p>Ez a <code>./views/index.erb</code> sablont fogja lerenderelni.</p>

<a name='Builder%20sablonok'></a>
<h3>Builder sablonok</h3>

<p>Szksgnk lesz a builder gem-re vagy knyvtrra a builder sablonok
renderelshez:</p>

<p># Importljuk be a builder-t az alkalmazsba</p>
<pre class="highlight ruby">  <span class="nb">require</span> <span class="s1">'builder'</span>

  <span class="n">get</span> <span class="s1">'/'</span> <span class="k">do</span>
    <span class="n">builder</span> <span class="ss">:index</span>
  <span class="k">end</span>
</pre>
<p>Ez pedig a <code>./views/index.builder</code> llomnyt fogja renderelni.</p>

<a name='Sass%20sablonok'></a>
<h3>Sass sablonok</h3>

<p>Sass sablonok hasznlathoz szksg lesz a haml gem-re vagy knyvtrra:</p>

<p># Be kell importlni a haml, vagy a sass knyvtrat</p>
<pre class="highlight ruby">  <span class="nb">require</span> <span class="s1">'sass'</span>

  <span class="n">get</span> <span class="s1">'/stylesheet.css'</span> <span class="k">do</span>
    <span class="n">sass</span> <span class="ss">:stylesheet</span>
  <span class="k">end</span>
</pre>
<p>gy a <code>./views/stylesheet.sass</code> fjl mris renderelhet.</p>

<p>A <a href="http://haml.hamptoncatlin.com/docs/rdoc/classes/Sass.html">Sass kapcsoli</a>
globlisan is bellthatk a Sinatra konfigurcii kztt, lsd az
<a href="http://www.sinatrarb.com/configuration.html">Options and Configurations</a> lapot.
A globlis belltsokat lehetsgnk van fellrni metdus szinten is.</p>
<pre class="highlight ruby">  <span class="n">set</span> <span class="ss">:sass</span><span class="p">,</span> <span class="p">{</span><span class="ss">:style</span> <span class="o">=&gt;</span> <span class="ss">:compact</span> <span class="p">}</span> <span class="c1"># az alaprtelmezett Sass stlus a :nested</span>

  <span class="n">get</span> <span class="s1">'/stylesheet.css'</span> <span class="k">do</span>
    <span class="n">sass</span> <span class="ss">:stylesheet</span><span class="p">,</span> <span class="ss">:sass_options</span> <span class="o">=&gt;</span> <span class="p">{</span><span class="ss">:style</span> <span class="o">=&gt;</span> <span class="ss">:expanded</span> <span class="p">}</span> <span class="c1"># fellrva</span>
  <span class="k">end</span>
</pre>
<a name='Begyazott%20sablonok'></a>
<h3>Begyazott sablonok</h3>
<pre class="highlight ruby">  <span class="n">get</span> <span class="s1">'/'</span> <span class="k">do</span>
    <span class="n">haml</span> <span class="s1">'%div.title Hell Vilg'</span>
  <span class="k">end</span>
</pre>
<p>Lerendereli a begyazott sablon karakerlnct.</p>

<a name='Vltozk%20elrse%20a%20sablonokban'></a>
<h3>Vltozk elrse a sablonokban</h3>

<p>A sablonok ugyanabban a kontextusban kerlnek kirtkelsre, mint az
tvonal metdusok (route handlers). Az tvonal metdusokban megadott
vltozk kzvetlenl elrhetek lesznek a sablonokban:</p>
<pre class="highlight ruby">  <span class="n">get</span> <span class="s1">'/:id'</span> <span class="k">do</span>
    <span class="vi">@foo</span> <span class="o">=</span> <span class="no">Foo</span><span class="nf">.find</span><span class="p">(</span><span class="n">params</span><span class="o">[</span><span class="ss">:id</span><span class="o">]</span><span class="p">)</span>
    <span class="n">haml</span> <span class="s1">'%h1= @foo.name'</span>
  <span class="k">end</span>
</pre>
<p>De megadhatod egy loklis vltozkat tartalmaz explicit hash-ben is:</p>
<pre class="highlight ruby">  <span class="n">get</span> <span class="s1">'/:id'</span> <span class="k">do</span>
    <span class="n">foo</span> <span class="o">=</span> <span class="no">Foo</span><span class="nf">.find</span><span class="p">(</span><span class="n">params</span><span class="o">[</span><span class="ss">:id</span><span class="o">]</span><span class="p">)</span>
    <span class="n">haml</span> <span class="s1">'%h1= foo.name'</span><span class="p">,</span> <span class="ss">:locals</span> <span class="o">=&gt;</span> <span class="p">{</span> <span class="ss">:foo</span> <span class="o">=&gt;</span> <span class="n">foo</span> <span class="p">}</span>
  <span class="k">end</span>
</pre>
<p>Ezt leginkbb akkor rdemes megtenni, ha partial-eket akarunk renderelni
valamely ms sablonbl.</p>

<a name='Fjlon%20belli%20sablonok'></a>
<h3>Fjlon belli sablonok</h3>

<p>Sablonokat gy is megadhatunk, hogy egyszeren az alkalmazs fjl
vgre begpeljk ket:</p>
<pre class="highlight ruby">  <span class="nb">require</span> <span class="s1">'rubygems'</span>
  <span class="nb">require</span> <span class="s1">'sinatra'</span>

  <span class="n">get</span> <span class="s1">'/'</span> <span class="k">do</span>
    <span class="n">haml</span> <span class="ss">:index</span>
  <span class="k">end</span>

  <span class="cp">__END__

  @@ layout
  %html
    = yield

  @@ index
  %div.title Hell Vilg!!!!!
</span></pre>
<p>Megjegyzs: azok a fjlon belli sablonok, amelyek az alkalmazs fjl vgre
kerlnek s fggnek a sinatra knyvtrtl, automatikusan betltdnek.
Ha ugyanezt ms alkalmazsfjlban is szeretnd megtenni, hvd meg 
a <tt>use<em>in</em>file_templates!</tt> metdust az adott fjlban.</p>

<a name='Kulcsszavas%20sablonok'></a>
<h3>Kulcsszavas sablonok</h3>

<p>Sablonokat vgl a felsszint <tt>template</tt> metdussal is 
definilhatunk: </p>
<pre class="highlight ruby">  <span class="n">template</span> <span class="ss">:layout</span> <span class="k">do</span>
    <span class="s2">&quot;%html</span><span class="se">\n</span><span class="s2">  =yield</span><span class="se">\n</span><span class="s2">&quot;</span>
  <span class="k">end</span>

  <span class="n">template</span> <span class="ss">:index</span> <span class="k">do</span>
    <span class="s1">'%div.title Hell Vilg!'</span>
  <span class="k">end</span>

  <span class="n">get</span> <span class="s1">'/'</span> <span class="k">do</span>
    <span class="n">haml</span> <span class="ss">:index</span>
  <span class="k">end</span>
</pre>
<p>Ha ltezik &quot;layout&quot; nev sablon, akkor az minden esetben meghvdik, amikor
csak egy sablon renderelsre kerl. A layoutokat ki lehet kapcsolni a
<code>:layout =&gt; false</code> meghvsval.</p>
<pre class="highlight ruby">  <span class="n">get</span> <span class="s1">'/'</span> <span class="k">do</span>
    <span class="n">haml</span> <span class="ss">:index</span><span class="p">,</span> <span class="ss">:layout</span> <span class="o">=&gt;</span> <span class="o">!</span><span class="n">request</span><span class="nf">.xhr?</span>
  <span class="k">end</span>
</pre>
<a name='Helperek'></a>
<h2>Helperek</h2>

<p>Hasznld a fels szint <tt>helpers</tt> metdust azokhoz a helper
fggvnyekhez, amiket az tvonal metdusokban s a sablonokban akarsz
hasznlni:</p>
<pre class="highlight ruby">  <span class="n">helpers</span> <span class="k">do</span>
    <span class="k">def</span> <span class="nf">bar</span><span class="p">(</span><span class="nb">name</span><span class="p">)</span>
      <span class="s2">&quot;</span><span class="si">#{</span><span class="nb">name</span><span class="si">}</span><span class="s2">bar&quot;</span>
    <span class="k">end</span>
  <span class="k">end</span>

  <span class="n">get</span> <span class="s1">'/:name'</span> <span class="k">do</span>
    <span class="n">bar</span><span class="p">(</span><span class="n">params</span><span class="o">[</span><span class="ss">:name</span><span class="o">]</span><span class="p">)</span>
  <span class="k">end</span>
</pre>
<a name='Szrk%20(filters)'></a>
<h2>Szrk (filters)</h2>

<p>Az elszrk (before filter) az adott hvs kontextusban minden egyes
krs alkalmval kirtkeldnek, gy mdosthatjk a krst s a
vlaszt egyarnt. A szrkbe felvett pldnyvltozk elrhetek lesznek
az tvonalakban s a sablonokban is:</p>
<pre class="highlight text">  before do
    @note = 'Cs!'
    request.path_info = '/foo/bar/baz'
  end

  get '/foo/*' do
    @note #=&gt; 'Szeva!'
    params[:splat] #=&gt; 'bar/baz'
  end
</pre>
<p>Az utszrk az egyes krsek utn, az adott krs kontextusban kerlnek
kirtkelsre, gy ezek is kpesek mdostani a krst s a vlaszt egyarnt.
Az elszrkben s vonalakban ltrehozott pldnyvltozk elrhetek lesznek
az utszrk szmra:</p>
<pre class="highlight ruby">  <span class="n">after</span> <span class="k">do</span>
    <span class="nb">puts</span> <span class="n">response</span><span class="nf">.status</span>
  <span class="k">end</span>
</pre>
<a name='Megllts'></a>
<h2>Megllts</h2>

<p>Egy krs szrben vagy tvonalban trtn azonnal blokkolshoz
hasznld a kvetkez parancsot:</p>

<p>halt</p>

<p>A meglltskor egy blokktrzset is megadhatsz ...</p>

<p>halt &#39;ez fog megjelenni a trzsben&#39;</p>

<p>Vagy lltsd be a HTTP sttuszt s a trzset is egyszerre ...</p>

<p>halt 401, &#39;menj innen!&#39;</p>

<a name='Passzols'></a>
<h2>Passzols</h2>

<p>Az tvonalak tovbbadhatjk a vgrehajtst egy msik tvonalnak 
a <code>pass</code> fggvnyhvssal:</p>
<pre class="highlight ruby">  <span class="n">get</span> <span class="s1">'/guess/:who'</span> <span class="k">do</span>
    <span class="n">pass</span> <span class="k">unless</span> <span class="n">params</span><span class="o">[</span><span class="ss">:who</span><span class="o">]</span> <span class="o">==</span> <span class="s1">'Frici'</span>
    <span class="s2">&quot;Elkaptl!&quot;</span>
  <span class="k">end</span>

  <span class="n">get</span> <span class="s1">'/guess/*'</span> <span class="k">do</span>
    <span class="s2">&quot;Elhibztl!&quot;</span>
  <span class="k">end</span>
</pre>
<p>Az tvonal blokkja azonnal kilp s tadja a vezrlst a kvetkez
illeszked tvonalnak. Ha nem tall megfelel tvonalat, a Sinatra
egy 404-es hibval tr vissza.</p>

<a name='Belltsok'></a>
<h2>Belltsok</h2>

<p>Csak indtskor, de minden krnyezetre rvnyesen fusson le:</p>
<pre class="highlight ruby">  <span class="n">configure</span> <span class="k">do</span>
    <span class="nf">..</span><span class="o">.</span>
  <span class="k">end</span>
</pre>
<p>Csak akkor fusson le, ha a krnyezet (a RACK_ENV krnyezeti vltozban)
<code>:production</code>-ra van lltva:</p>
<pre class="highlight ruby">  <span class="n">configure</span> <span class="ss">:production</span> <span class="k">do</span>
    <span class="nf">..</span><span class="o">.</span>
  <span class="k">end</span>
</pre>
<p>Csak akkor fusson le, ha a krnyezet <tt>:production</tt> vagy <tt>:test</tt>:</p>
<pre class="highlight ruby">  <span class="n">configure</span> <span class="ss">:production</span><span class="p">,</span> <span class="ss">:test</span> <span class="k">do</span>
    <span class="nf">..</span><span class="o">.</span>
  <span class="k">end</span>
</pre>
<a name='Hibakezels'></a>
<h2>Hibakezels</h2>

<p>A hibakezelk ugyanabban a kontextusban futnak le, mint az tvonalak s
elszrk, ezrt szmukra is elrhetek mindazok a knyvtrak, amelyek
az utbbiak rendelkezsre is llnak; gy pldul a <code>haml</code>, 
az <code>erb</code>, a <code>halt</code> stb.</p>

<a name='Nem%20tallhat'></a>
<h3>Nem tallhat</h3>

<p>Amikor a <code>Sinatra::NotFound</code> kivtel fellp, vagy a vlasz HTTP
sttuszkdja 404-es, mindig a <code>not_found</code> metdus hvdik meg.</p>
<pre class="highlight ruby">  <span class="n">not_found</span> <span class="k">do</span>
    <span class="s1">'Sehol sem tallom, amit keresel'</span>
  <span class="k">end</span>
</pre>
<a name='Hiba'></a>
<h3>Hiba</h3>

<p>Az <code>error</code> metdus hvdik meg olyankor, amikor egy tvonal, blokk vagy
elszr kivtelt vlt ki. A kivtel objektum lehvhat a
<code>sinatra.error</code> Rack vltoztl:</p>
<pre class="highlight ruby">  <span class="n">error</span> <span class="k">do</span>
    <span class="s1">'Elnzst, de valami szrny hiba lpett fel - '</span> <span class="o">+</span> <span class="n">env</span><span class="o">[</span><span class="s1">'sinatra.error'</span><span class="o">]</span><span class="nf">.name</span>
  <span class="k">end</span>
</pre>
<p>Egyni hibakezels:</p>
<pre class="highlight ruby">  <span class="n">error</span> <span class="no">MyCustomError</span> <span class="k">do</span>
    <span class="s1">'Szval az van, hogy...'</span> <span class="o">+</span> <span class="n">env</span><span class="o">[</span><span class="s1">'sinatra.error'</span><span class="o">]</span><span class="nf">.message</span>
  <span class="k">end</span>
</pre>
<p>s amikor fellp:</p>
<pre class="highlight ruby">  <span class="n">get</span> <span class="s1">'/'</span> <span class="k">do</span>
    <span class="k">raise</span> <span class="no">MyCustomError</span><span class="p">,</span> <span class="s1">'valami nem stimmel!'</span>
  <span class="k">end</span>
</pre>
<p>Ez fog megjelenni:</p>

<p>Szval az van, hogy... valami nem stimmel!</p>

<p>A Sinatra specilis <code>not_found</code> s <code>error</code> hibakezelket
hasznl, amikor a futtatsi krnyezet fejleszti mdba van kapcsolva.</p>

<a name='Mime%20tpusok'></a>
<h2>Mime tpusok</h2>

<p>A <code>send_file</code> metdus hasznlatakor, vagy statikus fjlok
kiszolglsakor elfordulhat, hogy a Sinatra nem ismeri fel a fjlok
mime tpust. Ilyenkor hasznld a +mime_type+ kapcsolt a fjlkiterjeszts
bevezetshez:</p>
<pre class="highlight ruby">  <span class="n">mime_type</span> <span class="ss">:foo</span><span class="p">,</span> <span class="s1">'text/foo'</span>
</pre>
<a name='Rack%20Middleware'></a>
<h2>Rack Middleware</h2>

<p>A Sinatra egy Ruby keretrendszerek szmra kifejlesztett egyszer s szabvnyos
interfszre, a <a href="http://rack.rubyforge.org/">Rack</a> -re pl. A Rack fejleszti 
szempontbl egyik legrdekesebb jellemzje, hogy tmogatja az gynevezett
&quot;middleware&quot; elnevezs komponenseket, amelyek bekeldnek a szerver s az
alkalmazs kz, gy kpesek megfigyelni s/vagy mdostani a HTTP 
krseket s vlaszokat. Segtsgkkel klnfle, egysgesen mkd
funkcikat pthetnk be rendszernkbe.</p>

<p>A Sinatra keretrendszerben gyerekjtk a Rack middleware-ek behzsa a
<code>use</code> metdus segtsgvel:</p>
<pre class="highlight ruby">  <span class="nb">require</span> <span class="s1">'sinatra'</span>
  <span class="nb">require</span> <span class="s1">'my_custom_middleware'</span>

  <span class="n">use</span> <span class="no">Rack</span><span class="o">::</span><span class="no">Lint</span>
  <span class="n">use</span> <span class="no">MyCustomMiddleware</span>

  <span class="n">get</span> <span class="s1">'/hello'</span> <span class="k">do</span>
    <span class="s1">'Hell Vilg'</span>
  <span class="k">end</span>
</pre>
<p>A <code>use</code> metdus szemantikja megegyezik a 
<a href="http://rack.rubyforge.org/doc/classes/Rack/Builder.html">Rack::Builder</a> DSL-ben
hasznlt +use+ metdusval (az emltett DSL-t leginkbb rackup llomnyokban
hasznljk). Hogy egy pldt emltsnk, a <code>use</code> metdus elfogad 
vltozkat s blokkokat egyarnt, akr kombinlva is ezeket:</p>
<pre class="highlight ruby">  <span class="n">use</span> <span class="no">Rack</span><span class="o">::</span><span class="no">Auth</span><span class="o">::</span><span class="no">Basic</span> <span class="k">do</span> <span class="o">|</span><span class="n">username</span><span class="p">,</span> <span class="n">password</span><span class="o">|</span>
    <span class="n">username</span> <span class="o">==</span> <span class="s1">'admin'</span> <span class="o">&amp;&amp;</span> <span class="n">password</span> <span class="o">==</span> <span class="s1">'titkos'</span>
  <span class="k">end</span>
</pre>
<p>A Rack terjesztssel egy csom alap middleware komponens is rkezik,
amelyekkel a naplzs, URL tvonalak megadsa, autentikci s 
munkamenet-kezels knnyen megvalsthat. A Sinatra ezek kzl elg
sokat automatikusan felhasznl a belltsoktl fggen, gy ezek
explicit betltsvel (+use+) nem kell bajldnod.</p>

<a name='Tesztels'></a>
<h2>Tesztels</h2>

<p>Sinatra teszteket brmely Rack alap tesztel knyvtrral vagy
keretrendszerrel kszthetsz. Mi a <a href="http://gitrdoc.com/brynary/rack-test">Rack::Test</a>
knyvtrat ajnljuk:</p>
<pre class="highlight ruby">  <span class="nb">require</span> <span class="s1">'my_sinatra_app'</span>
  <span class="nb">require</span> <span class="s1">'rack/test'</span>

  <span class="k">class</span> <span class="nc">MyAppTest</span> <span class="o">&lt;</span> <span class="no">Test</span><span class="o">::</span><span class="no">Unit</span><span class="o">::</span><span class="no">TestCase</span>
    <span class="kp">include</span> <span class="no">Rack</span><span class="o">::</span><span class="no">Test</span><span class="o">::</span><span class="no">Methods</span>

    <span class="k">def</span> <span class="nf">app</span>
      <span class="no">Sinatra</span><span class="o">::</span><span class="no">Application</span>
    <span class="k">end</span>

    <span class="k">def</span> <span class="nf">test_my_default</span>
      <span class="n">get</span> <span class="s1">'/'</span>
      <span class="n">assert_equal</span> <span class="s1">'Hell Vilg!'</span><span class="p">,</span> <span class="n">last_response</span><span class="nf">.body</span>
    <span class="k">end</span>

    <span class="k">def</span> <span class="nf">test_with_params</span>
      <span class="n">get</span> <span class="s1">'/meet'</span><span class="p">,</span> <span class="ss">:name</span> <span class="o">=&gt;</span> <span class="s1">'Frici'</span>
      <span class="n">assert_equal</span> <span class="s1">'Hell Frici!'</span><span class="p">,</span> <span class="n">last_response</span><span class="nf">.body</span>
    <span class="k">end</span>

    <span class="k">def</span> <span class="nf">test_with_rack_env</span>
      <span class="n">get</span> <span class="s1">'/'</span><span class="p">,</span> <span class="p">{},</span> <span class="s1">'HTTP_USER_AGENT'</span> <span class="o">=&gt;</span> <span class="s1">'Songbird'</span>
      <span class="n">assert_equal</span> <span class="s2">&quot;Songbird-t hasznlsz!&quot;</span><span class="p">,</span> <span class="n">last_response</span><span class="nf">.body</span>
    <span class="k">end</span>
  <span class="k">end</span>
</pre>
<p>Megjegyzs: A beptett Sinatra::Test s Sinatra::TestHarness osztlyok
a 0.9.2-es kiadstl kezdve elavultnak szmtanak.</p>

<a name='Sinatra::Base%20-%20Middleware-ek,%20knyvtrak%20s%20modulris%20alkalmazsok'></a>
<h2>Sinatra::Base - Middleware-ek, knyvtrak s modulris alkalmazsok</h2>

<p>Az alkalmazst fels szinten pteni megfelelhet mondjuk egy kisebb
app esetn, m kifejezetten krosnak bizonyulhat olyan komolyabb,
jra felhasznlhat komponensek ksztsekor, mint pldul egy Rack
middleware, Rails metal, egyszerbb kiszolgl komponenssel br
knyvtrak vagy ppen Sinatra kiterjesztsek. A fels szint DSL
bepiszktja az Objektum nvteret, radsul kisalkalmazsokra szabott
belltsokat felttelez (gy pldul egyetlen alkalmazsfjl,
<code>./public</code>
s <code>./views</code> knyvtr megltt, naplzst, kivtelkezel oldalt stb.).
Itt jn a kpbe a Sinatra::Base osztly:</p>
<pre class="highlight ruby">  <span class="nb">require</span> <span class="s1">'sinatra/base'</span>

  <span class="k">class</span> <span class="nc">MyApp</span> <span class="o">&lt;</span> <span class="no">Sinatra</span><span class="o">::</span><span class="no">Base</span>
    <span class="n">set</span> <span class="ss">:sessions</span><span class="p">,</span> <span class="kp">true</span>
    <span class="n">set</span> <span class="ss">:foo</span><span class="p">,</span> <span class="s1">'bar'</span>

    <span class="n">get</span> <span class="s1">'/'</span> <span class="k">do</span>
      <span class="s1">'Hell Vilg!'</span>
    <span class="k">end</span>
  <span class="k">end</span>
</pre>
<p>A MyApp osztly immr nll Rack komponensknt, mondjuk Rack middleware-knt
vagy alkalmazsknt, esetleg Rails metal-knt is tud mkdni. Kzvetlenl
hasznlhatod (<code>use</code>) vagy futtathatod (<code>run</code>) az osztlyodat egy rackup
konfigurcis llomnyban (<code>config.ru</code>), vagy egy szerverkomponenst
tartalmaz knyvtr vezrlsekor:</p>
<pre class="highlight ruby">   <span class="no">MyApp</span><span class="nf">.run!</span> <span class="ss">:host</span> <span class="o">=&gt;</span> <span class="s1">'localhost'</span><span class="p">,</span> <span class="ss">:port</span> <span class="o">=&gt;</span> <span class="mi">9090</span>
</pre>
<p>A Sinatra::Base gyermekosztlyaiban elrhet metdusok egyttal a fels
szint DSL-en keresztl is hozzfrhetk. A legtbb fels szint
alkalmazs talakthat Sinatra::Base alap komponensekk kt lpsben:</p>

<ul>
<li>A fjlban nem a <code>sinatra</code>, hanem a <code>sinatra/base</code> osztlyt kell
beimportlni, mert egybknt az sszes Sinatra DSL metdus a f
nvtrbe kerl.</li>
<li>Az alkalmazs tvonalait, hibakezelit, szrit s belltsait
a Sinatra::Base osztly gyermekosztlyaiban kell megadni.</li>
</ul>

<p>A <code>Sinatra::Base</code> osztly igazbl egy res lap: a legtbb funkci
alapbl ki van kapcsolva, belertve a beptett szervert is. A 
belltsokkal s az egyes kapcsolk hatsval az
<a href="http://sinatra.github.com/configuration.html">Options and Configuration</a> lap
foglalkozik.</p>

<p>Szljegyzet: A Sinatra fels szint DSL-je egy egyszer delegcis
rendszerre pl. A Sinatra::Application osztly - a Sinatra::Base egy
specilis osztlyaknt - fogadja az sszes :get, :put, :post,
:delete, :before, :error, :not_found, :configure s :set zenetet,
ami csak a fels szintre berkezik. rdemes utnanzned a kdban,
mikpp <a href="http://github.com/sinatra/sinatra/blob/master/lib/sinatra/main.rb#L25">kerl be</a>
a <a href="http://github.com/sinatra/sinatra/blob/master/lib/sinatra/base.rb#L1064">Sinatra::Delegator mixin</a>
a f nvtrbe.</p>

<a name='Parancssori%20lehetsgek'></a>
<h2>Parancssori lehetsgek</h2>

<p>Sinatra alkalmazsokat kzvetlenl futtathatunk:</p>
<pre class="highlight text">  ruby myapp.rb [-h] [-x] [-e ENVIRONMENT] [-p PORT] [-s HANDLER]
</pre>
<p>Az albbi kapcsolkat ismeri fel a rendszer:</p>

<p>-h # segtsg
  -p # a port belltsa (alaprtelmezs szerint ez a 4567-es)
  -e # a krnyezet belltsa (alaprtelmezs szerint ez a development)
  -s # a rack szerver/handler belltsa (alaprtelmezetten ez a thin)
  -x # a mutex lock bekapcsolsa (alaprtelmezetten ki van kapcsolva)</p>

<a name='Fejleszti%20vltozat'></a>
<h2>Fejleszti vltozat</h2>

<p>Ha a Sinatra legfrissebb, fejleszti vltozatt szeretnd hasznlni,
kszts egy helyi msolatot s indtsd az alkalmazsodat gy,
hogy a <code>sinatra/lib</code> knyvtr elrhet legyen a 
<code>LOAD_PATH</code>-on:</p>
<pre class="highlight text">  cd myapp
  git clone git://github.com/sinatra/sinatra.git
  ruby -Isinatra/lib myapp.rb
</pre>
<p>De hozz is adhatod a <tt>sinatra/lib</tt> knyvtrat a <tt>LOAD_PATH</tt>-hoz
az alkalmazsodban:</p>
<pre class="highlight ruby">  <span class="vg">$LOAD_PATH</span><span class="nf">.unshift</span> <span class="no">File</span><span class="nf">.dirname</span><span class="p">(</span><span class="kp">__FILE__</span><span class="p">)</span> <span class="o">+</span> <span class="s1">'/sinatra/lib'</span>
  <span class="nb">require</span> <span class="s1">'rubygems'</span>
  <span class="nb">require</span> <span class="s1">'sinatra'</span>

  <span class="n">get</span> <span class="s1">'/about'</span> <span class="k">do</span>
    <span class="s2">&quot;A kvetkez vltozatot futtatom &quot;</span> <span class="o">+</span> <span class="no">Sinatra</span><span class="o">::</span><span class="no">VERSION</span>
  <span class="k">end</span>
</pre>
<p>A Sinatra frisstst ksbb gy vgezheted el:</p>
<pre class="highlight text">  cd myproject/sinatra
  git pull
</pre>
<a name='Tovbbi%20informcik'></a>
<h2>Tovbbi informcik</h2>

<ul>
<li><a href="http://sinatra.github.com/">A projekt weboldala</a> - Kiegszt dokumentci,
hrek, hasznos linkek</li>
<li><a href="http://sinatra.github.com/contributing.html">Kzremkds</a> - Hibt talltl?
Segtsgre van szksged? Foltot kldenl be?</li>
<li><a href="http://sinatra.lighthouseapp.com">Lighthouse</a> - Hibakvets s kiadsok</li>
<li><a href="http://twitter.com/sinatra">Twitter</a></li>
<li><a href="http://groups.google.com/group/sinatrarb">Levelezlista</a></li>
<li>[IRC: #sinatra](irc://chat.freenode.net/#sinatra) a http://freenode.net cmen</li>
</ul>
