<div class='toc'>
	<ol class='level-1'>
		<li><a href='#&Uacute;tvonalak%20(routes)'>&Uacute;tvonalak (routes)</a></li>
		<li><a href='#Statikus%20&aacute;llom&aacute;nyok'>Statikus &aacute;llom&aacute;nyok</a></li>
		<li><a href='#N&eacute;zetek%20&eacute;s%20Sablonok'>N&eacute;zetek &eacute;s Sablonok</a></li>
		<ol class='level-2'>
			<li><a href='#Haml%20sablonok'>Haml sablonok</a></li>
			<li><a href='#Erb%20sablonok'>Erb sablonok</a></li>
			<li><a href='#Builder%20sablonok'>Builder sablonok</a></li>
			<li><a href='#Sass%20sablonok'>Sass sablonok</a></li>
			<li><a href='#Be&aacute;gyazott%20sablonok'>Be&aacute;gyazott sablonok</a></li>
			<li><a href='#V&aacute;ltoz&oacute;k%20el&eacute;r&eacute;se%20a%20sablonokban'>V&aacute;ltoz&oacute;k el&eacute;r&eacute;se a sablonokban</a></li>
			<li><a href='#F&aacute;jlon%20bel&uuml;li%20sablonok'>F&aacute;jlon bel&uuml;li sablonok</a></li>
			<li><a href='#Kulcsszavas%20sablonok'>Kulcsszavas sablonok</a></li>
		</ol>
		<li><a href='#Helperek'>Helperek</a></li>
		<li><a href='#Sz&%23369;r&%23337;k%20(filters)'>Sz&#369;r&#337;k (filters)</a></li>
		<li><a href='#Meg&aacute;ll&iacute;t&aacute;s'>Meg&aacute;ll&iacute;t&aacute;s</a></li>
		<li><a href='#Passzol&aacute;s'>Passzol&aacute;s</a></li>
		<li><a href='#Be&aacute;ll&iacute;t&aacute;sok'>Be&aacute;ll&iacute;t&aacute;sok</a></li>
		<li><a href='#Hibakezel&eacute;s'>Hibakezel&eacute;s</a></li>
		<ol class='level-2'>
			<li><a href='#Nem%20tal&aacute;lhat&oacute;'>Nem tal&aacute;lhat&oacute;</a></li>
			<li><a href='#Hiba'>Hiba</a></li>
		</ol>
		<li><a href='#Mime%20t&iacute;pusok'>Mime t&iacute;pusok</a></li>
		<li><a href='#Rack%20Middleware'>Rack Middleware</a></li>
		<li><a href='#Tesztel&eacute;s'>Tesztel&eacute;s</a></li>
		<li><a href='#Sinatra::Base%20-%20Middleware-ek,%20k&ouml;nyvt&aacute;rak%20&eacute;s%20modul&aacute;ris%20alkalmaz&aacute;sok'>Sinatra::Base - Middleware-ek, k&ouml;nyvt&aacute;rak &eacute;s modul&aacute;ris alkalmaz&aacute;sok</a></li>
		<li><a href='#Parancssori%20lehet&%23337;s&eacute;gek'>Parancssori lehet&#337;s&eacute;gek</a></li>
		<li><a href='#Fejleszt&%23337;i%20v&aacute;ltozat'>Fejleszt&#337;i v&aacute;ltozat</a></li>
		<li><a href='#Tov&aacute;bbi%20inform&aacute;ci&oacute;k'>Tov&aacute;bbi inform&aacute;ci&oacute;k</a></li>
	</ol>
</div>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body>

<p><em>Fontos megjegyz&eacute;s: Ez a dokumentum csak egy ford&iacute;t&aacute;sa az angol nyelv&#369;
v&aacute;ltozat, &eacute;s lehet, hogy nem naprak&eacute;sz.</em></p>

<p>A Sinatra egy <a href="http://en.wikipedia.org/wiki/Domain-specific_language">DSL</a>
webalkalmaz&aacute;sok Ruby nyelven t&ouml;rt&eacute;n&#337; fejleszt&eacute;s&eacute;hez, minim&aacute;lis
energiabefektet&eacute;ssel:</p>

<pre><code class="ruby">  # myapp.rb
  require 'sinatra'
  get '/' do
    'Hell&oacute; Vil&aacute;g!'
  end
</code></pre>

<p>Telep&iacute;tsd a gem-et &eacute;s ind&iacute;tsd el az alkalmaz&aacute;st a k&ouml;vetkez&#337;k&eacute;ppen:</p>

<pre><code class="ruby">  sudo gem install sinatra
  ruby myapp.rb
</code></pre>

<p>Az alkalmaz&aacute;s el&eacute;rhet&#337; lesz itt: <code>http://localhost:4567</code></p>

<a name='&Uacute;tvonalak%20(routes)'></a>
<h2>&Uacute;tvonalak (routes)</h2>

<p>A Sinatr&aacute;ban az &uacute;tvonalat egy HTTP met&oacute;dus &eacute;s egy URL-re illeszked&#337; minta
p&aacute;rosa alkotja. Minden egyes &uacute;tvonalhoz tartozik egy blokk:</p>

<pre><code class="ruby">  get '/' do
    .. megjelen&iacute;t&uuml;nk valamit ..
  end

  post '/' do
    .. l&eacute;trehozunk valamit ..
  end

  put '/' do
    .. friss&iacute;t&uuml;nk valamit ..
  end

  delete '/' do
    .. t&ouml;rl&uuml;nk valamit ..
  end
</code></pre>

<p>Az &uacute;tvonalak illeszked&eacute;s&eacute;t a rendszer a defini&aacute;l&aacute;suk sorrendj&eacute;ben
ellen&#337;rzi. Sorrendben mindig az els&#337; illeszked&#337; &uacute;tvonalhoz tartoz&oacute; met&oacute;dus ker&uuml;l
megh&iacute;v&aacute;sra.</p>

<p>Az &uacute;tvonalmint&aacute;k tartalmazhatnak param&eacute;tereket is, melyeket a <code>params</code>
hash-b&#337;l &eacute;rhet&uuml;nk el:</p>

<pre><code class="ruby">  get '/hello/:name' do
    # illeszkedik a "GET /hello/foo" &eacute;s a "GET /hello/bar" &uacute;tvonalakra
    # ekkor params[:name] &eacute;rt&eacute;ke 'foo' vagy 'bar' lesz
    "Hell&oacute; #{params[:name]}!"
  end
</code></pre>

<p>A kulcsszavas argumentumokat (named parameters) blokk param&eacute;terek &uacute;tj&aacute;n
is el tudod &eacute;rni:</p>

<pre><code class="ruby">  get '/hello/:name' do |n|
    "Hell&oacute; #{n}!"
  end
</code></pre>

<p>Az &uacute;tvonalmint&aacute;kban szerepelhetnek joker param&eacute;terek is, melyeket a 
<code>params[:splat]</code> t&ouml;mb&ouml;n kereszt&uuml;l tudunk el&eacute;rni.</p>

<pre><code class="ruby">  get '/say/*/to/*' do
    # illeszkedik a /say/hello/to/world mint&aacute;ra
    params[:splat] # =&gt; ["hello", "world"]
  end

  get '/download/*.*' do
    # illeszkedik a /download/path/to/file.xml mint&aacute;ra
    params[:splat] # =&gt; ["path/to/file", "xml"]
  end
</code></pre>

<p>Regul&aacute;ris kifejez&eacute;seket is felvehet&uuml;nk az &uacute;tvonalba:</p>

<pre><code class="ruby">  get %r{/hello/([\w]+)} do
    "Hell&oacute;, #{params[:captures].first}!"
  end
</code></pre>

<p>Vagy blokk param&eacute;tereket:</p>

<pre><code class="ruby">  get %r{/hello/([\w]+)} do |c|
    "Hell&oacute;, #{c}!"
  end
</code></pre>

<p>Az &uacute;tvonalak azonban sz&aacute;mos egy&eacute;b illeszked&eacute;si felt&eacute;tel szerint is
tervezhet&#337;k, &iacute;gy p&eacute;ld&aacute;ul az user agent karakterl&aacute;ncot alapul v&eacute;ve:</p>

<pre><code class="ruby">  get '/foo', :agent =&gt; /Songbird (\d\.\d)[\d\/]*?/ do
    "A Songbird #{params[:agent][0]} verzi&oacute;j&aacute;t haszn&aacute;lod"
  end

  get '/foo' do
    # illeszkedik az egy&eacute;b user agentekre
  end
</code></pre>

<a name='Statikus%20&aacute;llom&aacute;nyok'></a>
<h2>Statikus &aacute;llom&aacute;nyok</h2>

<p>A statikus f&aacute;jlok kiszolg&aacute;l&aacute;sa a <code>./public</code> k&ouml;nyvt&aacute;rb&oacute;l
t&ouml;rt&eacute;nik, de term&eacute;szetesen m&aacute;s k&ouml;nyvt&aacute;rat is megadhatsz erre a c&eacute;lra,
m&eacute;gpedig a :public_folder kapcsol&oacute; be&aacute;ll&iacute;t&aacute;s&aacute;val:</p>

<p>set :public<em>folder, File.dirname(</em><em>FILE</em>_) + '/static'</p>

<p>Fontos mgejegyezni, hogy a nyilv&aacute;nos k&ouml;nyvt&aacute;r neve nem szerepel az URL-ben.
A ./public/css/style.css f&aacute;jl az
<code>http://example.com/css/style.css</code> URL-en lesz el&eacute;rhet&#337;.</p>

<a name='N&eacute;zetek%20&eacute;s%20Sablonok'></a>
<h2>N&eacute;zetek &eacute;s Sablonok</h2>

<p>A sablonf&aacute;jlokat rendszerint a  <code>./views</code> k&ouml;nyvt&aacute;rba helyezz&uuml;k, de
itt is lehet&#337;s&eacute;g ny&iacute;lik egy&eacute;b k&ouml;nyvt&aacute;r haszn&aacute;lat&aacute;ra:</p>

<p>set :views, File.dirname(<strong>FILE</strong>) + '/templates'</p>

<p>Nagyon fontos &eacute;szben tartani, hogy a sablononkra mindig szimb&oacute;lumokkal
hivatkozunk, m&eacute;g akkor is, ha egy&eacute;b (ebben az esetben a 
:'subdir/template') k&ouml;nyvt&aacute;rban t&aacute;roljuk &#337;ket. A renderel&#337;
met&oacute;dusok minden, nekik k&ouml;zvetlen&uuml;l &aacute;tadott karakterl&aacute;ncot megjelen&iacute;tenek.</p>

<a name='Haml%20sablonok'></a>
<h3>Haml sablonok</h3>

<p>HAML sablonok renderel&eacute;s&eacute;hez sz&uuml;ks&eacute;g&uuml;nk lesz a haml gem-re vagy k&ouml;nyvt&aacute;rra:</p>

<pre><code class="ruby">  # Import&aacute;ljuk be a haml-t az alkalmaz&aacute;sba
  require 'haml'

  get '/' do
    haml :index
  end
</code></pre>

<p>Ez sz&eacute;pen lerendereli a <code>./views/index.haml</code> sablont.</p>

<p>A <a href="http://haml.hamptoncatlin.com/docs/rdoc/classes/Haml.html">Haml kapcsol&oacute;i</a>
glob&aacute;lisan is be&aacute;ll&iacute;that&oacute;k a Sinatra konfigur&aacute;ci&oacute;i k&ouml;z&ouml;tt, l&aacute;sd az
<a href="http://www.sinatrarb.com/configuration.html">Options and Configurations</a> lapot.
A glob&aacute;lis be&aacute;ll&iacute;t&aacute;sokat lehet&#337;s&eacute;g&uuml;nk van fel&uuml;l&iacute;rni met&oacute;dus szinten is.</p>

<pre><code class="ruby">  set :haml, {:format =&gt; :html5 } # az alap&eacute;rtelmezett Haml form&aacute;tum az :xhtml

  get '/' do
    haml :index, :haml_options =&gt; {:format =&gt; :html4 } # imm&aacute;r fel&uuml;l&iacute;rva
  end
</code></pre>

<a name='Erb%20sablonok'></a>
<h3>Erb sablonok</h3>

<p># Import&aacute;ljuk be az erb-t az alkalmaz&aacute;sba</p>

<pre><code class="ruby">  require 'erb'

  get '/' do
    erb :index
  end
</code></pre>

<p>Ez a <code>./views/index.erb</code> sablont fogja lerenderelni.</p>

<a name='Builder%20sablonok'></a>
<h3>Builder sablonok</h3>

<p>Sz&uuml;ks&eacute;g&uuml;nk lesz a builder gem-re vagy k&ouml;nyvt&aacute;rra a builder sablonok
renderel&eacute;s&eacute;hez:</p>

<p># Import&aacute;ljuk be a builder-t az alkalmaz&aacute;sba</p>

<pre><code class="ruby">  require 'builder'

  get '/' do
    builder :index
  end
</code></pre>

<p>Ez pedig a <code>./views/index.builder</code> &aacute;llom&aacute;nyt fogja renderelni.</p>

<a name='Sass%20sablonok'></a>
<h3>Sass sablonok</h3>

<p>Sass sablonok haszn&aacute;lat&aacute;hoz sz&uuml;ks&eacute;g lesz a haml gem-re vagy k&ouml;nyvt&aacute;rra:</p>

<p># Be kell import&aacute;lni a haml, vagy a sass k&ouml;nyvt&aacute;rat</p>

<pre><code class="ruby">  require 'sass'

  get '/stylesheet.css' do
    sass :stylesheet
  end
</code></pre>

<p>&Iacute;gy a <code>./views/stylesheet.sass</code> f&aacute;jl m&aacute;ris renderelhet&#337;.</p>

<p>A <a href="http://haml.hamptoncatlin.com/docs/rdoc/classes/Sass.html">Sass kapcsol&oacute;i</a>
glob&aacute;lisan is be&aacute;ll&iacute;that&oacute;k a Sinatra konfigur&aacute;ci&oacute;i k&ouml;z&ouml;tt, l&aacute;sd az
<a href="http://www.sinatrarb.com/configuration.html">Options and Configurations</a> lapot.
A glob&aacute;lis be&aacute;ll&iacute;t&aacute;sokat lehet&#337;s&eacute;g&uuml;nk van fel&uuml;l&iacute;rni met&oacute;dus szinten is.</p>

<pre><code class="ruby">  set :sass, {:style =&gt; :compact } # az alap&eacute;rtelmezett Sass st&iacute;lus a :nested

  get '/stylesheet.css' do
    sass :stylesheet, :sass_options =&gt; {:style =&gt; :expanded } # fel&uuml;l&iacute;rva
  end
</code></pre>

<a name='Be&aacute;gyazott%20sablonok'></a>
<h3>Be&aacute;gyazott sablonok</h3>

<pre><code class="ruby">  get '/' do
    haml '%div.title Hell&oacute; Vil&aacute;g'
  end
</code></pre>

<p>Lerendereli a be&aacute;gyazott sablon karakerl&aacute;nc&aacute;t.</p>

<a name='V&aacute;ltoz&oacute;k%20el&eacute;r&eacute;se%20a%20sablonokban'></a>
<h3>V&aacute;ltoz&oacute;k el&eacute;r&eacute;se a sablonokban</h3>

<p>A sablonok ugyanabban a kontextusban ker&uuml;lnek ki&eacute;rt&eacute;kel&eacute;sre, mint az
&uacute;tvonal met&oacute;dusok (route handlers). Az &uacute;tvonal met&oacute;dusokban megadott
v&aacute;ltoz&oacute;k k&ouml;zvetlen&uuml;l el&eacute;rhet&#337;ek lesznek a sablonokban:</p>

<pre><code class="ruby">  get '/:id' do
    @foo = Foo.find(params[:id])
    haml '%h1= @foo.name'
  end
</code></pre>

<p>De megadhatod egy lok&aacute;lis v&aacute;ltoz&oacute;kat tartalmaz&oacute; explicit hash-ben is:</p>

<pre><code class="ruby">  get '/:id' do
    foo = Foo.find(params[:id])
    haml '%h1= foo.name', :locals =&gt; { :foo =&gt; foo }
  end
</code></pre>

<p>Ezt legink&aacute;bb akkor &eacute;rdemes megtenni, ha partial-eket akarunk renderelni
valamely m&aacute;s sablonb&oacute;l.</p>

<a name='F&aacute;jlon%20bel&uuml;li%20sablonok'></a>
<h3>F&aacute;jlon bel&uuml;li sablonok</h3>

<p>Sablonokat &uacute;gy is megadhatunk, hogy egyszer&#369;en az alkalmaz&aacute;s f&aacute;jl
v&eacute;g&eacute;re beg&eacute;pelj&uuml;k &#337;ket:</p>

<pre><code class="ruby">  require 'rubygems'
  require 'sinatra'

  get '/' do
    haml :index
  end

  __END__

  @@ layout
  %html
    = yield

  @@ index
  %div.title Hell&oacute; Vil&aacute;g!!!!!
</code></pre>

<p>Megjegyz&eacute;s: azok a f&aacute;jlon bel&uuml;li sablonok, amelyek az alkalmaz&aacute;s f&aacute;jl v&eacute;g&eacute;re
ker&uuml;lnek &eacute;s f&uuml;ggnek a sinatra k&ouml;nyvt&aacute;rt&oacute;l, automatikusan bet&ouml;lt&#337;dnek.
Ha ugyanezt m&aacute;s alkalmaz&aacute;sf&aacute;jlban is szeretn&eacute;d megtenni, h&iacute;vd meg 
a <tt>use<em>in</em>file_templates!</tt> met&oacute;dust az adott f&aacute;jlban.</p>

<a name='Kulcsszavas%20sablonok'></a>
<h3>Kulcsszavas sablonok</h3>

<p>Sablonokat v&eacute;g&uuml;l a fels&#337;szint&#369; <tt>template</tt> met&oacute;dussal is 
defini&aacute;lhatunk: </p>

<pre><code class="ruby">  template :layout do
    "%html\n  =yield\n"
  end

  template :index do
    '%div.title Hell&oacute; Vil&aacute;g!'
  end

  get '/' do
    haml :index
  end
</code></pre>

<p>Ha l&eacute;tezik "layout" nev&#369; sablon, akkor az minden esetben megh&iacute;v&oacute;dik, amikor
csak egy sablon renderel&eacute;sre ker&uuml;l. A layoutokat ki lehet kapcsolni a
<code>:layout =&gt; false</code> megh&iacute;v&aacute;s&aacute;val.</p>

<pre><code class="ruby">  get '/' do
    haml :index, :layout =&gt; !request.xhr?
  end
</code></pre>

<a name='Helperek'></a>
<h2>Helperek</h2>

<p>Haszn&aacute;ld a fels&#337; szint&#369; <tt>helpers</tt> met&oacute;dust azokhoz a helper
f&uuml;ggv&eacute;nyekhez, amiket az &uacute;tvonal met&oacute;dusokban &eacute;s a sablonokban akarsz
haszn&aacute;lni:</p>

<pre><code class="ruby">  helpers do
    def bar(name)
      "#{name}bar"
    end
  end

  get '/:name' do
    bar(params[:name])
  end
</code></pre>

<a name='Sz&%23369;r&%23337;k%20(filters)'></a>
<h2>Sz&#369;r&#337;k (filters)</h2>

<p>Az el&#337;sz&#369;r&#337;k (before filter) az adott h&iacute;v&aacute;s kontextus&aacute;ban minden egyes
k&eacute;r&eacute;s alkalm&aacute;val ki&eacute;rt&eacute;kel&#337;dnek, &iacute;gy m&oacute;dos&iacute;thatj&aacute;k a k&eacute;r&eacute;st &eacute;s a
v&aacute;laszt egyar&aacute;nt. A sz&#369;r&#337;kbe felvett p&eacute;ld&aacute;nyv&aacute;ltoz&oacute;k el&eacute;rhet&#337;ek lesznek
az &uacute;tvonalakban &eacute;s a sablonokban is:</p>

<pre><code class="rubu">  before do
    @note = 'Cs&aacute;!'
    request.path_info = '/foo/bar/baz'
  end

  get '/foo/*' do
    @note #=&gt; 'Szeva!'
    params[:splat] #=&gt; 'bar/baz'
  end
</code></pre>

<p>Az ut&oacute;sz&#369;r&#337;k az egyes k&eacute;r&eacute;sek ut&aacute;n, az adott k&eacute;r&eacute;s kontextus&aacute;ban ker&uuml;lnek
ki&eacute;rt&eacute;kel&eacute;sre, &iacute;gy ezek is k&eacute;pesek m&oacute;dos&iacute;tani a k&eacute;r&eacute;st &eacute;s a v&aacute;laszt egyar&aacute;nt.
Az el&#337;sz&#369;r&#337;kben &eacute;s &uacute;vonalakban l&eacute;trehozott p&eacute;ld&aacute;nyv&aacute;ltoz&oacute;k el&eacute;rhet&#337;ek lesznek
az ut&oacute;sz&#369;r&#337;k sz&aacute;m&aacute;ra:</p>

<pre><code class="ruby">  after do
    puts response.status
  end
</code></pre>

<a name='Meg&aacute;ll&iacute;t&aacute;s'></a>
<h2>Meg&aacute;ll&iacute;t&aacute;s</h2>

<p>Egy k&eacute;r&eacute;s sz&#369;r&#337;ben vagy &uacute;tvonalban t&ouml;rt&eacute;n&#337; azonnal blokkol&aacute;s&aacute;hoz
haszn&aacute;ld a k&ouml;vetkez&#337; parancsot:</p>

<p>halt</p>

<p>A meg&aacute;ll&iacute;t&aacute;skor egy blokkt&ouml;rzset is megadhatsz ...</p>

<p>halt 'ez fog megjelenni a t&ouml;rzsben'</p>

<p>Vagy &aacute;ll&iacute;tsd be a HTTP st&aacute;tuszt &eacute;s a t&ouml;rzset is egyszerre ...</p>

<p>halt 401, 'menj innen!'</p>

<a name='Passzol&aacute;s'></a>
<h2>Passzol&aacute;s</h2>

<p>Az &uacute;tvonalak tov&aacute;bbadhatj&aacute;k a v&eacute;grehajt&aacute;st egy m&aacute;sik &uacute;tvonalnak 
a <code>pass</code> f&uuml;ggv&eacute;nyh&iacute;v&aacute;ssal:</p>

<pre><code class="ruby">  get '/guess/:who' do
    pass unless params[:who] == 'Frici'
    "Elkapt&aacute;l!"
  end

  get '/guess/*' do
    "Elhib&aacute;zt&aacute;l!"
  end
</code></pre>

<p>Az &uacute;tvonal blokkja azonnal kil&eacute;p &eacute;s &aacute;tadja a vez&eacute;rl&eacute;st a k&ouml;vetkez&#337;
illeszked&#337; &uacute;tvonalnak. Ha nem tal&aacute;l megfelel&#337; &uacute;tvonalat, a Sinatra
egy 404-es hib&aacute;val t&eacute;r vissza.</p>

<a name='Be&aacute;ll&iacute;t&aacute;sok'></a>
<h2>Be&aacute;ll&iacute;t&aacute;sok</h2>

<p>Csak ind&iacute;t&aacute;skor, de minden k&ouml;rnyezetre &eacute;rv&eacute;nyesen fusson le:</p>

<pre><code class="ruby">  configure do
    ...
  end
</code></pre>

<p>Csak akkor fusson le, ha a k&ouml;rnyezet (a RACK_ENV k&ouml;rnyezeti v&aacute;ltoz&oacute;ban)
<code>:production</code>-ra van &aacute;ll&iacute;tva:</p>

<pre><code class="ruby">  configure :production do
    ...
  end
</code></pre>

<p>Csak akkor fusson le, ha a k&ouml;rnyezet <tt>:production</tt> vagy <tt>:test</tt>:</p>

<pre><code class="ruby">  configure :production, :test do
    ...
  end
</code></pre>

<a name='Hibakezel&eacute;s'></a>
<h2>Hibakezel&eacute;s</h2>

<p>A hibakezel&#337;k ugyanabban a kontextusban futnak le, mint az &uacute;tvonalak &eacute;s
el&#337;sz&#369;r&#337;k, ez&eacute;rt sz&aacute;mukra is el&eacute;rhet&#337;ek mindazok a k&ouml;nyvt&aacute;rak, amelyek
az ut&oacute;bbiak rendelkez&eacute;s&eacute;re is &aacute;llnak; &iacute;gy p&eacute;ld&aacute;ul a <code>haml</code>, 
az <code>erb</code>, a <code>halt</code> stb.</p>

<a name='Nem%20tal&aacute;lhat&oacute;'></a>
<h3>Nem tal&aacute;lhat&oacute;</h3>

<p>Amikor a <code>Sinatra::NotFound</code> kiv&eacute;tel fell&eacute;p, vagy a v&aacute;lasz HTTP
st&aacute;tuszk&oacute;dja 404-es, mindig a <code>not_found</code> met&oacute;dus h&iacute;v&oacute;dik meg.</p>

<pre><code class="ruby">  not_found do
    'Sehol sem tal&aacute;lom, amit keresel'
  end
</code></pre>

<a name='Hiba'></a>
<h3>Hiba</h3>

<p>Az <code>error</code> met&oacute;dus h&iacute;v&oacute;dik meg olyankor, amikor egy &uacute;tvonal, blokk vagy
el&#337;sz&#369;r&#337; kiv&eacute;telt v&aacute;lt ki. A kiv&eacute;tel objektum leh&iacute;vhat&oacute; a
<code>sinatra.error</code> Rack v&aacute;ltoz&oacute;t&oacute;l:</p>

<pre><code class="ruby">  error do
    'Eln&eacute;z&eacute;st, de valami sz&ouml;rny&#369; hiba l&eacute;pett fel - ' + env['sinatra.error'].name
  end
</code></pre>

<p>Egy&eacute;ni hibakezel&eacute;s:</p>

<pre><code class="ruby">  error MyCustomError do
    'Sz&oacute;val az van, hogy...' + env['sinatra.error'].message
  end
</code></pre>

<p>&Eacute;s amikor fell&eacute;p:</p>

<pre><code class="ruby">  get '/' do
    raise MyCustomError, 'valami nem stimmel!'
  end
</code></pre>

<p>Ez fog megjelenni:</p>

<p>Sz&oacute;val az van, hogy... valami nem stimmel!</p>

<p>A Sinatra speci&aacute;lis <code>not_found</code> &eacute;s <code>error</code> hibakezel&#337;ket
haszn&aacute;l, amikor a futtat&aacute;si k&ouml;rnyezet fejleszt&#337;i m&oacute;dba van kapcsolva.</p>

<a name='Mime%20t&iacute;pusok'></a>
<h2>Mime t&iacute;pusok</h2>

<p>A <code>send_file</code> met&oacute;dus haszn&aacute;latakor, vagy statikus f&aacute;jlok
kiszolg&aacute;l&aacute;sakor el&#337;fordulhat, hogy a Sinatra nem ismeri fel a f&aacute;jlok
mime t&iacute;pus&aacute;t. Ilyenkor haszn&aacute;ld a +mime_type+ kapcsol&oacute;t a f&aacute;jlkiterjeszt&eacute;s
bevezet&eacute;s&eacute;hez:</p>

<pre><code class="ruby">  mime_type :foo, 'text/foo'
</code></pre>

<a name='Rack%20Middleware'></a>
<h2>Rack Middleware</h2>

<p>A Sinatra egy Ruby keretrendszerek sz&aacute;m&aacute;ra kifejlesztett egyszer&#369; &eacute;s szabv&aacute;nyos
interf&eacute;szre, a <a href="http://rack.rubyforge.org/">Rack</a> -re &eacute;p&uuml;l. A Rack fejleszt&#337;i 
szempontb&oacute;l egyik leg&eacute;rdekesebb jellemz&#337;je, hogy t&aacute;mogatja az &uacute;gynevezett
"middleware" elnevez&eacute;s&#369; komponenseket, amelyek be&eacute;kel&#337;dnek a szerver &eacute;s az
alkalmaz&aacute;s k&ouml;z&eacute;, &iacute;gy k&eacute;pesek megfigyelni &eacute;s/vagy m&oacute;dos&iacute;tani a HTTP 
k&eacute;r&eacute;seket &eacute;s v&aacute;laszokat. Seg&iacute;ts&eacute;g&uuml;kkel k&uuml;l&ouml;nf&eacute;le, egys&eacute;gesen m&#369;k&ouml;d&#337;
funkci&oacute;kat &eacute;p&iacute;thet&uuml;nk be rendszer&uuml;nkbe.</p>

<p>A Sinatra keretrendszerben gyerekj&aacute;t&eacute;k a Rack middleware-ek beh&uacute;z&aacute;sa a
<code>use</code> met&oacute;dus seg&iacute;ts&eacute;g&eacute;vel:</p>

<pre><code class="ruby">  require 'sinatra'
  require 'my_custom_middleware'

  use Rack::Lint
  use MyCustomMiddleware

  get '/hello' do
    'Hell&oacute; Vil&aacute;g'
  end
</code></pre>

<p>A <code>use</code> met&oacute;dus szemantik&aacute;ja megegyezik a 
<a href="http://rack.rubyforge.org/doc/classes/Rack/Builder.html">Rack::Builder</a> DSL-ben
haszn&aacute;lt +use+ met&oacute;dus&eacute;val (az eml&iacute;tett DSL-t legink&aacute;bb rackup &aacute;llom&aacute;nyokban
haszn&aacute;lj&aacute;k). Hogy egy p&eacute;ld&aacute;t eml&iacute;ts&uuml;nk, a <code>use</code> met&oacute;dus elfogad 
v&aacute;ltoz&oacute;kat &eacute;s blokkokat egyar&aacute;nt, ak&aacute;r kombin&aacute;lva is ezeket:</p>

<pre><code class="ruby">  use Rack::Auth::Basic do |username, password|
    username == 'admin' &amp;&amp; password == 'titkos'
  end
</code></pre>

<p>A Rack terjeszt&eacute;ssel egy csom&oacute; alap middleware komponens is &eacute;rkezik,
amelyekkel a napl&oacute;z&aacute;s, URL &uacute;tvonalak megad&aacute;sa, autentik&aacute;ci&oacute; &eacute;s 
munkamenet-kezel&eacute;s k&ouml;nnyen megval&oacute;s&iacute;that&oacute;. A Sinatra ezek k&ouml;z&uuml;l el&eacute;g
sokat automatikusan felhaszn&aacute;l a be&aacute;ll&iacute;t&aacute;sokt&oacute;l f&uuml;gg&#337;en, &iacute;gy ezek
explicit bet&ouml;lt&eacute;s&eacute;vel (+use+) nem kell bajl&oacute;dnod.</p>

<a name='Tesztel&eacute;s'></a>
<h2>Tesztel&eacute;s</h2>

<p>Sinatra teszteket b&aacute;rmely Rack alap&uacute; tesztel&#337; k&ouml;nyvt&aacute;rral vagy
keretrendszerrel k&eacute;sz&iacute;thetsz. Mi a <a href="http://gitrdoc.com/brynary/rack-test">Rack::Test</a>
k&ouml;nyvt&aacute;rat aj&aacute;nljuk:</p>

<pre><code class="ruby">  require 'my_sinatra_app'
  require 'rack/test'

  class MyAppTest &lt; Test::Unit::TestCase
    include Rack::Test::Methods

    def app
      Sinatra::Application
    end

    def test_my_default
      get '/'
      assert_equal 'Hell&oacute; Vil&aacute;g!', last_response.body
    end

    def test_with_params
      get '/meet', :name =&gt; 'Frici'
      assert_equal 'Hell&oacute; Frici!', last_response.body
    end

    def test_with_rack_env
      get '/', {}, 'HTTP_USER_AGENT' =&gt; 'Songbird'
      assert_equal "Songbird-&ouml;t haszn&aacute;lsz!", last_response.body
    end
  end
</code></pre>

<p>Megjegyz&eacute;s: A be&eacute;p&iacute;tett Sinatra::Test &eacute;s Sinatra::TestHarness oszt&aacute;lyok
a 0.9.2-es kiad&aacute;st&oacute;l kezdve elavultnak sz&aacute;m&iacute;tanak.</p>

<a name='Sinatra::Base%20-%20Middleware-ek,%20k&ouml;nyvt&aacute;rak%20&eacute;s%20modul&aacute;ris%20alkalmaz&aacute;sok'></a>
<h2>Sinatra::Base - Middleware-ek, k&ouml;nyvt&aacute;rak &eacute;s modul&aacute;ris alkalmaz&aacute;sok</h2>

<p>Az alkalmaz&aacute;st fels&#337; szinten &eacute;p&iacute;teni megfelelhet mondjuk egy kisebb
app eset&eacute;n, &aacute;m kifejezetten k&aacute;rosnak bizonyulhat olyan komolyabb,
&uacute;jra felhaszn&aacute;lhat&oacute; komponensek k&eacute;sz&iacute;t&eacute;sekor, mint p&eacute;ld&aacute;ul egy Rack
middleware, Rails metal, egyszer&#369;bb kiszolg&aacute;l&oacute; komponenssel b&iacute;r&oacute;
k&ouml;nyvt&aacute;rak vagy &eacute;ppen Sinatra kiterjeszt&eacute;sek. A fels&#337; szint&#369; DSL
bepiszk&iacute;tja az Objektum n&eacute;vteret, r&aacute;ad&aacute;sul kisalkalmaz&aacute;sokra szabott
be&aacute;ll&iacute;t&aacute;sokat felt&eacute;telez (&iacute;gy p&eacute;ld&aacute;ul egyetlen alkalmaz&aacute;sf&aacute;jl,
<code>./public</code>
&eacute;s <code>./views</code> k&ouml;nyvt&aacute;r megl&eacute;t&eacute;t, napl&oacute;z&aacute;st, kiv&eacute;telkezel&#337; oldalt stb.).
Itt j&ouml;n a k&eacute;pbe a Sinatra::Base oszt&aacute;ly:</p>

<pre><code class="ruby">  require 'sinatra/base'

  class MyApp &lt; Sinatra::Base
    set :sessions, true
    set :foo, 'bar'

    get '/' do
      'Hell&oacute; Vil&aacute;g!'
    end
  end
</code></pre>

<p>A MyApp oszt&aacute;ly imm&aacute;r &ouml;n&aacute;ll&oacute; Rack komponensk&eacute;nt, mondjuk Rack middleware-k&eacute;nt
vagy alkalmaz&aacute;sk&eacute;nt, esetleg Rails metal-k&eacute;nt is tud m&#369;k&ouml;dni. K&ouml;zvetlen&uuml;l
haszn&aacute;lhatod (<code>use</code>) vagy futtathatod (<code>run</code>) az oszt&aacute;lyodat egy rackup
konfigur&aacute;ci&oacute;s &aacute;llom&aacute;nyban (<code>config.ru</code>), vagy egy szerverkomponenst
tartalmaz&oacute; k&ouml;nyvt&aacute;r vez&eacute;rl&eacute;sekor:</p>

<pre><code class="ruby">   MyApp.run! :host =&gt; 'localhost', :port =&gt; 9090
</code></pre>

<p>A Sinatra::Base gyermekoszt&aacute;lyaiban el&eacute;rhet&#337; met&oacute;dusok egy&uacute;ttal a fels&#337;
szint&#369; DSL-en kereszt&uuml;l is hozz&aacute;f&eacute;rhet&#337;k. A legt&ouml;bb fels&#337; szint&#369;
alkalmaz&aacute;s &aacute;talak&iacute;that&oacute; Sinatra::Base alap&uacute; komponensekk&eacute; k&eacute;t l&eacute;p&eacute;sben:</p>

<p>A <code>Sinatra::Base</code> oszt&aacute;ly igaz&aacute;b&oacute;l egy &uuml;res lap: a legt&ouml;bb funkci&oacute;
alapb&oacute;l ki van kapcsolva, bele&eacute;rtve a be&eacute;p&iacute;tett szervert is. A 
be&aacute;ll&iacute;t&aacute;sokkal &eacute;s az egyes kapcsol&oacute;k hat&aacute;s&aacute;val az
<a href="http://sinatra.github.com/configuration.html">Options and Configuration</a> lap
foglalkozik.</p>

<p>Sz&eacute;ljegyzet: A Sinatra fels&#337; szint&#369; DSL-je egy egyszer&#369; deleg&aacute;ci&oacute;s
rendszerre &eacute;p&uuml;l. A Sinatra::Application oszt&aacute;ly - a Sinatra::Base egy
speci&aacute;lis oszt&aacute;lyak&eacute;nt - fogadja az &ouml;sszes :get, :put, :post,
:delete, :before, :error, :not_found, :configure &eacute;s :set &uuml;zenetet,
ami csak a fels&#337; szintre be&eacute;rkezik. &Eacute;rdemes ut&aacute;nan&eacute;zned a k&oacute;dban,
mik&eacute;pp <a href="http://github.com/sinatra/sinatra/blob/master/lib/sinatra/main.rb#L25">ker&uuml;l be</a>
a <a href="http://github.com/sinatra/sinatra/blob/master/lib/sinatra/base.rb#L1064">Sinatra::Delegator mixin</a>
a f&#337; n&eacute;vt&eacute;rbe.</p>

<a name='Parancssori%20lehet&%23337;s&eacute;gek'></a>
<h2>Parancssori lehet&#337;s&eacute;gek</h2>

<p>Sinatra alkalmaz&aacute;sokat k&ouml;zvetlen&uuml;l futtathatunk:</p>

<pre><code>  ruby myapp.rb [-h] [-x] [-e ENVIRONMENT] [-p PORT] [-s HANDLER]
</code></pre>

<p>Az al&aacute;bbi kapcsol&oacute;kat ismeri fel a rendszer:</p>

<p>-h # seg&iacute;ts&eacute;g
  -p # a port be&aacute;ll&iacute;t&aacute;sa (alap&eacute;rtelmez&eacute;s szerint ez a 4567-es)
  -e # a k&ouml;rnyezet be&aacute;ll&iacute;t&aacute;sa (alap&eacute;rtelmez&eacute;s szerint ez a development)
  -s # a rack szerver/handler be&aacute;ll&iacute;t&aacute;sa (alap&eacute;rtelmezetten ez a thin)
  -x # a mutex lock bekapcsol&aacute;sa (alap&eacute;rtelmezetten ki van kapcsolva)</p>

<a name='Fejleszt&%23337;i%20v&aacute;ltozat'></a>
<h2>Fejleszt&#337;i v&aacute;ltozat</h2>

<p>Ha a Sinatra legfrissebb, fejleszt&#337;i v&aacute;ltozat&aacute;t szeretn&eacute;d haszn&aacute;lni,
k&eacute;sz&iacute;ts egy helyi m&aacute;solatot &eacute;s ind&iacute;tsd az alkalmaz&aacute;sodat &uacute;gy,
hogy a <code>sinatra/lib</code> k&ouml;nyvt&aacute;r el&eacute;rhet&#337; legyen a 
<code>LOAD_PATH</code>-on:</p>

<pre><code>  cd myapp
  git clone git://github.com/sinatra/sinatra.git
  ruby -Isinatra/lib myapp.rb
</code></pre>

<p>De hozz&aacute; is adhatod a <tt>sinatra/lib</tt> k&ouml;nyvt&aacute;rat a <tt>LOAD_PATH</tt>-hoz
az alkalmaz&aacute;sodban:</p>

<pre><code class="ruby">  $LOAD_PATH.unshift File.dirname(__FILE__) + '/sinatra/lib'
  require 'rubygems'
  require 'sinatra'

  get '/about' do
    "A k&ouml;vetkez&#337; v&aacute;ltozatot futtatom " + Sinatra::VERSION
  end
</code></pre>

<p>A Sinatra friss&iacute;t&eacute;s&eacute;t k&eacute;s&#337;bb &iacute;gy v&eacute;gezheted el:</p>

<pre><code>  cd myproject/sinatra
  git pull
</code></pre>

<a name='Tov&aacute;bbi%20inform&aacute;ci&oacute;k'></a>
<h2>Tov&aacute;bbi inform&aacute;ci&oacute;k</h2>

<ul>
<li>
<a href="http://sinatra.github.com/">A projekt weboldala</a> - Kieg&eacute;sz&iacute;t&#337; dokument&aacute;ci&oacute;,
h&iacute;rek, hasznos linkek</li>
<li>
<a href="http://sinatra.github.com/contributing.html">K&ouml;zrem&#369;k&ouml;d&eacute;s</a> - Hib&aacute;t tal&aacute;lt&aacute;l?
Seg&iacute;ts&eacute;gre van sz&uuml;ks&eacute;ged? Foltot k&uuml;lden&eacute;l be?</li>
<li>
<a href="http://sinatra.lighthouseapp.com">Lighthouse</a> - Hibak&ouml;vet&eacute;s &eacute;s kiad&aacute;sok</li>
<li><a href="http://twitter.com/sinatra">Twitter</a></li>
<li><a href="http://groups.google.com/group/sinatrarb">Levelez&#337;lista</a></li>
<li>
<a href="irc://chat.freenode.net/#sinatra">IRC: #sinatra</a> a http://freenode.net c&iacute;men</li>
</ul>
</body></html>
