
<p>NOTE: This feature is experimental, and missing tests!</p>

<p>Helps you spinning up and shutting down your own sinatra app. This is
especially helpful for running real network tests against a sinatra
backend.</p>

<p>The backend server could look like the following (in test/server.rb).</p>

<pre>require &quot;sinatra&quot;

get &quot;/&quot; do
  &quot;Cheers from test server&quot;
end

get &quot;/ping&quot; do
  &quot;1&quot;
end</pre>

<p>Note that you need to implement a ping action for internal use.</p>

<p>Next, you need to write your runner.</p>

<pre>require &#39;sinatra/runner&#39;

class Runner &lt; Sinatra::Runner
  def app_file
    File.expand_path(&quot;../server.rb&quot;, __FILE__)
  end
end</pre>

<p>Override Runner#app_file, #command, #port, #protocol and #ping_path for
customization.</p>

<p>**Don&#39;t forget to override #app_file specific to your application!**</p>

<p>Whereever you need this test backend, here&#39;s how you manage it. The
following example assumes you have a test in your app that needs to be run
against your test backend.</p>

<pre>runner = ServerRunner.new
runner.run

# ..tests against localhost:4567 here..

runner.kill</pre>

<p>For an example, check <a
href="https://github.com/apotonick/roar/blob/master/test/integration/runner.rb">github.com/apotonick/roar/blob/master/test/integration/runner.rb</a></p>
