
<h1 id="label-Sinatra%3A%3ACustomLogger">Sinatra::CustomLogger</h1>

<p>CustomLogger extension allows you to define your own logger instance using
<code>logger</code> setting. That logger then will be available as #logger
helper method in your routes and views.</p>

<h2 id="label-Usage">Usage</h2>

<h3 id="label-Classic+Application">Classic Application</h3>

<p>To define your custom logger instance in a classic application:</p>

<pre class="ruby"><span class="ruby-identifier">require</span> <span class="ruby-string">&#39;sinatra&#39;</span>
<span class="ruby-identifier">require</span> <span class="ruby-string">&#39;sinatra/custom_logger&#39;</span>
<span class="ruby-identifier">require</span> <span class="ruby-string">&#39;logger&#39;</span>

<span class="ruby-identifier">set</span> :<span class="ruby-identifier">logger</span>, <span class="ruby-constant">Logger</span>.<span class="ruby-identifier">new</span>(<span class="ruby-constant">STDOUT</span>)

<span class="ruby-identifier">get</span> <span class="ruby-string">&#39;/&#39;</span> <span class="ruby-keyword">do</span>
  <span class="ruby-identifier">logger</span>.<span class="ruby-identifier">info</span> <span class="ruby-string">&#39;Some message&#39;</span> <span class="ruby-comment"># STDOUT logger is used</span>
  <span class="ruby-comment"># Other code...</span>
<span class="ruby-keyword">end</span>
</pre>

<h3 id="label-Modular+Application">Modular Application</h3>

<p>The same for modular application:</p>

<pre class="ruby"><span class="ruby-identifier">require</span> <span class="ruby-string">&#39;sinatra/base&#39;</span>
<span class="ruby-identifier">require</span> <span class="ruby-string">&#39;sinatra/custom_logger&#39;</span>
<span class="ruby-identifier">require</span> <span class="ruby-string">&#39;logger&#39;</span>

<span class="ruby-keyword">class</span> <span class="ruby-constant">MyApp</span> <span class="ruby-operator">&lt;</span> <span class="ruby-constant">Sinatra</span><span class="ruby-operator">::</span><span class="ruby-constant">Base</span>
  <span class="ruby-identifier">helpers</span> <span class="ruby-constant">Sinatra</span><span class="ruby-operator">::</span><span class="ruby-constant">CustomLogger</span>

  <span class="ruby-identifier">configure</span> :<span class="ruby-identifier">development</span>, :<span class="ruby-identifier">production</span> <span class="ruby-keyword">do</span>
    <span class="ruby-identifier">logger</span> = <span class="ruby-constant">Logger</span>.<span class="ruby-identifier">new</span>(<span class="ruby-constant">File</span>.<span class="ruby-identifier">open</span>(<span class="ruby-node">&quot;#{root}/log/#{environment}.log&quot;</span>, <span class="ruby-string">&#39;a&#39;</span>))
    <span class="ruby-identifier">logger</span>.<span class="ruby-identifier">level</span> = <span class="ruby-constant">Logger</span><span class="ruby-operator">::</span><span class="ruby-constant">DEBUG</span> <span class="ruby-keyword">if</span> <span class="ruby-identifier">development?</span>
    <span class="ruby-identifier">set</span> :<span class="ruby-identifier">logger</span>, <span class="ruby-identifier">logger</span>
  <span class="ruby-keyword">end</span>

  <span class="ruby-identifier">get</span> <span class="ruby-string">&#39;/&#39;</span> <span class="ruby-keyword">do</span>
    <span class="ruby-identifier">logger</span>.<span class="ruby-identifier">info</span> <span class="ruby-string">&#39;Some message&#39;</span> <span class="ruby-comment"># File-based logger is used</span>
    <span class="ruby-comment"># Other code...</span>
  <span class="ruby-keyword">end</span>
<span class="ruby-keyword">end</span>
</pre>
