
<h1 id="label-Sinatra%3A%3AMultiRoute">Sinatra::MultiRoute<span><a href="#label-Sinatra%3A%3AMultiRoute">&para;</a> <a href="#documentation">&uarr;</a></span></h1>

<p>Create multiple routes with one statement.</p>

<h2 id="label-Usage">Usage<span><a href="#label-Usage">&para;</a> <a href="#documentation">&uarr;</a></span></h2>

<p>Use this extension to create a handler for multiple routes:</p>

<pre>get &#39;/foo&#39;, &#39;/bar&#39; do
  # ...
end</pre>

<p>Or for multiple verbs:</p>

<pre>route :get, :post, &#39;/&#39; do
  # ...
end</pre>

<p>Or even for custom verbs:</p>

<pre>route &#39;LIST&#39;, &#39;/&#39; do
  # ...
end</pre>

<h3 id="label-Classic+Application">Classic Application<span><a href="#label-Classic+Application">&para;</a> <a href="#documentation">&uarr;</a></span></h3>

<p>To use the extension in a classic application all you need to do is require
it:</p>

<pre class="ruby"><span class="ruby-identifier">require</span> <span class="ruby-string">&quot;sinatra&quot;</span>
<span class="ruby-identifier">require</span> <span class="ruby-string">&quot;sinatra/multi_route&quot;</span>

<span class="ruby-comment"># Your classic application code goes here...</span>
</pre>

<h3 id="label-Modular+Application">Modular Application<span><a href="#label-Modular+Application">&para;</a> <a href="#documentation">&uarr;</a></span></h3>

<p>To use the extension in a modular application you need to require it, and
then, tell the application you will use it:</p>

<pre class="ruby"><span class="ruby-identifier">require</span> <span class="ruby-string">&quot;sinatra/base&quot;</span>
<span class="ruby-identifier">require</span> <span class="ruby-string">&quot;sinatra/multi_route&quot;</span>

<span class="ruby-keyword">class</span> <span class="ruby-constant">MyApp</span> <span class="ruby-operator">&lt;</span> <span class="ruby-constant">Sinatra</span><span class="ruby-operator">::</span><span class="ruby-constant">Base</span>
  <span class="ruby-identifier">register</span> <span class="ruby-constant">Sinatra</span><span class="ruby-operator">::</span><span class="ruby-constant">MultiRoute</span>

  <span class="ruby-comment"># The rest of your modular application code goes here...</span>
<span class="ruby-keyword">end</span>
</pre>
