
<h1 id="label-Sinatra-3A-3ACapture">Sinatra::Capture<span><a href="#label-Sinatra-3A-3ACapture">&para;</a> <a href="#top">&uarr;</a></span></h1>

<p>Extension that enables blocks inside other extensions. It currently works for erb, slim and haml. Enables mixing of different template languages.</p>

<p>Example:</p>

<pre># in hello_world.erb

Say
&lt;% a = capture do %&gt;World&lt;% end %&gt;
Hello &lt;%= a %&gt;!

# in hello_world.slim

| Say
- a = capture do
  | World
|  Hello #{a}!

# in hello_world.haml

Say
- a = capture do
  World
  Hello #{a.strip}!</pre>

<p>You can also use nested blocks.</p>

<p>Example</p>

<pre># in hello_world.erb

Say
&lt;% a = capture do %&gt;
  &lt;% b = capture do %&gt;World&lt;% end %&gt;
    &lt;%= b %&gt;!
&lt;% end %&gt;
Hello &lt;%= a.strip %&gt;</pre>

<p>The main advantage of capture is mixing of different template engines.</p>

<p>Example</p>

<pre># in mix_me_up.slim

- two = capture do
  - erb &quot;&lt;%= 1 + 1 %&gt;&quot;
| 1 + 1 = #{two}</pre>

<h2 id="label-Usage">Usage<span><a href="#label-Usage">&para;</a> <a href="#top">&uarr;</a></span></h2>

<h3 id="label-Classic+Application">Classic Application<span><a href="#label-Classic+Application">&para;</a> <a href="#top">&uarr;</a></span></h3>

<p>In a classic application simply require the helpers, and start using them:</p>

<pre class="ruby"><span class="ruby-identifier">require</span> <span class="ruby-string">&quot;sinatra&quot;</span>
<span class="ruby-identifier">require</span> <span class="ruby-string">&quot;sinatra/capture&quot;</span>

<span class="ruby-comment"># The rest of your classic application code goes here...</span>
</pre>

<h3 id="label-Modular+Application">Modular Application<span><a href="#label-Modular+Application">&para;</a> <a href="#top">&uarr;</a></span></h3>

<p>In a modular application you need to require the helpers, and then tell the application you will use them:</p>

<pre class="ruby"><span class="ruby-identifier">require</span> <span class="ruby-string">&quot;sinatra/base&quot;</span>
<span class="ruby-identifier">require</span> <span class="ruby-string">&quot;sinatra/capture&quot;</span>

<span class="ruby-keyword">class</span> <span class="ruby-constant">MyApp</span> <span class="ruby-operator">&lt;</span> <span class="ruby-constant">Sinatra</span><span class="ruby-operator">::</span><span class="ruby-constant">Base</span>
  <span class="ruby-identifier">helpers</span> <span class="ruby-constant">Sinatra</span><span class="ruby-operator">::</span><span class="ruby-constant">Capture</span>

  <span class="ruby-comment"># The rest of your modular application code goes here...</span>
<span class="ruby-keyword">end</span>
</pre>
