
<h1>Sinatra::Namespace</h1>

<p><tt>Sinatra::Namespace</tt> is an extension that adds namespaces to an
application.  This namespaces will allow you to share a path prefix for the
routes within the namespace, and define filters, conditions and error
handlers exclusively for them.  Besides that, you can also register helpers
and extensions that will be used only within the namespace.</p>

<h2>Usage</h2>

<p>Once you have loaded the extension (see below), you can use the
<tt>namespace</tt> method to define namespaces in your application.</p>

<p>You can define a namespace by a path prefix:</p>

<pre>namespace &#39;/blog&#39; do
  get { haml :blog }
  get &#39;/:entry_permalink&#39; do
    @entry = Entry.find_by_permalink!(params[:entry_permalink])
    haml :entry
  end

  # More blog routes...
end</pre>

<p>by a condition:</p>

<pre>namespace :host_name =&gt; &#39;localhost&#39; do
  get(&#39;/admin/dashboard&#39;) { haml :dashboard }
  get(&#39;/admin/login&#39;)     { haml :login }

  # More admin routes...
end</pre>

<p>or both:</p>

<pre>namespace &#39;/admin&#39;, :host_name =&gt; &#39;localhost&#39; do
  get(&#39;/dashboard&#39;)  { haml :dashboard }
  get(&#39;/login&#39;)      { haml :login }
  post(&#39;/login&#39;)     { login_user }

  # More admin routes...
end</pre>

<p>Regex is also accepted:</p>

<pre>namespace /\/posts\/([^\/&amp;?]+)\// do
  get { haml :blog }

  # More blog routes...
end</pre>

<p>When you define a filter or an error handler, or register an extension or a
set of helpers within a namespace, they only affect the routes defined in
it.  For instance, lets define a before filter to prevent the access of
unauthorized users to the admin section of the application:</p>

<pre>namespace &#39;/admin&#39; do
  helpers AdminHelpers
  before  { authenticate unless request.path_info == &#39;/admin/login&#39; }

  get &#39;/dashboard&#39; do
    # Only authenticated users can access here...
    haml :dashboard
  end

  # More admin routes...
end

get &#39;/&#39; do
  # Any user can access here...
  haml :index
end</pre>

<p>Well, they actually also affect the nested namespaces:</p>

<pre>namespace &#39;/admin&#39; do
  helpers AdminHelpers
  before  { authenticate unless request.path_info == &#39;/admin/login&#39; }

  namespace &#39;/users&#39; do
    get do
      # Only authenticated users can access here...
      @users = User.all
      haml :users
    end

    # More user admin routes...
  end

  # More admin routes...
end</pre>

<p>Redirecting within the namespace can be done using redirect_to:</p>

<pre>namespace &#39;/admin&#39; do
  get &#39;/foo&#39;  do
    redirect_to &#39;/bar&#39; # Redirects to /admin/bar
  end

  get &#39;/foo&#39; do
    redirect &#39;/bar&#39; # Redirects to /bar
  end
end</pre>

<h3>Classic Application Setup</h3>

<p>To be able to use namespaces in a classic application all you need to do is
require the extension:</p>

<pre>require &quot;sinatra&quot;
require &quot;sinatra/namespace&quot;

namespace &#39;/users&#39; do
end</pre>

<h3>Modular Application Setup</h3>

<p>To be able to use namespaces in a modular application all you need to do is
require the extension, and then, register it:</p>

<pre>require &quot;sinatra/base&quot;
require &quot;sinatra/namespace&quot;

class MyApp &lt; Sinatra::Base
  register Sinatra::Namespace

  namespace &#39;/users&#39; do
  end
end</pre>

<h3>Within an extension</h3>

<p>To be able to use namespaces within an extension, you need to first create
an extension. This includes defining the `registered(app)` method in the
module.</p>

<pre>require &#39;sinatra/base&#39; # For creating Sinatra extensions
require &#39;sinatra/namespace&#39; # To create namespaces

module Zomg # Keep everything under &quot;Zomg&quot; namespace for sanity
  module Routes # Define a new &quot;Routes&quot; module

    self.registered(app)
      # First, register the Namespace extension
      app.register Sinatra::Namespace

      # This defines an `/api` namespace on the application
      app.namespace &#39;/api&#39; do
        get &#39;/users&#39; do
          # do something with `GET &quot;/api/users&quot;`
        end
      end

    end
  end

  # Lastly, register the extension to use in our app
  Sinatra.register Routes
end</pre>

<p>In order to use this extension, is the same as any other Sinatra extension:</p>

<pre>module Zomg
  # Define our app class, we use modular app for this example
  class App &lt; Sinatra::Base
    # this gives us all the namespaces we defined earlier
    register Routes

    get &#39;/&#39; do
      &quot;Welcome to my application!&quot;
    end
  end
end

Zomg::App.run! # Don&#39;t forget to start your app ;)</pre>

<p>Phew! That was a mouthful.</p>

<p>I hope that helps you use `Sinatra::Namespace` in every way imaginable!</p>
