
<h1 id="label-Sinatra%3A%3ALinkHeader">Sinatra::LinkHeader<span><a href="#label-Sinatra%3A%3ALinkHeader">&para;</a> <a href="#documentation">&uarr;</a></span></h1>

<p><code>Sinatra::LinkHeader</code> adds a set of helper methods to generate
link HTML tags and their corresponding Link HTTP headers.</p>

<h2 id="label-Usage">Usage<span><a href="#label-Usage">&para;</a> <a href="#documentation">&uarr;</a></span></h2>

<p>Once you had set up the helpers in your application (see below), you will
be able to call the following methods from inside your route handlers,
filters and templates:</p>
<dl class="rdoc-list note-list"><dt><code>prefetch</code>
<dd>
<p>Sets the Link HTTP headers and returns HTML tags to prefetch the given
resources.</p>
</dd><dt><code>stylesheet</code>
<dd>
<p>Sets the Link HTTP headers and returns HTML tags to use the given
stylesheets.</p>
</dd><dt><code>link</code>
<dd>
<p>Sets the Link HTTP headers and returns the corresponding HTML tags for the
given resources.</p>
</dd><dt><code>link_headers</code>
<dd>
<p>Returns the corresponding HTML tags for the current Link HTTP headers.</p>
</dd></dl>

<h3 id="label-Classic+Application">Classic Application<span><a href="#label-Classic+Application">&para;</a> <a href="#documentation">&uarr;</a></span></h3>

<p>In a classic application simply require the helpers, and start using them:</p>

<pre class="ruby"><span class="ruby-identifier">require</span> <span class="ruby-string">&quot;sinatra&quot;</span>
<span class="ruby-identifier">require</span> <span class="ruby-string">&quot;sinatra/link_header&quot;</span>

<span class="ruby-comment"># The rest of your classic application code goes here...</span>
</pre>

<h3 id="label-Modular+Application">Modular Application<span><a href="#label-Modular+Application">&para;</a> <a href="#documentation">&uarr;</a></span></h3>

<p>In a modular application you need to require the helpers, and then tell the
application you will use them:</p>

<pre class="ruby"><span class="ruby-identifier">require</span> <span class="ruby-string">&quot;sinatra/base&quot;</span>
<span class="ruby-identifier">require</span> <span class="ruby-string">&quot;sinatra/link_header&quot;</span>

<span class="ruby-keyword">class</span> <span class="ruby-constant">MyApp</span> <span class="ruby-operator">&lt;</span> <span class="ruby-constant">Sinatra</span><span class="ruby-operator">::</span><span class="ruby-constant">Base</span>
  <span class="ruby-identifier">helpers</span> <span class="ruby-constant">Sinatra</span><span class="ruby-operator">::</span><span class="ruby-constant">LinkHeader</span>

  <span class="ruby-comment"># The rest of your modular application code goes here...</span>
<span class="ruby-keyword">end</span>
</pre>
