<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body>

<p>Collection of common Sinatra extensions, semi-officially supported.</p>

<h2>Goals</h2>



<h2>Included extensions</h2>

<h3>Common Extensions</h3>

<p>These are common extension which will not add significant overhead or change any
behavior of already existing APIs. They do not add any dependencies not already
installed with this gem.</p>

<p>Currently included:</p>

<ul>
  <li>
    <p><code>sinatra/capture</code>: Let’s you capture the content of blocks in templates.</p>
  </li>
  <li>
    <p><code>sinatra/config_file</code>: Allows loading configuration from yaml files.</p>
  </li>
  <li>
    <p><code>sinatra/content_for</code>: Adds Rails-style <code>content_for</code> helpers to Haml, Erb,
Erubis and Slim.</p>
  </li>
  <li>
    <p><code>sinatra/cookies</code>: A <code>cookies</code> helper for reading and writing cookies.</p>
  </li>
  <li>
    <p><code>sinatra/engine_tracking</code>: Adds methods like <code>haml?</code> that allow helper
methods to check whether they are called from within a template.</p>
  </li>
  <li>
    <p><code>sinatra/json</code>: Adds a <code>#json</code> helper method to return JSON documents.</p>
  </li>
  <li>
    <p><code>sinatra/link_header</code>: Helpers for generating <code>link</code> HTML tags and
corresponding <code>Link</code> HTTP headers. Adds <code>link</code>, <code>stylesheet</code> and <code>prefetch</code>
helper methods.</p>
  </li>
  <li>
    <p><code>sinatra/multi_route</code>: Adds ability to define one route block for multiple
routes and multiple or custom HTTP verbs.</p>
  </li>
  <li>
    <p><code>sinatra/namespace</code>: Adds namespace support to Sinatra.</p>
  </li>
  <li>
    <p><code>sinatra/respond_with</code>: Choose action and/or template automatically
depending on the incoming request. Adds helpers <code>respond_to</code> and
<code>respond_with</code>.</p>
  </li>
  <li>
    <p><code>sinatra/custom_logger</code>: This extension allows you to define your own
logger instance using +logger+ setting. That logger then will
be available as #logger helper method in your routes and views.</p>
  </li>
  <li>
    <p><code>sinatra/required_params</code>: Ensure if required query parameters exist</p>
  </li>
</ul>

<h3>Custom Extensions</h3>

<p>These extensions may add additional dependencies and enhance the behavior of the
existing APIs.</p>

<p>Currently included:</p>

<ul>
  <li>
<code>sinatra/reloader</code>: Automatically reloads Ruby files on code changes.</li>
</ul>

<h3>Other Tools</h3>

<ul>
  <li>
    <p><code>sinatra/extension</code>: Mixin for writing your own Sinatra extensions.</p>
  </li>
  <li>
    <p><code>sinatra/test_helpers</code>: Helper methods to ease testing your Sinatra
application. Partly extracted from Sinatra. Testing framework agnostic</p>
  </li>
</ul>

<h2>Installation</h2>

<p>Add <code>gem 'sinatra-contrib'</code> to <em>Gemfile</em>, then execute <code>bundle install</code>.</p>

<p>If you don’t use Bundler, install the gem manually by executing <code>gem install sinatra-contrib</code> in your command line.</p>

<h3>Git</h3>

<p>If you want to use the gem from git, for whatever reason, you can do the following:</p>

<pre><code class="language-ruby">github 'sinatra/sinatra' do
  gem 'sinatra-contrib'
end
</code></pre>

<p>Within this block you can also specify other gems from this git repository.</p>

<h2>Usage</h2>

<h3>Classic Style</h3>

<p>A single extension (example: sinatra-content-for):</p>

<pre><code class="language-ruby">require 'sinatra'
require 'sinatra/content_for'
</code></pre>

<p>Common extensions:</p>

<pre><code class="language-ruby">require 'sinatra'
require 'sinatra/contrib'
</code></pre>

<p>All extensions:</p>

<pre><code class="language-ruby">require 'sinatra'
require 'sinatra/contrib/all'
</code></pre>

<h3>Modular Style</h3>

<p>A single extension (example: sinatra-content-for):</p>

<pre><code class="language-ruby">require 'sinatra/base'
require 'sinatra/content_for'
require 'sinatra/namespace'

class MyApp &lt; Sinatra::Base
  # Note: Some modules are extensions, some helpers, see the specific
  # documentation or the source
  helpers Sinatra::ContentFor
  register Sinatra::Namespace
end
</code></pre>

<p>Common extensions:</p>

<pre><code class="language-ruby">require 'sinatra/base'
require 'sinatra/contrib'

class MyApp &lt; Sinatra::Base
  register Sinatra::Contrib
end
</code></pre>

<p>All extensions:</p>

<pre><code class="language-ruby">require 'sinatra/base'
require 'sinatra/contrib/all'

class MyApp &lt; Sinatra::Base
  register Sinatra::Contrib
end
</code></pre>

<h3>Documentation</h3>

<p>For more info check the <a href="http://www.sinatrarb.com/contrib/">official docs</a> and
<a href="http://www.rubydoc.info/gems/sinatra-contrib">api docs</a>.</p>
</body></html>
