
<h1>Sinatra::Cookies</h1>

<p>Easy way to deal with cookies</p>

<h2>Usage</h2>

<p>Allows you to read cookies:</p>

<pre>get &#39;/&#39; do
  &quot;value: #{cookies[:something]}&quot;
end</pre>

<p>And of course to write cookies:</p>

<pre>get &#39;/set&#39; do
  cookies[:something] = &#39;foobar&#39;
  redirect to(&#39;/&#39;)
end</pre>

<p>And generally behaves like a hash:</p>

<pre>get &#39;/demo&#39; do
  cookies.merge! &#39;foo&#39; =&gt; &#39;bar&#39;, &#39;bar&#39; =&gt; &#39;baz&#39;
  cookies.keep_if { |key, value| key.start_with? &#39;b&#39; }
  foo, bar = cookies.values_at &#39;foo&#39;, &#39;bar&#39;
  &quot;size: #{cookies.length}&quot;
end</pre>

<h3>Classic Application</h3>

<p>In a classic application simply require the helpers, and start using them:</p>

<pre>require &quot;sinatra&quot;
require &quot;sinatra/cookies&quot;

# The rest of your classic application code goes here...</pre>

<h3>Modular Application</h3>

<p>In a modular application you need to require the helpers, and then tell the
application to use them:</p>

<pre>require &quot;sinatra/base&quot;
require &quot;sinatra/cookies&quot;

class MyApp &lt; Sinatra::Base
  helpers Sinatra::Cookies

  # The rest of your modular application code goes here...
end</pre>
