
<h1 id="label-Sinatra%3A%3ANamespace">Sinatra::Namespace<span><a href="#label-Sinatra%3A%3ANamespace">&para;</a> <a href="#documentation">&uarr;</a></span></h1>

<p><code>Sinatra::Namespace</code> is an extension that adds namespaces to an
application.  This namespaces will allow you to share a path prefix for the
routes within the namespace, and define filters, conditions and error
handlers exclusively for them.  Besides that, you can also register helpers
and extensions that will be used only within the namespace.</p>

<h2 id="label-Usage">Usage<span><a href="#label-Usage">&para;</a> <a href="#documentation">&uarr;</a></span></h2>

<p>Once you have loaded the extension (see below), you use the
<code>namespace</code> method to define namespaces in your application.</p>

<p>You can define a namespace by a path prefix:</p>

<pre>namespace &#39;/blog&#39; do
  get { haml :blog }
  get &#39;/:entry_permalink&#39; do
    @entry = Entry.find_by_permalink!(params[:entry_permalink])
    haml :entry
  end

  # More blog routes...
end</pre>

<p>by a condition:</p>

<pre class="ruby"><span class="ruby-identifier">namespace</span> :<span class="ruby-identifier">host_name</span> =<span class="ruby-operator">&gt;</span> <span class="ruby-string">&#39;localhost&#39;</span> <span class="ruby-keyword">do</span>
  <span class="ruby-identifier">get</span>(<span class="ruby-string">&#39;/admin/dashboard&#39;</span>) { <span class="ruby-identifier">haml</span> :<span class="ruby-identifier">dashboard</span> }
  <span class="ruby-identifier">get</span>(<span class="ruby-string">&#39;/admin/login&#39;</span>)     { <span class="ruby-identifier">haml</span> :<span class="ruby-identifier">login</span> }

  <span class="ruby-comment"># More admin routes...</span>
<span class="ruby-keyword">end</span>
</pre>

<p>or both:</p>

<pre class="ruby"><span class="ruby-identifier">namespace</span> <span class="ruby-string">&#39;/admin&#39;</span>, :<span class="ruby-identifier">host_name</span> =<span class="ruby-operator">&gt;</span> <span class="ruby-string">&#39;localhost&#39;</span> <span class="ruby-keyword">do</span>
  <span class="ruby-identifier">get</span>(<span class="ruby-string">&#39;/dashboard&#39;</span>)  { <span class="ruby-identifier">haml</span> :<span class="ruby-identifier">dashboard</span> }
  <span class="ruby-identifier">get</span>(<span class="ruby-string">&#39;/login&#39;</span>)      { <span class="ruby-identifier">haml</span> :<span class="ruby-identifier">login</span> }
  <span class="ruby-identifier">post</span>(<span class="ruby-string">&#39;/login&#39;</span>)     { <span class="ruby-identifier">login_user</span> }

  <span class="ruby-comment"># More admin routes...</span>
<span class="ruby-keyword">end</span>
</pre>

<p>When you define a filter or an error handler, or register an extension or a
set of helpers within a namespace, they only affect the routes defined in
it.  For instance, lets define a before filter to prevent the access of
unauthorized users to the admin section of the application:</p>

<pre>namespace &#39;/admin&#39; do
  helpers AdminHelpers
  before  { authenticate unless request.path_info == &#39;/admin/login&#39; }

  get &#39;/dashboard&#39; do
    # Only authenticated users can access here...
    haml :dashboard
  end

  # More admin routes...
end

get &#39;/&#39; do
  # Any user can access here...
  haml :index
end</pre>

<p>Well, they actually also affect the nested namespaces:</p>

<pre>namespace &#39;/admin&#39; do
  helpers AdminHelpers
  before  { authenticate unless request.path_info == &#39;/admin/login&#39; }

  namespace &#39;/users&#39; do
    get do
      # Only authenticated users can access here...
      @users = User.all
      haml :users
    end

    # More user admin routes...
  end

  # More admin routes...
end</pre>

<h3 id="label-Classic+Application+Setup">Classic Application Setup<span><a href="#label-Classic+Application+Setup">&para;</a> <a href="#documentation">&uarr;</a></span></h3>

<p>To be able to use namespaces in a classic application all you need to do is
require the extension:</p>

<pre class="ruby"><span class="ruby-identifier">require</span> <span class="ruby-string">&quot;sinatra&quot;</span>
<span class="ruby-identifier">require</span> <span class="ruby-string">&quot;sinatra/namespace&quot;</span>

<span class="ruby-comment"># The rest of your classic application code goes here...</span>
</pre>

<h3 id="label-Modular+Application+Setup">Modular Application Setup<span><a href="#label-Modular+Application+Setup">&para;</a> <a href="#documentation">&uarr;</a></span></h3>

<p>To be able to use namespaces in a modular application all you need to do is
require the extension, and then, register it:</p>

<pre class="ruby"><span class="ruby-identifier">require</span> <span class="ruby-string">&quot;sinatra/base&quot;</span>
<span class="ruby-identifier">require</span> <span class="ruby-string">&quot;sinatra/namespace&quot;</span>

<span class="ruby-keyword">class</span> <span class="ruby-constant">MyApp</span> <span class="ruby-operator">&lt;</span> <span class="ruby-constant">Sinatra</span><span class="ruby-operator">::</span><span class="ruby-constant">Base</span>
  <span class="ruby-identifier">register</span> <span class="ruby-constant">Sinatra</span><span class="ruby-operator">::</span><span class="ruby-constant">Namespace</span>

  <span class="ruby-comment"># The rest of your modular application code goes here...</span>
<span class="ruby-keyword">end</span>
</pre>
