



<h2 id="goals">Goals</h2>

<ul>
  <li>For every future Sinatra release, have at least one fully compatible release</li>
  <li>High code quality, high test coverage</li>
  <li>Include plugins people usually ask for a lot</li>
</ul>

<h2 id="included-extensions">Included extensions</h2>

<h3 id="common-extensions">Common Extensions</h3>

<p>These are common extension which will not add significant overhead or change any
behavior of already existing APIs. They do not add any dependencies not already
installed with this gem.</p>

<p>Currently included:</p>

<ul>
  <li>
    <p><a href="https://www.sinatrarb.com/contrib/capture"><code>sinatra/capture</code></a>: Let’s you capture the content of blocks in templates.</p>
  </li>
  <li>
    <p><a href="https://www.sinatrarb.com/contrib/config_file"><code>sinatra/config_file</code></a>: Allows loading configuration from yaml files.</p>
  </li>
  <li>
    <p><a href="https://www.sinatrarb.com/contrib/content_for"><code>sinatra/content_for</code></a>: Adds Rails-style <code>content_for</code> helpers to Haml, Erb, Erubi
and Slim.</p>
  </li>
  <li>
    <p><a href="https://www.sinatrarb.com/contrib/cookies"><code>sinatra/cookies</code></a>: A <code>cookies</code> helper for reading and writing cookies.</p>
  </li>
  <li>
    <p><a href="https://github.com/sinatra/sinatra/blob/main/sinatra-contrib/lib/sinatra/engine_tracking.rb"><code>sinatra/engine_tracking</code></a>: Adds methods like <code>haml?</code> that allow helper
methods to check whether they are called from within a template.</p>
  </li>
  <li>
    <p><a href="https://www.sinatrarb.com/contrib/json"><code>sinatra/json</code></a>: Adds a <code>#json</code> helper method to return JSON documents.</p>
  </li>
  <li>
    <p><a href="https://www.sinatrarb.com/contrib/link_header"><code>sinatra/link_header</code></a>: Helpers for generating <code>link</code> HTML tags and
corresponding <code>Link</code> HTTP headers. Adds <code>link</code>, <code>stylesheet</code> and <code>prefetch</code>
helper methods.</p>
  </li>
  <li>
    <p><a href="https://www.sinatrarb.com/contrib/multi_route"><code>sinatra/multi_route</code></a>: Adds ability to define one route block for multiple
routes and multiple or custom HTTP verbs.</p>
  </li>
  <li>
    <p><a href="https://www.sinatrarb.com/contrib/namespace"><code>sinatra/namespace</code></a>: Adds namespace support to Sinatra.</p>
  </li>
  <li>
    <p><a href="https://www.sinatrarb.com/contrib/respond_with"><code>sinatra/respond_with</code></a>: Choose action and/or template automatically
depending on the incoming request. Adds helpers <code>respond_to</code> and
<code>respond_with</code>.</p>
  </li>
  <li>
    <p><a href="https://www.sinatrarb.com/contrib/custom_logger"><code>sinatra/custom_logger</code></a>: This extension allows you to define your own
logger instance using +logger+ setting. That logger then will
be available as #logger helper method in your routes and views.</p>
  </li>
  <li>
    <p><a href="https://www.sinatrarb.com/contrib/required_params"><code>sinatra/required_params</code></a>: Ensure if required query parameters exist</p>
  </li>
</ul>

<h3 id="custom-extensions">Custom Extensions</h3>

<p>These extensions may add additional dependencies and enhance the behavior of the
existing APIs.</p>

<p>Currently included:</p>

<ul>
  <li>
<a href="https://www.sinatrarb.com/contrib/reloader"><code>sinatra/reloader</code></a>: Automatically reloads Ruby files on code changes. <strong>DEPRECATED</strong>: Please consider
consider using an alternative like <a href="https://github.com/alexch/rerun">rerun</a> or
<a href="https://github.com/jeremyevans/rack-unreloader">rack-unreloader</a> instead.</li>
</ul>

<h3 id="other-tools">Other Tools</h3>

<ul>
  <li>
    <p><a href="https://www.sinatrarb.com/contrib/extension"><code>sinatra/extension</code></a>: Mixin for writing your own Sinatra extensions.</p>
  </li>
  <li>
    <p><a href="https://github.com/sinatra/sinatra/blob/main/sinatra-contrib/lib/sinatra/test_helpers.rb"><code>sinatra/test_helpers</code></a>: Helper methods to ease testing your Sinatra
application. Partly extracted from Sinatra. Testing framework agnostic</p>
  </li>
  <li>
    <p><code>sinatra/quiet_logger</code>: Extension to exclude specific pathes from access log.
It works by patching Rack::CommonLogger</p>
  </li>
</ul>

<h2 id="installation">Installation</h2>

<p>Add <code>gem 'sinatra-contrib'</code> to <em>Gemfile</em>, then execute <code>bundle install</code>.</p>

<p>If you don’t use Bundler, install the gem manually by executing <code>gem install sinatra-contrib</code> in your command line.</p>

<h3 id="git">Git</h3>

<p>If you want to use the gem from git, for whatever reason, you can do the following:</p>

<div class="language-ruby highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="n">github</span> <span class="s1">'sinatra/sinatra'</span> <span class="k">do</span>
  <span class="n">gem</span> <span class="s1">'sinatra-contrib'</span>
<span class="k">end</span>
</code></pre></div></div>

<p>Within this block you can also specify other gems from this git repository.</p>

<h2 id="usage">Usage</h2>

<h3 id="classic-style">Classic Style</h3>

<p>A single extension (example: sinatra-content-for):</p>

<div class="language-ruby highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nb">require</span> <span class="s1">'sinatra'</span>
<span class="nb">require</span> <span class="s1">'sinatra/content_for'</span>
</code></pre></div></div>

<p>Common extensions:</p>

<div class="language-ruby highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nb">require</span> <span class="s1">'sinatra'</span>
<span class="nb">require</span> <span class="s1">'sinatra/contrib'</span>
</code></pre></div></div>

<p>All extensions:</p>

<div class="language-ruby highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nb">require</span> <span class="s1">'sinatra'</span>
<span class="nb">require</span> <span class="s1">'sinatra/contrib/all'</span>
</code></pre></div></div>

<h3 id="modular-style">Modular Style</h3>

<p>A single extension (example: sinatra-content-for):</p>

<div class="language-ruby highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nb">require</span> <span class="s1">'sinatra/base'</span>
<span class="nb">require</span> <span class="s1">'sinatra/content_for'</span>
<span class="nb">require</span> <span class="s1">'sinatra/namespace'</span>

<span class="k">class</span> <span class="nc">MyApp</span> <span class="o">&lt;</span> <span class="no">Sinatra</span><span class="o">::</span><span class="no">Base</span>
  <span class="c1"># Note: Some modules are extensions, some helpers, see the specific</span>
  <span class="c1"># documentation or the source</span>
  <span class="n">helpers</span> <span class="no">Sinatra</span><span class="o">::</span><span class="no">ContentFor</span>
  <span class="n">register</span> <span class="no">Sinatra</span><span class="o">::</span><span class="no">Namespace</span>
<span class="k">end</span>
</code></pre></div></div>

<p>Common extensions:</p>

<div class="language-ruby highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nb">require</span> <span class="s1">'sinatra/base'</span>
<span class="nb">require</span> <span class="s1">'sinatra/contrib'</span>

<span class="k">class</span> <span class="nc">MyApp</span> <span class="o">&lt;</span> <span class="no">Sinatra</span><span class="o">::</span><span class="no">Base</span>
  <span class="n">register</span> <span class="no">Sinatra</span><span class="o">::</span><span class="no">Contrib</span>
<span class="k">end</span>
</code></pre></div></div>

<p>All extensions:</p>

<div class="language-ruby highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nb">require</span> <span class="s1">'sinatra/base'</span>
<span class="nb">require</span> <span class="s1">'sinatra/contrib/all'</span>

<span class="k">class</span> <span class="nc">MyApp</span> <span class="o">&lt;</span> <span class="no">Sinatra</span><span class="o">::</span><span class="no">Base</span>
  <span class="n">register</span> <span class="no">Sinatra</span><span class="o">::</span><span class="no">Contrib</span>
<span class="k">end</span>
</code></pre></div></div>

<h3 id="documentation">Documentation</h3>

<p>For more info check the <a href="https://www.sinatrarb.com/contrib/">official docs</a> and
<a href="https://www.rubydoc.info/gems/sinatra-contrib">api docs</a>.</p>

