
<h1>Sinatra::RespondWith</h1>

<p>These extensions let Sinatra automatically choose what template to render
or action to perform depending on the request&#39;s Accept header.</p>

<p>Example:</p>

<pre># Without Sinatra::RespondWith
get &#39;/&#39; do
  data = { :name =&gt; &#39;example&#39; }
  request.accept.each do |type|
    case type.to_s
    when &#39;text/html&#39;
      halt haml(:index, :locals =&gt; data)
    when &#39;text/json&#39;
      halt data.to_json
    when &#39;application/atom+xml&#39;
      halt nokogiri(:&#39;index.atom&#39;, :locals =&gt; data)
    when &#39;application/xml&#39;, &#39;text/xml&#39;
      halt nokogiri(:&#39;index.xml&#39;, :locals =&gt; data)
    when &#39;text/plain&#39;
      halt &#39;just an example&#39;
    end
  end
  error 406
end

# With Sinatra::RespondWith
get &#39;/&#39; do
  respond_with :index, :name =&gt; &#39;example&#39; do |f|
    f.txt { &#39;just an example&#39; }
  end
end</pre>

<p>Both helper methods <tt>respond_to</tt> and <tt>respond_with</tt> let you
define custom handlers like the one above for <tt>text/plain</tt>.
<tt>respond_with</tt> additionally takes a template name and/or an object
to offer the following default behavior:</p>
<ul><li>
<p>If a template name is given, search for a template called
<tt>name.format.engine</tt> (<tt>index.xml.nokogiri</tt> in the above
example).</p>
</li><li>
<p>If a template name is given, search for a templated called
<tt>name.engine</tt> for engines known to result in the requested format
(<tt>index.haml</tt>).</p>
</li><li>
<p>If a file extension associated with the mime type is known to Sinatra, and
the object responds to <tt>to_extension</tt>, call that method and use the
result (<tt>data.to_json</tt>).</p>
</li></ul>

<h2>Security</h2>

<p>Since methods are triggered based on client input, this can lead to
security issues (but not as severe as those might appear in the first
place: keep in mind that only known file extensions are used). You should
limit the possible formats you serve.</p>

<p>This is possible with the <tt>provides</tt> condition:</p>

<pre>get &#39;/&#39;, :provides =&gt; [:html, :json, :xml, :atom] do
  respond_with :index, :name =&gt; &#39;example&#39;
end</pre>

<p>However, since you have to set <tt>provides</tt> for every route, this
extension adds an app global (class method) `respond_to`, that lets you
define content types for all routes:</p>

<pre>respond_to :html, :json, :xml, :atom
get(&#39;/a&#39;) { respond_with :index, :name =&gt; &#39;a&#39; }
get(&#39;/b&#39;) { respond_with :index, :name =&gt; &#39;b&#39; }</pre>

<h2>Custom Types</h2>

<p>Use the <tt>on</tt> method for defining actions for custom types:</p>

<pre>get &#39;/&#39; do
  respond_to do |f|
    f.xml { nokogiri :index }
    f.on(&#39;application/custom&#39;) { custom_action }
    f.on(&#39;text/*&#39;) { data.to_s }
    f.on(&#39;*/*&#39;) { &quot;matches everything&quot; }
  end
end</pre>

<p>Definition order does not matter.</p>
