



<h2>Goals</h2>

<ul>
  <li>For every future Sinatra release, have at least one fully compatible release</li>
  <li>High code quality, high test coverage</li>
  <li>Include plugins people usually ask for a lot</li>
</ul>

<h2>Included extensions</h2>

<h3>Common Extensions</h3>

<p>These are common extension which will not add significant overhead or change any
behavior of already existing APIs. They do not add any dependencies not already
installed with this gem.</p>

<p>Currently included:</p>

<ul>
  <li>
    <p><a href="/contrib/capture"><code>sinatra/capture</code></a>: Let’s you capture the content of blocks in templates.</p>
  </li>
  <li>
    <p><a href="/contrib/config_file"><code>sinatra/config_file</code></a>: Allows loading configuration from yaml files.</p>
  </li>
  <li>
    <p><a href="/contrib/content_for"><code>sinatra/content_for</code></a>: Adds Rails-style <code>content_for</code> helpers to Haml, Erb,
Erubis and Slim.</p>
  </li>
  <li>
    <p><a href="/contrib/cookies"><code>sinatra/cookies</code></a>: A <code>cookies</code> helper for reading and writing cookies.</p>
  </li>
  <li>
    <p><a href="/contrib/engine_tracking"><code>sinatra/engine_tracking</code></a>: Adds methods like <code>haml?</code> that allow helper
methods to check whether they are called from within a template.</p>
  </li>
  <li>
    <p><a href="/contrib/json"><code>sinatra/json</code></a>: Adds a <code>#json</code> helper method to return JSON documents.</p>
  </li>
  <li>
    <p><a href="/contrib/link_header"><code>sinatra/link_header</code></a>: Helpers for generating <code>link</code> HTML tags and
corresponding <code>Link</code> HTTP headers. Adds <code>link</code>, <code>stylesheet</code> and <code>prefetch</code>
helper methods.</p>
  </li>
  <li>
    <p><a href="/contrib/multi_route"><code>sinatra/multi_route</code></a>: Adds ability to define one route block for multiple
routes and multiple or custom HTTP verbs.</p>
  </li>
  <li>
    <p><a href="/contrib/namespace"><code>sinatra/namespace</code></a>: Adds namespace support to Sinatra.</p>
  </li>
  <li>
    <p><a href="/contrib/respond_with"><code>sinatra/respond_with</code></a>: Choose action and/or template automatically
depending on the incoming request. Adds helpers <code>respond_to</code> and
<code>respond_with</code>.</p>
  </li>
  <li>
    <p><a href="/contrib/custom_logger"><code>sinatra/custom_logger</code></a>: This extension allows you to define your own
logger instance using +logger+ setting. That logger then will
be available as #logger helper method in your routes and views.</p>
  </li>
  <li>
    <p><a href="/contrib/required_params"><code>sinatra/required_params</code></a>: Ensure if required query parameters exist</p>
  </li>
</ul>

<h3>Custom Extensions</h3>

<p>These extensions may add additional dependencies and enhance the behavior of the
existing APIs.</p>

<p>Currently included:</p>

<ul>
  <li>
<a href="/contrib/reloader"><code>sinatra/reloader</code></a>: Automatically reloads Ruby files on code changes.</li>
</ul>

<h3>Other Tools</h3>

<ul>
  <li>
    <p><a href="/contrib/extension"><code>sinatra/extension</code></a>: Mixin for writing your own Sinatra extensions.</p>
  </li>
  <li>
    <p><a href="/contrib/test_helpers"><code>sinatra/test_helpers</code></a>: Helper methods to ease testing your Sinatra
application. Partly extracted from Sinatra. Testing framework agnostic</p>
  </li>
</ul>

<h2>Installation</h2>

<p>Add <code>gem 'sinatra-contrib'</code> to <em>Gemfile</em>, then execute <code>bundle install</code>.</p>

<p>If you don’t use Bundler, install the gem manually by executing <code>gem install sinatra-contrib</code> in your command line.</p>

<h3>Git</h3>

<p>If you want to use the gem from git, for whatever reason, you can do the following:</p>

<pre><code class="language-ruby">github 'sinatra/sinatra' do
  gem 'sinatra-contrib'
end
</code></pre>

<p>Within this block you can also specify other gems from this git repository.</p>

<h2>Usage</h2>

<h3>Classic Style</h3>

<p>A single extension (example: sinatra-content-for):</p>

<pre><code class="language-ruby">require 'sinatra'
require 'sinatra/content_for'
</code></pre>

<p>Common extensions:</p>

<pre><code class="language-ruby">require 'sinatra'
require 'sinatra/contrib'
</code></pre>

<p>All extensions:</p>

<pre><code class="language-ruby">require 'sinatra'
require 'sinatra/contrib/all'
</code></pre>

<h3>Modular Style</h3>

<p>A single extension (example: sinatra-content-for):</p>

<pre><code class="language-ruby">require 'sinatra/base'
require 'sinatra/content_for'
require 'sinatra/namespace'

class MyApp &lt; Sinatra::Base
  # Note: Some modules are extensions, some helpers, see the specific
  # documentation or the source
  helpers Sinatra::ContentFor
  register Sinatra::Namespace
end
</code></pre>

<p>Common extensions:</p>

<pre><code class="language-ruby">require 'sinatra/base'
require 'sinatra/contrib'

class MyApp &lt; Sinatra::Base
  register Sinatra::Contrib
end
</code></pre>

<p>All extensions:</p>

<pre><code class="language-ruby">require 'sinatra/base'
require 'sinatra/contrib/all'

class MyApp &lt; Sinatra::Base
  register Sinatra::Contrib
end
</code></pre>

<h3>Documentation</h3>

<p>For more info check the <a href="http://www.sinatrarb.com/contrib/">official docs</a> and
<a href="http://www.rubydoc.info/gems/sinatra-contrib">api docs</a>.</p>

