
<h1>Sinatra::RequiredParams</h1>

<p>Ensure required query parameters</p>

<h2>Usage</h2>

<p>Set required query parameter keys in the argument. It&#39;ll halt with 400
if requried keys don&#39;t exist.</p>

<pre>get &#39;/simple_keys&#39; do
  required_params :p1, :p2
end</pre>

<p>Complicated pattern is also fine.</p>

<pre>get &#39;/complicated_keys&#39; do
  required_params :p1, :p2 =&gt; [:p3, :p4]
end</pre>

<h3>Classic Application</h3>

<p>In a classic application simply require the helpers, and start using them:</p>

<pre>require &quot;sinatra&quot;
require &quot;sinatra/required_params&quot;

# The rest of your classic application code goes here...</pre>

<h3>Modular Application</h3>

<p>In a modular application you need to require the helpers, and then tell the
application to use them:</p>

<pre>require &quot;sinatra/base&quot;
require &quot;sinatra/required_params&quot;

class MyApp &lt; Sinatra::Base
  helpers Sinatra::RequiredParams

  # The rest of your modular application code goes here...
end</pre>
