
<h1 id="label-Sinatra%3A%3AStreaming">Sinatra::Streaming<span><a href="#label-Sinatra%3A%3AStreaming">&para;</a> <a href="#documentation">&uarr;</a></span></h1>

<p>Sinatra 1.3 introduced the <code>stream</code> helper. This addon improves
the streaming API by making the stream object immitate an IO object, turing
it into a real Deferrable and making the body play nicer with middleware
unaware of streaming.</p>

<h2 id="label-IO-like+behavior">IO-like behavior<span><a href="#label-IO-like+behavior">&para;</a> <a href="#documentation">&uarr;</a></span></h2>

<p>This is useful when passing the stream object to a library expecting an IO
or StringIO object.</p>

<pre class="ruby"><span class="ruby-identifier">get</span> <span class="ruby-string">&#39;/&#39;</span> <span class="ruby-keyword">do</span>
  <span class="ruby-identifier">stream</span> <span class="ruby-keyword">do</span> <span class="ruby-operator">|</span><span class="ruby-identifier">out</span><span class="ruby-operator">|</span>
    <span class="ruby-identifier">out</span>.<span class="ruby-identifier">puts</span> <span class="ruby-string">&quot;Hello World!&quot;</span>, <span class="ruby-string">&quot;How are you?&quot;</span>
    <span class="ruby-identifier">out</span>.<span class="ruby-identifier">write</span> <span class="ruby-node">&quot;Written #{out.pos} bytes so far!\n&quot;</span>
    <span class="ruby-identifier">out</span>.<span class="ruby-identifier">putc</span>(<span class="ruby-value">65</span>) <span class="ruby-keyword">unless</span> <span class="ruby-identifier">out</span>.<span class="ruby-identifier">closed?</span>
    <span class="ruby-identifier">out</span>.<span class="ruby-identifier">flush</span>
  <span class="ruby-keyword">end</span>
<span class="ruby-keyword">end</span>
</pre>

<h2 id="label-Proper+Deferrable">Proper Deferrable<span><a href="#label-Proper+Deferrable">&para;</a> <a href="#documentation">&uarr;</a></span></h2>

<p>Handy when using EventMachine.</p>

<pre class="ruby"><span class="ruby-identifier">list</span> = []

<span class="ruby-identifier">get</span> <span class="ruby-string">&#39;/&#39;</span> <span class="ruby-keyword">do</span>
  <span class="ruby-identifier">stream</span>(:<span class="ruby-identifier">keep_open</span>) <span class="ruby-keyword">do</span> <span class="ruby-operator">|</span><span class="ruby-identifier">out</span><span class="ruby-operator">|</span>
    <span class="ruby-identifier">list</span> <span class="ruby-operator">&lt;&lt;</span> <span class="ruby-identifier">out</span>
    <span class="ruby-identifier">out</span>.<span class="ruby-identifier">callback</span> { <span class="ruby-identifier">list</span>.<span class="ruby-identifier">delete</span> <span class="ruby-identifier">out</span> }
    <span class="ruby-identifier">out</span>.<span class="ruby-identifier">errback</span> <span class="ruby-keyword">do</span>
      <span class="ruby-identifier">logger</span>.<span class="ruby-identifier">warn</span> <span class="ruby-string">&quot;lost connection&quot;</span>
      <span class="ruby-identifier">list</span>.<span class="ruby-identifier">delete</span> <span class="ruby-identifier">out</span>
    <span class="ruby-keyword">end</span>
  <span class="ruby-keyword">end</span>
<span class="ruby-keyword">end</span>
</pre>

<h2 id="label-Better+Middleware+Handling">Better Middleware Handling<span><a href="#label-Better+Middleware+Handling">&para;</a> <a href="#documentation">&uarr;</a></span></h2>

<p>Blocks passed to #map! or #map will actually be applied while streaming (as
you might suspect, #map! applies modifications to the current body, #map
creates a new one):</p>

<pre class="ruby"><span class="ruby-keyword">class</span> <span class="ruby-constant">StupidMiddleware</span>
  <span class="ruby-keyword">def</span> <span class="ruby-identifier">initialize</span>(<span class="ruby-identifier">app</span>) <span class="ruby-ivar">@app</span> = <span class="ruby-identifier">app</span> <span class="ruby-keyword">end</span>

  <span class="ruby-keyword">def</span> <span class="ruby-identifier">call</span>(<span class="ruby-identifier">env</span>)
    <span class="ruby-identifier">status</span>, <span class="ruby-identifier">headers</span>, <span class="ruby-identifier">body</span> = <span class="ruby-ivar">@app</span>.<span class="ruby-identifier">call</span>(<span class="ruby-identifier">env</span>)
    <span class="ruby-identifier">body</span>.<span class="ruby-identifier">map!</span> { <span class="ruby-operator">|</span><span class="ruby-identifier">e</span><span class="ruby-operator">|</span> <span class="ruby-identifier">e</span>.<span class="ruby-identifier">upcase</span> }
    [<span class="ruby-identifier">status</span>, <span class="ruby-identifier">headers</span>, <span class="ruby-identifier">body</span>]
  <span class="ruby-keyword">end</span>
<span class="ruby-keyword">end</span>

<span class="ruby-identifier">use</span> <span class="ruby-constant">StupidMiddleware</span>

<span class="ruby-identifier">get</span> <span class="ruby-string">&#39;/&#39;</span> <span class="ruby-keyword">do</span>
  <span class="ruby-identifier">stream</span> <span class="ruby-keyword">do</span> <span class="ruby-operator">|</span><span class="ruby-identifier">out</span><span class="ruby-operator">|</span>
    <span class="ruby-identifier">out</span>.<span class="ruby-identifier">puts</span> <span class="ruby-string">&quot;still&quot;</span>
    <span class="ruby-identifier">sleep</span> <span class="ruby-value">1</span>
    <span class="ruby-identifier">out</span>.<span class="ruby-identifier">puts</span> <span class="ruby-string">&quot;streaming&quot;</span>
  <span class="ruby-keyword">end</span>
<span class="ruby-keyword">end</span>
</pre>

<p>Even works if #each is used to generate an Enumerator:</p>

<pre class="ruby"><span class="ruby-keyword">def</span> <span class="ruby-identifier">call</span>(<span class="ruby-identifier">env</span>)
  <span class="ruby-identifier">status</span>, <span class="ruby-identifier">headers</span>, <span class="ruby-identifier">body</span> = <span class="ruby-ivar">@app</span>.<span class="ruby-identifier">call</span>(<span class="ruby-identifier">env</span>)
  <span class="ruby-identifier">body</span> = <span class="ruby-identifier">body</span>.<span class="ruby-identifier">each</span>.<span class="ruby-identifier">map</span> { <span class="ruby-operator">|</span><span class="ruby-identifier">s</span><span class="ruby-operator">|</span> <span class="ruby-identifier">s</span>.<span class="ruby-identifier">upcase</span> }
  [<span class="ruby-identifier">status</span>, <span class="ruby-identifier">headers</span>, <span class="ruby-identifier">body</span>]
<span class="ruby-keyword">end</span>
</pre>

<p>Note that both examples violate the Rack specification.</p>

<h2 id="label-Setup">Setup<span><a href="#label-Setup">&para;</a> <a href="#documentation">&uarr;</a></span></h2>

<p>In a classic application:</p>

<pre class="ruby"><span class="ruby-identifier">require</span> <span class="ruby-string">&quot;sinatra&quot;</span>
<span class="ruby-identifier">require</span> <span class="ruby-string">&quot;sinatra/streaming&quot;</span>
</pre>

<p>In a modular application:</p>

<pre class="ruby"><span class="ruby-identifier">require</span> <span class="ruby-string">&quot;sinatra/base&quot;</span>
<span class="ruby-identifier">require</span> <span class="ruby-string">&quot;sinatra/streaming&quot;</span>

<span class="ruby-keyword">class</span> <span class="ruby-constant">MyApp</span> <span class="ruby-operator">&lt;</span> <span class="ruby-constant">Sinatra</span><span class="ruby-operator">::</span><span class="ruby-constant">Base</span>
  <span class="ruby-identifier">helpers</span> <span class="ruby-constant">Sinatra</span><span class="ruby-operator">::</span><span class="ruby-constant">Streaming</span>
<span class="ruby-keyword">end</span>
</pre>
