
<h1>Sinatra::ConfigFile</h1>

<p><tt>Sinatra::ConfigFile</tt> is an extension that allows you to load the
application&#39;s configuration from YAML files.  It automatically detects
if the files contains specific environment settings and it will use the
corresponding to the current one.</p>

<p>You can access those options through <tt>settings</tt> within the
application. If you try to get the value for a setting that hasn&#39;t been
defined in the config file for the current environment, you will get
whatever it was set to in the application.</p>

<h2>Usage</h2>

<p>Once you have written your configurations to a YAML file you can tell the
extension to load them.  See below for more information about how these
files are interpreted.</p>

<p>For the examples, lets assume the following config.yml file:</p>

<pre>greeting: Welcome to my file configurable application</pre>

<h3>Classic Application</h3>

<pre>require &quot;sinatra&quot;
require &quot;sinatra/config_file&quot;

config_file &#39;path/to/config.yml&#39;

get &#39;/&#39; do
  @greeting = settings.greeting
  haml :index
end

# The rest of your classic application code goes here...</pre>

<h3>Modular Application</h3>

<pre>require &quot;sinatra/base&quot;
require &quot;sinatra/config_file&quot;

class MyApp &lt; Sinatra::Base
  register Sinatra::ConfigFile

  config_file &#39;path/to/config.yml&#39;

  get &#39;/&#39; do
    @greeting = settings.greeting
    haml :index
  end

  # The rest of your modular application code goes here...
end</pre>

<h3>Config File Format</h3>

<p>In its most simple form this file is just a key-value list:</p>

<pre>foo: bar
something: 42
nested:
  a: 1
  b: 2</pre>

<p>But it also can provide specific environment configuration.  There are two
ways to do that: at the file level and at the settings level.</p>

<p>At the settings level (e.g. in &#39;path/to/config.yml&#39;):</p>

<pre>development:
  foo: development
  bar: bar
test:
  foo: test
  bar: bar
production:
  foo: production
  bar: bar</pre>

<p>Or at the file level:</p>

<pre>foo:
  development: development
  test: test
  production: production
bar: bar</pre>

<p>In either case, <tt>settings.foo</tt> will return the environment name, and
<tt>settings.bar</tt> will return <tt>&quot;bar&quot;</tt>.</p>

<p>Be aware that if you have a different environment, besides development,
test and production, you will also need to adjust the <tt>environments</tt>
setting, otherwise the settings will not load.  For instance, when you also
have a staging environment:</p>

<pre>set :environments, %w{development test production staging}</pre>

<p>If you wish to provide defaults that may be shared among all the
environments, this can be done by using one of the existing environments as
the default using the YAML alias, and then overwriting values in the other
environments:</p>

<pre>development: &amp;common_settings
  foo: &#39;foo&#39;
  bar: &#39;bar&#39;

production:
  &lt;&lt;: *common_settings
  bar: &#39;baz&#39; # override the default value</pre>
