#sinatra-bg
  +media(max-width 920px)
    background-size: 150%
  background-image: url("/sinatra.github.com/images/sinatra-pre-svg.gif")
  background-repeat: no-repeat
  pre
    +media(max-width 1180px)
      height: 120%
    +media(max-width 777px)
      height: 100%
    border: none
    font-size: 1.6em
    line-height: 1.5em
    height: 100%

#sinatra-joke
  +media(max-width 1180px)
    display: none
  background-color: rgba(#FBFBFB, 0.0)
  margin:
    top: 0px
    bottom: 0px
  span
    letter-spacing: -1px

pre#sinatra-joke
  padding: 0em

#sinatra-syntax
  display: inline-block
  text-align: left
  +media(max-width 1180px)
    display: none
  font-family: anonymous_proregular, $helvetica

#syntax-wrapper
  text-align: center

// Code block syntax highlight colors

#require
  color: #E86652

#code-method-name
  color: #989599

.code-quotes
  color: #E24E3D

.code-text
  color: #5FC4C2

.code-block
  color: #96A700

#index-header
  +media(max-width 1180px)
    display: none
  margin:
    top: 0.9em
  text-align: center
  font-size: 7.2em
  color: #585551
  font-family: anonymous_proregular, $helvetica
  letter-spacing: 2px

// Kerning
span#s
  letter-spacing: -.07em

span#i
  letter-spacing: -.05em

span#n
  letter-spacing: .03em

span#a
  letter-spacing: -.03em

span#r
  letter-spacing: .05em
