#head
  ul li
    list-style-type: none

.index-navbar #navbar 
  display: flex
  justify-content: center
  +media(max-width 1180px)
    justify-content: space-between
    flex-direction: column

.index-navbar .nav-list-item
  flex-grow: 1
  margin-top: 15px

.index-navbar li#nav-logo
  flex-grow: 6
  +media(max-width 1180px)
    order: -9

#navbar
  background: white
  height: 73px
  li
  img
    margin-top: -15px
    &:hover
      opacity: .7
  a
    font-size: 1.1em
    color: #56534f
    text-decoration: none
    &:hover
      color: lighten(#56534f, 30%)
    +media(max-width 1180px)
      font-size: 5em
    +media(max-width 777px)
      font-size: 3em
