@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "anonymous_probold";
  src: url("fonts/anonymous-pro/anonymous_pro_b.woff2") format("woff2"), url("fonts/anonymous-pro/anonymous_pro_b.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "anonymous_probold_italic";
  src: url("fonts/anonymous-pro/anonymous_pro_bi.woff2") format("woff2"), url("fonts/anonymous-pro/anonymous_pro_bi.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "anonymous_proitalic";
  src: url("fonts/anonymous-pro/anonymous_pro_i.woff2") format("woff2"), url("fonts/anonymous-pro/anonymous_pro_i.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "anonymous_proregular";
  src: url("fonts/anonymous-pro/anonymous_pro.woff2") format("woff2"), url("fonts/anonymous-pro/anonymous_pro.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
#grid-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  #grid-wrapper::after {
    clear: both;
    content: "";
    display: table; }

#content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  #content::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 1000px) {
    #content {
      margin-left: 19.19206%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 61.61588%; }
      #content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 600px) {
    #content {
      margin-left: 2.55894%;
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 94.62885%; }
      #content:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    #content {
      margin-left: 8.05672%;
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 83.05262%; }
      #content:last-child {
        margin-right: 0; } }

#head ul li {
  list-style-type: none; }

.index-navbar #navbar, #navbar {
  display: flex;
  justify-content: center; }

.index-navbar .nav-list-item, .nav-list-item {
  flex-grow: 1;
  margin-top: 15px; }

.index-navbar li#nav-logo, li#nav-logo {
  flex-grow: 6; }

.index-navbar #navbar a, #navbar a, #hidden-navbar a, .index-navbar #navbar a {
  font-size: 1.1em;
  color: #56534f; }
  .index-navbar #navbar a:hover, #navbar a:hover, #hidden-navbar a:hover, .index-navbar #navbar a:hover {
    color: #a3a09b;
    color: #3A99D8; }

.index-navbar #navbar, #navbar {
  background: white;
  flex-shrink: 0; }
  @media screen and (max-width: 1180px) {
    .index-navbar #navbar, #navbar {
      background-color: rgba(255, 255, 255, 0); } }
  .index-navbar #navbar img, #navbar img {
    margin-top: -15px; }
    .index-navbar #navbar img:hover, #navbar img:hover {
      opacity: 0.7; }
  .index-navbar #navbar a, #navbar a {
    font-family: anonymous_probold, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    text-decoration: none; }

.nav-list-item {
  visibility: visible; }
  @media screen and (max-width: 1000px) {
    .nav-list-item {
      visibility: hidden; } }

#hidden-navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #ededed; }
  #hidden-navbar li {
    flex-grow: 2;
    align-self: flex-end;
    margin-right: 12px;
    padding-bottom: 15px; }
  #hidden-navbar a {
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    text-decoration: none; }

.index-navbar .hidden-nav-list-item {
  display: none; }

.index-navbar #hidden-navbar {
  display: none; }

@media screen and (max-width: 1180px) {
  .index-navbar #navbar {
    justify-content: space-between;
    flex-direction: column; } }
@media screen and (max-width: 1180px) {
  .index-navbar #navbar a {
    font-size: 5em; } }
@media screen and (max-width: 777px) {
  .index-navbar #navbar a {
    font-size: 3em; } }
@media screen and (max-width: 500px) {
  .index-navbar #navbar a {
    font-size: 2.3em; } }

@media screen and (max-width: 1000px) {
  #navbar {
    justify-content: flex-end; } }

@media screen and (max-width: 1000px) {
  .index-navbar #navbar li {
    visibility: visible; } }

@media screen and (max-width: 1180px) {
  .index-navbar #nav-logo {
    order: -9; } }
@media screen and (max-width: 1000px) {
  .index-navbar #nav-logo {
    display: inline; } }

.index-navbar #toggle-nav-logo {
  display: none; }

@media screen and (max-width: 1000px) {
  #nav-logo {
    display: none; } }

li#toggle-nav-logo {
  display: none; }
  @media screen and (max-width: 1000px) {
    li#toggle-nav-logo {
      display: inline;
      visibility: visible; } }

#hidden-navbar-wrapper {
  display: none; }
  @media screen and (min-width: 1001px) {
    #hidden-navbar-wrapper {
      display: none; } }

#sinatra-bg {
  background-image: url("/sinatra.github.com/images/sinatra-pre-svg.gif");
  background-repeat: no-repeat; }
  @media screen and (max-width: 920px) {
    #sinatra-bg {
      background-size: 150%; } }
  #sinatra-bg pre {
    border: none;
    font-size: 1.6em;
    line-height: 1.5em;
    height: 100%; }
    @media screen and (max-width: 1180px) {
      #sinatra-bg pre {
        height: 120%; } }
    @media screen and (max-width: 777px) {
      #sinatra-bg pre {
        height: 100%; } }

#sinatra-joke {
  background-color: rgba(251, 251, 251, 0);
  margin-top: 0px;
  margin-bottom: 0px; }
  @media screen and (max-width: 1180px) {
    #sinatra-joke {
      display: none; } }
  #sinatra-joke span {
    letter-spacing: -1px; }

#sinatra-syntax {
  display: inline-block;
  text-align: left;
  font-family: anonymous_proregular, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }
  @media screen and (max-width: 1180px) {
    #sinatra-syntax {
      display: none; } }

#syntax-wrapper {
  text-align: center; }

#require {
  color: #E86652; }

#code-method-name {
  color: #989599; }

.code-quotes {
  color: #E24E3D; }

.code-text {
  color: #5FC4C2; }

.code-block {
  color: #96A700; }

#index-header {
  margin-top: 0.9em;
  text-align: center;
  font-size: 7.2em;
  color: #585551;
  font-family: anonymous_proregular, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  letter-spacing: 2px; }
  @media screen and (max-width: 1180px) {
    #index-header {
      display: none; } }

span#s {
  letter-spacing: -0.07em; }

span#i {
  letter-spacing: -0.05em; }

span#n {
  letter-spacing: 0.03em; }

span#a {
  letter-spacing: -0.03em; }

span#r {
  letter-spacing: 0.05em; }

h1 a, h3 a, a {
  color: #3A99D8; }
  h1 a:hover, h3 a:hover, a:hover {
    color: #2F81B7; }

a:hover {
  border-bottom: 1px solid #2F81B7; }

#navbar a, #hidden-navbar a, .toc a, h1 a, h3 a {
  border-bottom: none; }
  #navbar a:hover, #hidden-navbar a:hover, .toc a:hover, h1 a:hover, h3 a:hover {
    border-bottom: none; }

h1, h2, h3, h4, h5 {
  color: #56534f;
  font-family: anonymous_probold, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }

h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  line-height: 1em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h3 a {
  padding-bottom: 2px; }

#blog h1 {
  text-transform: none;
  margin-bottom: 0.4em; }

#sinatra-syntax h1 {
  line-height: 0em; }

p, p.meta {
  font-family: fira, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  color: #56534f;
  line-height: 1.5em; }

#about li {
  list-style-type: none; }

#about #content li {
  margin-bottom: 0.6em; }

#about #content li:before {
  content: "• ";
  content: "<3 ";
  color: DeepPink; }
