@charset "UTF-8";
body {
  color: #222;
  font-family: "Lucida Grande", "Lucida Sans", Tahoma, Ubuntu sans-serif;
  font-size: 100%;
  line-height: 1.25;
  background-color: #FAFAFA;
  margin: 0;
  padding: 0; }

/* HEADER */
#head img {
  vertical-align: middle;
  border: 0;
  box-sizing: border-box; }

#head ul {
  font-size: 1.1em;
  font-family: "lucida console", "monaco", "andale mono", "bitstream vera sans mono", "consolas", monospace;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
  padding: 8px 40px 0.25em 40px; }

/* CONTENT */
/*************************** */
#content {
  color: #111;
  max-width: 52em;
  min-width: 27em;
  margin: 7px auto;
  padding-top: 10px; }

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  color: #000; }

h1 a, h2 a, h3 a {
  color: #000; }

h1 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 0; }

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin: 1.25em 0 -0.32em 0; }

h3 {
  font-size: 1.1em;
  letter-spacing: -1px;
  margin: 1.8em 0 -0.25em 0; }

h3 code {
  font-size: 1.1em;
  color: #000; }

/* LINKS */
a {
  color: #000;
  text-decoration: none; }

a:hover {
  color: #910;
  text-decoration: none; }

a img {
  border: none; }

a.out {
  background: url("/images/link-out.gif") center right no-repeat;
  padding-right: 12px; }

/* CODE */
code, pre, textarea, tt {
  font-family: "lucida console", "monaco", "andale mono", "bitstream vera sans mono", "consolas", monospace; }

pre {
  font-size: 0.85em;
  background: #f4f5f5;
  border: 2px solid #d5d0d2;
  padding: 0.5em;
  line-height: 1.15;
  color: #111; }

code, tt {
  font-size: 0.85em;
  color: #222; }

h1 code, h2 code, h3 code, h4 code {
  color: #111; }

pre code {
  font-size: 1em;
  color: #222; }

pre {
  background-color: #F4F5F5;
  border: 1px solid #D5D0D2; }

/* README */
.toc {
  background: #f4f5f5;
  border: 1px solid #d5d0d2;
  line-height: 1.15;
  color: #111;
  top: -3.5em;
  font-size: 1em; }

.toc a {
  text-decoration: none; }

.toc .level-1 {
  padding-left: 2em;
  font-size: 0.8em;
  position: relative;
  top: -0.1em; }

.toc .level-2 {
  list-style-type: none;
  font-weight: normal;
  padding-left: 1em; }

.toc .level-1 > li {
  margin: 0.05em; }

.toc .level-1 > li a {
  font-weight: bold;
  font-size: 1.25em;
  position: relative;
  top: 0.1em; }

.toc h2 {
  padding-top: 0;
  margin-top: 0; }

pre {
  overflow: hidden; }

/* BLOG POSTS */
div.post {
  margin: 4em 0; }

div.post:first-child {
  margin: 2em 0; }

div.post:last-child {
  margin: 2em 0 4.5em 0; }

div.post h1 a {
  text-decoration: none; }

/* ABOUT PAGE */
body#about #content strong,
body#about #content a {
  font-weight: bold; }

/* THE BOOK */
#book .maruku_toc {
  margin: 1em 0; }

#book .maruku_toc ul:first-child {
  padding-left: 0; }

#book pre {
  overflow: auto; }

h2 code.highlighter-rouge,
h3 code.highlighter-rouge,
p code.highlighter-rouge {
  background-color: #E9F6FF;
  border: 1px solid #DEF2FE;
  text-shadow: 0 1px 0 white; }

h2 code.highlighter-rouge,
h3 code.highlighter-rouge {
  padding: 4px;
  color: #56534F; }

p code.highlighter-rouge {
  padding: 3px;
  color: #4A4844; }

.CodeRay span,
.highlight span,
.highlight code {
  line-height: 1.5em; }

ul li,
.toc li {
  line-height: 1.5em; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "anonymous_probold";
  src: url("fonts/anonymous-pro/anonymous_pro_b.woff2") format("woff2"), url("fonts/anonymous-pro/anonymous_pro_b.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "anonymous_probold_italic";
  src: url("fonts/anonymous-pro/anonymous_pro_bi.woff2") format("woff2"), url("fonts/anonymous-pro/anonymous_pro_bi.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "anonymous_proitalic";
  src: url("fonts/anonymous-pro/anonymous_pro_i.woff2") format("woff2"), url("fonts/anonymous-pro/anonymous_pro_i.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "anonymous_proregular";
  src: url("fonts/anonymous-pro/anonymous_pro.woff2") format("woff2"), url("fonts/anonymous-pro/anonymous_pro.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
#grid-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  #grid-wrapper::after {
    clear: both;
    content: "";
    display: table; }

#content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  #content::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 1000px) {
    #content {
      margin-left: 20.25829%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 59.48343%; }
      #content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 600px) {
    #content {
      margin-left: 2.55894%;
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 94.62885%; }
      #content:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    #content {
      margin-left: 8.05672%;
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 83.05262%; }
      #content:last-child {
        margin-right: 0; } }

#head ul li {
  list-style-type: none; }

.index-navbar #navbar,
#navbar {
  display: flex;
  justify-content: center; }

.index-navbar .nav-list-item,
.nav-list-item {
  flex-grow: 1;
  margin-top: 15px; }

.index-navbar li#nav-logo,
li#nav-logo {
  flex-grow: 6; }

.index-navbar #navbar a,
#navbar a,
#hidden-navbar a,
.index-navbar #navbar a {
  font-size: 1.1em;
  color: #56534f; }
  .index-navbar #navbar a:hover,
  #navbar a:hover,
  #hidden-navbar a:hover,
  .index-navbar #navbar a:hover {
    color: #a3a09b;
    color: #3A99D8; }

.index-navbar #navbar,
#navbar {
  background: white;
  flex-shrink: 0; }
  @media screen and (max-width: 1180px) {
    .index-navbar #navbar,
    #navbar {
      background-color: rgba(255, 255, 255, 0); } }
  .index-navbar #navbar img,
  #navbar img {
    margin-top: -15px; }
    .index-navbar #navbar img:hover,
    #navbar img:hover {
      opacity: 0.7; }
  .index-navbar #navbar a,
  #navbar a {
    font-family: anonymous_probold, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    text-decoration: none; }

.nav-list-item {
  visibility: visible; }
  @media screen and (max-width: 1000px) {
    .nav-list-item {
      visibility: hidden; } }

#hidden-navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #ededed; }
  #hidden-navbar li {
    flex-grow: 2;
    align-self: flex-end;
    margin-right: 12px;
    padding-bottom: 15px; }
  #hidden-navbar a {
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    text-decoration: none; }

.index-navbar .hidden-nav-list-item {
  display: none; }

.index-navbar #hidden-navbar {
  display: none; }

@media screen and (max-width: 1180px) {
  .index-navbar #navbar {
    justify-content: space-between;
    flex-direction: column; } }
@media screen and (max-width: 1180px) {
  .index-navbar #navbar a {
    font-size: 5em; } }
@media screen and (max-width: 777px) {
  .index-navbar #navbar a {
    font-size: 3em; } }
@media screen and (max-width: 500px) {
  .index-navbar #navbar a {
    font-size: 2.3em; } }

@media screen and (max-width: 1000px) {
  #navbar {
    justify-content: flex-end; } }

@media screen and (max-width: 1000px) {
  .index-navbar #navbar li {
    visibility: visible; } }

@media screen and (max-width: 1180px) {
  .index-navbar #nav-logo {
    order: -9; } }
@media screen and (max-width: 1000px) {
  .index-navbar #nav-logo {
    display: inline; } }

.index-navbar #toggle-nav-logo {
  display: none; }

@media screen and (max-width: 1000px) {
  #nav-logo {
    display: none; } }

li#toggle-nav-logo {
  display: none; }
  @media screen and (max-width: 1000px) {
    li#toggle-nav-logo {
      display: inline;
      visibility: visible; } }

#hidden-navbar-wrapper {
  display: none; }
  @media screen and (min-width: 1001px) {
    #hidden-navbar-wrapper {
      display: none; } }

#sinatra-bg {
  background-image: url("/sinatra.github.com/images/sinatra-pre-svg.gif");
  background-repeat: no-repeat; }
  @media screen and (max-width: 920px) {
    #sinatra-bg {
      background-size: 150%; } }
  #sinatra-bg pre {
    border: none;
    font-size: 1.6em;
    line-height: 1.5em;
    height: 100%; }
    @media screen and (max-width: 1180px) {
      #sinatra-bg pre {
        height: 120%; } }
    @media screen and (max-width: 777px) {
      #sinatra-bg pre {
        height: 100%; } }

#sinatra-joke {
  background-color: rgba(251, 251, 251, 0);
  margin-top: 0px;
  margin-bottom: 0px; }
  @media screen and (max-width: 1180px) {
    #sinatra-joke {
      display: none; } }
  #sinatra-joke span {
    letter-spacing: -1px; }

#sinatra-syntax {
  display: inline-block;
  text-align: left;
  font-family: anonymous_proregular, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }
  @media screen and (max-width: 1180px) {
    #sinatra-syntax {
      display: none; } }

#syntax-wrapper {
  text-align: center; }

#require {
  color: #E86652; }

#code-method-name {
  color: #989599; }

.code-quotes {
  color: #E24E3D; }

.code-text {
  color: #5FC4C2; }

.code-block {
  color: #96A700; }

#index-header {
  margin-top: 0.9em;
  text-align: center;
  font-size: 7.2em;
  color: #585551;
  font-family: anonymous_proregular, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  letter-spacing: 2px; }
  @media screen and (max-width: 1180px) {
    #index-header {
      display: none; } }

span#s {
  letter-spacing: -0.07em; }

span#i {
  letter-spacing: -0.05em; }

span#n {
  letter-spacing: 0.03em; }

span#a {
  letter-spacing: -0.03em; }

span#r {
  letter-spacing: 0.05em; }

h1 a,
h3 a,
a {
  color: #3A99D8; }
  h1 a:hover,
  h3 a:hover,
  a:hover {
    color: #2F81B7; }

a:hover {
  border-bottom: 1px solid #2F81B7; }

#navbar a, #hidden-navbar a, .toc a, h1 a, h3 a {
  border-bottom: none; }
  #navbar a:hover, #hidden-navbar a:hover, .toc a:hover, h1 a:hover, h3 a:hover {
    border-bottom: none; }

h1,
h2,
h3,
h4,
h5 {
  color: #56534f;
  font-family: anonymous_probold, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }

h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  line-height: 1em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h3 a {
  padding-bottom: 2px; }

#blog h1 {
  text-transform: none;
  margin-bottom: 0.4em; }

#sinatra-syntax h1 {
  line-height: 0em; }

p,
p.meta {
  font-family: fira, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  color: #56534f;
  line-height: 1.5em; }

#about li {
  list-style-type: none; }

#about #content li {
  margin-bottom: 0.6em; }

#about #content li:before {
  content: "• ";
  content: "<3 ";
  color: DeepPink; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

.highlight .k {
  font-weight: bold; }

.highlight .o {
  font-weight: bold; }

.highlight .cm {
  color: #999988;
  font-style: italic; }

.highlight .cp {
  color: #999999;
  font-weight: bold; }

.highlight .c1 {
  color: #999988;
  font-style: italic; }

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

.highlight .ge {
  font-style: italic; }

.highlight .gr {
  color: #aa0000; }

.highlight .gh {
  color: #999999; }

.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

.highlight .go {
  color: #888888; }

.highlight .gp {
  color: #555555; }

.highlight .gs {
  font-weight: bold; }

.highlight .gu {
  color: #aaaaaa; }

.highlight .gt {
  color: #aa0000; }

.highlight .kc {
  font-weight: bold; }

.highlight .kd {
  font-weight: bold; }

.highlight .kp {
  font-weight: bold; }

.highlight .kr {
  font-weight: bold; }

.highlight .kt {
  color: #445588;
  font-weight: bold; }

.highlight .m {
  color: #009999; }

.highlight .s {
  color: #444; }

.highlight .na {
  color: #008080; }

.highlight .nb {
  color: #0086B3; }

.highlight .nc {
  color: #445588;
  font-weight: bold; }

.highlight .no {
  color: #008080; }

.highlight .ni {
  color: #800080; }

.highlight .ne {
  color: #990000;
  font-weight: bold; }

.highlight .nf {
  color: #990000;
  font-weight: bold; }

.highlight .nn {
  color: #555555; }

.highlight .nt {
  color: #000080; }

.highlight .nv {
  color: #008080; }

.highlight .ow {
  font-weight: bold; }

.highlight .w {
  color: #bbbbbb; }

.highlight .mf {
  color: #009999; }

.highlight .mh {
  color: #009999; }

.highlight .mi {
  color: #009999; }

.highlight .mo {
  color: #009999; }

.highlight .sb {
  color: #444; }

.highlight .sc {
  color: #444; }

.highlight .sd {
  color: #444; }

.highlight .s2 {
  color: #444; }

.highlight .se {
  color: #444; }

.highlight .sh {
  color: #444; }

.highlight .si {
  color: #444; }

.highlight .sx {
  color: #444; }

.highlight .sr {
  color: #009926; }

.highlight .s1 {
  color: #444; }

.highlight .ss {
  color: #990073; }

.highlight .bp {
  color: #999999; }

.highlight .vc {
  color: #008080; }

.highlight .vg {
  color: #008080; }

.highlight .vi {
  color: #008080; }

.highlight .il {
  color: #009999; }
