body {
  color:#222;
  font-family: 'Lucida Grande', 'Lucida Sans', Tahoma, Ubuntu sans-serif;
  font-size:100%;
  line-height:1.25;
  background-color:#FAFAFA;
  margin:0;
  padding:0;
}

/* HEADER */

#head img {
  vertical-align:middle;
  border:0;
  box-sizing: border-box;
}

#head ul {
  font-size:1.1em;
  font-family:"lucida console", "monaco", "andale mono", "bitstream vera sans mono",
    "consolas", monospace;
  font-weight:normal;
  text-transform:uppercase;
  letter-spacing:2px;
  text-align:center;
  margin:0;
  padding:8px 40px 0.25em 40px;
}

/* CONTENT */

/***************************
****************************

#content {
  color:#111;
  max-width:52em;
  min-width:27em;
  margin:7px auto;
  padding-top:10px;
}

****************************
***************************/

/* HEADINGS */

h1, h2, h3, h4, h5, h6 { color:#000 }
h1 a, h2 a, h3 a { color:#000 }
h1 {
  font-size:2em;
  letter-spacing:-1px;
  margin-bottom:0;
}
h2 {
  font-size:1.5em;
  letter-spacing:-1px;
  margin:1.25em 0 -0.32em 0;
}
h3 {
  font-size:1.1em;
  letter-spacing:-1px;
  margin:1.8em 0 -0.25em 0;
}
h3 code {
  font-size:1.1em;
  color:#000;
}

/* LINKS */

a {
  color:#000;
  text-decoration: none;
}
a:hover {
  color:#910;
  text-decoration: none;
}
a img {
  border:none;
}
a.out {
  background: url('/images/link-out.gif') center right no-repeat;
  padding-right: 12px;
}


/* CODE */

code, pre, textarea, tt {
  font-family:"lucida console", "monaco", "andale mono", "bitstream vera sans mono",
    "consolas", monospace;
}
pre {
  font-size:0.85em;
  background:#f4f5f5;
  border:2px solid #d5d0d2;
  padding:0.5em;
  line-height:1.15;
  color:#111;
}
code, tt {
  font-size:0.85em;
  color:#222;
}
h1 code, h2 code, h3 code, h4 code {
  color:#111;
}

pre code {
  font-size:1em;
  color:#222;
}

pre {
  background-color:#F4F5F5;
  border:1px solid #D5D0D2;
}

/* README */
.toc {
  background:#f4f5f5;
  border:1px solid #d5d0d2;
  line-height:1.15;
  color:#111;
  top: -3.5em;
  font-size: 1em;
}
.toc a {
  text-decoration: none;
}
.toc .level-1 {
  padding-left: 2em;
  font-size:0.8em;
  position: relative;
  top: -0.1em;
}
.toc .level-2 {
  list-style-type: none;
  font-weight: normal;
  padding-left: 1em;
}
.toc .level-1 > li {
  margin: 0.05em;
}
.toc .level-1 > li a {
  font-weight: bold;
  font-size: 1.25em;
  position: relative;
  top: 0.1em;
}
.toc h2 {
  padding-top: 0;
  margin-top: 0;
}
pre {
  overflow: hidden;
}

/* BLOG POSTS */

div.post { margin:4em 0 }
div.post:first-child { margin: 2em 0 }
div.post:last-child { margin: 2em 0 4.5em 0 }
div.post h1 a { text-decoration:none }

/* ABOUT PAGE */

body#about #content strong, body#about #content a {
  font-weight:bold;
}

/* THE BOOK */
#book .maruku_toc {
  margin:1em 0;
}
#book .maruku_toc ul:first-child {
  padding-left:0;
}
#book pre {
  overflow:auto;
}

h2 code.highlighter-rouge, 
h3 code.highlighter-rouge,
p code.highlighter-rouge {
  background-color: #E9F6FF;
  border: 1px solid #DEF2FE;
  text-shadow: 0 1px 0 rgba(255,255,255,6.0);
}

h2 code.highlighter-rouge, 
h3 code.highlighter-rouge {
  padding: 4px;
  color: #56534F;
}

p code.highlighter-rouge {
  padding: 3px;
  color: #4A4844;
}
