<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ page.title }}</title>
    <link href="/css/sinatra.css" rel="stylesheet" type="text/css">
    <link href="/images/favicon.ico" rel="shortcut icon">
  </head>
  <body>
    <div id="content">
      <a href="/"><img alt="" height="108" src="/images/logo.gif" width="156"></a>
      <div id="navigation">
        <ul>
          <li><a href="/">The Hat</a></li>
          <li><a href="/book.html">The Book</a></li>
          <li><a href="/api/index.html">The API</a></li>
          <li><a href="http://github.com/sinatra/sinatra">The Source</a></li>
        </ul>
      </div>
      <div class="inner">
        {{ content }}
      </div>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-7097403-2");
        pageTracker._trackPageview();
        } catch(err) {}
    </script>
  </body>
</html>
