<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href="/css/sinatra.css" rel="stylesheet" type="text/css">
    <link href="/images/favicon.ico" rel="shortcut icon">
  </head>
  <body>
    <div id="content">
      <a href="/">
        <img alt="" height="108" src="images/logo.gif" width="156">
      </a>
      <div id="navigation">
        <ul>
          <li>
            <a href="/">The Hat</a>
          </li>
          <li>
            <a href="/book.html">The Book</a>
          </li>
          <li>
            <a href="/api/index.html">The API</a>
          </li>
          <li>
            <a href="http://github.com/sinatra/sinatra">The Source</a>
          </li>
        </ul>
      </div>
      <div class="inner">
        {{ content }}
      </div>
    </div>
  </body>
</html>
