<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{ page.title }}</title>
  <link rel='stylesheet' href='/css/legend.css' type='text/css'>
  <link rel='stylesheet' href='/css/syntax.css' type='text/css'>
  <link rel='shortcut icon' href='/images/favicon.ico'>
  <link rel='alternate' href='http://sinatra.github.com/feed.xml' type='application/atom+xml' title='Sinatra Blog'>
</head>
<body id='{{ page.id }}'>

<div id='wrap'>

  <div id='head'>
    <h1><a href='/'><img src="/images/logo.gif" height='59' width='86' alt="">Sinatra</a></h1>
    <ul>
      <li><a href='/intro.html'>README</a></li>
      <li><a href='/documentation.html'>Documentation</a></li>
      <li><a href='/contributing.html'>Contribute</a></li>
      <li><a href='/blog.html'>Blog</a></li>
      <li><a class="out" href='http://github.com/sinatra/sinatra'>Code</a></li>
      <li><a href='/about.html'>About</a></li>
    </ul>
  </div>

  <div id='content'>
    {{ content }}
  </div>

  <div id='foot'>
  </div>

</div>

<a href="http://github.com/sinatra"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" /></a>

<!-- Google Analytics -->
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-7097403-2");
    pageTracker._trackPageview();
    } catch(err) {}
</script>
</body>
</html>
